﻿
<div id="err-display" class="no-offender-results">
    <p class="body-bold">
        <img src="/images/global/icons/declined.svg"
             aria-hidden="true"
             alt="" />
        @foreach (var err in TempData["SearchErrors"] as List<string>)
        {
            <span id="search-err-message">@err</span>
        }
    </p>
    <p id="search-err-disclaimer"></p>
</div>