﻿
<div id="results-sort" class="button-group">
    <h2>Search Results</h2>
    <p class="button-group-title">Sort by: </p>
    <ul>
        <li>
            <button class="active" id="name-sort"><span class="accessibility-hidden">Sort results by</span>Name</button>
        </li>
        <li>
            <button id="location-sort"><span class="accessibility-hidden">Sort results by</span>Location</button>
        </li>
        <li>
            <button id="date-sort"><span class="accessibility-hidden">Sort results by</span>Release Date</button>
        </li>
    </ul>
</div>
<ul id="result-cards">
    @foreach (var offender in TempData["OffenderSearchResults"] as IEnumerable
    <vadoc_public_website_redesign.Models.Offender>
        )
    {
        <li class="result">
            <input type="checkbox" class="conditional-trigger" id="card-flip-trigger-@offender.OffenderId" name="card-flip-trigger-@offender.OffenderId" />
            <ul class="result-data clear-fix">
                <label class="front-card-flip" for="card-flip-trigger-@offender.OffenderId">
                    <div></div>
                </label>
                <li class="result-subgroup col-7 mar-r-1 mar-l-1">
                    <dl>
                        <dt class="personal-info">Personal Information</dt>
                        <dd class="h2-style name card-front">@offender.FullName</dd>
                        <dt class="alias-label card-back">Alias:&nbsp;</dt>
                        <dd class="alias card-back">
                            <p>N/A</p>
                        </dd>
                        <dt class="accessibility-hidden">Age/Race/Sex</dt>
                        <dd class="ars"><p>@offender.Age/@offender.Race/@offender.Gender</p></dd>
                    </dl>
                </li>
                <li class="result-subgroup col-4 card-front">
                    <dl>
                        <dt>Offender I.D.#</dt>
                        <dd class="h2-style">@offender.OffenderId</dd>
                    </dl>
                </li>
                <li class="result-subgroup col-6 mar-r-1 card-front location-subgroup">
                    <dl>
                        <dt>Location</dt>
                        <dd class="h2-style multiline-heading location">@offender.LocationName</dd>
                    </dl>
                </li>
                <li class="result-subgroup col-4 mar-r-1 card-back">
                    <dl>
                        <dt>Release Date</dt>
                        <dd class="h2-style date">@(string.IsNullOrEmpty(offender.ProjectedReleaseDate) ? "N/A" : offender.ProjectedReleaseDate)</dd>
                    </dl>
                </li>
                <li class="result-subgroup col-3 card-back">
                    <dl>
                        <dt class="accessibility-hidden">J-Pay send funds to this offender</dt>
                        <dd class="result-jpay">
                            <div class="tooltip">
                                <h2>JPay</h2>
                                <p>Send funds to offender</p>
                            </div>
                            <a href="#">
                                <img src="~/images/public-resources/j-pay.svg" class="card-icon" alt="j-pay icon" />
                                <span>Send Money</span>
                            </a>
                        </dd>
                        <dt class="accessibility-hidden">Offender Visitation</dt>
                        <dd class="result-offender-page">
                            <div class="tooltip">
                                <p>See offender's location on a map</p>
                            </div>
                            <a href="#">
                                <img src="~/images/public-resources/visit.svg" class="card-icon" alt="offender visitation icon" />
                                <span> Apply to Visit</span>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </li>

    }
</ul>
