﻿@inherits UmbracoViewPage<vadoc_public_website_redesign.Models.OffenderSearchModel>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@using Umbraco.Web.Mvc;

@using (Ajax.BeginForm("GetOffenders", "OffenderDataSurface", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "offender-search",
    OnSuccess = "searchSuccess",
    LoadingElementId = "loading-indicator"

}, new { autocomplete = "off", @Id = "offender-locator-form" }))
{
    @Html.AntiForgeryToken()
    if (TempData["ModelErrors"] != null)
    {
        var errors = (List<string>)TempData["ModelErrors"];
    }

    <!-- Offender Locator Form fields  -->
    <fieldset id="required-fields">
        <legend class="accessibility-hidden">A first and last name or an offender I.D. number is required</legend>
        <div class="content-wrapper">
            <h2>Required Information</h2>

            <input id="clear-form" class="link-style" type="reset" value="Clear Form">

            <label class="col-9 mar-r-1" for="first-name">
                <span class="label">First Name</span>
                @Html.TextBoxFor(x => x.FirstNameLowercase, new { @Id = "first-name", @Class = "validate", name = "first-name", data_validate = "name", @Value = TempData["FirstName"] })
                @Html.ValidationMessageFor(x => x.FirstNameLowercase)
            </label>
            <label class="col-8" for="last-name">
                <span class="label">Last Name</span>
                @Html.TextBoxFor(x => x.LastNameLowercase, new { @Id = "last-name", @Class = "validate", name = "last-name", data_validate = "name", @Value = TempData["LastName"] })
                @Html.ValidationMessageFor(x => x.LastNameLowercase)
            </label>

            <div id="or-divider-wrap">
                <div class="vertical-line"></div>
                <p class="or-divider">or</p>
                <div class="vertical-line"></div>
            </div>
            <label class="col-9" for="offender-id">
                <span class="label">Offender I.D. #</span>
                @Html.TextBoxFor(x => x.OffenderId, new { @Id = "offender-id", @Class = "validate", name = "offender-id", @Value = TempData["OffenderId"] })
                @Html.ValidationMessageFor(x => x.OffenderId)
            </label>
            <button class="primary-button submit-form" type="submit">Locate</button>
            <label id="show-optional-offender-info" for="show-optional">Show more search options</label>
        </div>
    </fieldset>
    <input class="conditional-trigger" type="checkbox" name="show-optional" id="show-optional">
    <fieldset class="conditional-fields" id="optional-fields">
        <legend class="accessibility-hidden">The following form fields are optional.</legend>
        <div class="content-wrapper clear-fix">
            <h2>Optional Information</h2>
            <label class="col-9 mar-r-1" for="middle-name">
                <span class="label">Middle Name</span>
                @Html.TextBoxFor(x => x.MiddleNameLowercase, new { @Id = "middle-name", @Class = "validate", name = "middle-name", data_validate = "name", @Value = TempData["MiddleName"] })
            </label>
            <label class="col-9 mar-r-1" for="alias">
                <span class="label">Alias</span>
                @Html.TextBoxFor(x => x.Alias, new { @Id = "alias", @Class = "validate", name = "alias", data_validate = "name", @Value = TempData["Alias"] })
            </label>
            <label class="col-9" for="location">
                <span class="label">Location</span>
                <select name="location" id="location">
                    <option value="" disabled selected>blank</option>
                    <option value="">virginia womens correctional center</option>
                    <option value="">location option</option>
                    <option value="">location option</option>
                </select>
            </label>
            <div class="offender-input-group col-9 mar-r-1">
                <label class="date-picker wrapping-label" for="release-date">
                    <span class="label">Release Date</span>
                    @Html.TextBoxFor(x => x.ReleaseDate, new { @Id = "release-date", name = "release-date", @Class = "has-datepicker validate", placeholder = "dd/mm/yyyy", data_validate = "date" })
                    <img class="calendar-icon" src="/images/global/icons/calendar.svg" aria-hidden="true">
                    @Html.ValidationMessageFor(x => x.ReleaseDate)
                </label>
            </div>
            <label class="col-4 mar-r-1" for="age-from">
                <span class="label">Age From</span>
                @Html.EditorFor(x => x.AgeFrom, new { htmlAttributes = new { @type = "number", @min = "18", @max = "100", @step = "1", @value = TempData["AgeFrom"], @id = "age-from", name = "age-from" } })
                @Html.ValidationMessageFor(x => x.AgeFrom)
            </label>
            <label class="col-4 mar-r-1" for="age-to">
                <span class="label">Age To</span>
                @Html.EditorFor(x => x.AgeTo, new { htmlAttributes = new { @type = "number", @min = "18", @max = "100", @step = "1", @value = TempData["AgeTo"], @id = "age-to", name = "age-to" } })
                @Html.ValidationMessageFor(x => x.AgeTo)
            </label>
            <label class="col-4 mar-r-1" for="sex">
                <span class="label">Sex</span>
                @Html.DropDownListFor(x => x.Gender, new SelectList(new string[] { "", "male", "female" }, TempData["Gender"]), new { @Id = "sex", name = "sex" })
            </label>
            <label class="col-4" for="race">
                <span class="label">Race</span>
                @Html.DropDownListFor(x => x.Race, new SelectList(new string[] { "", "American Indian or Alaskan Native", "Asian or Pacific Islander", "Black", "White" }, TempData["Race"]), new { @Id = "race", name = "race" })
            </label>
            <button class="primary-button submit-form" type="submit">Locate</button>
            <hr />
        </div>
    </fieldset>
}


@if (TempData["OffenderSearchResults"] != null)
{
    <div id="offender-search-results" class="content-wrapper">
        @{
            Html.RenderAction("RenderOffenderSearchResults", "PublicResourcesSurface");
        }
    </div>
}
else if (TempData["SearchErrors"] != null)
{
    <div id="offender-search-results" class="content-wrapper">
        @{
            Html.RenderAction("RenderOffenderSearchNoResults", "PublicResourcesSurface");
        }
    </div>
}

<!-- Loading Indicator -->
    @Html.Partial("SiteLayout/LoadingIndicator")
<!-- Disclaimer -->
<div class="content-wrapper">
    <div id="disclaimer">
        <h2>Disclaimer</h2>
        <p>The release date shown in the offender locator are approximations and may not display the most updated information. If you have questions or concerns regarding release dates, please refer to the Time <a href="">Computation section</a>.</p>
    </div>
</div>

