﻿@using Examine.LuceneEngine.SearchCriteria
@using System
@using System.Linq
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    string searchQuery = String.IsNullOrEmpty(Request["search"]) ?
         "" :
         Request["search"].Trim();
    var luceneString = "nodeName:";
    luceneString += "(+" + searchQuery.Replace(" ", " +") + ")^5 ";
    luceneString += "nodeName:" + searchQuery;

    var SearchResultsPage = CurrentPage.Url;

    List<SearchResult> searchResults;

    if (!string.IsNullOrEmpty(searchQuery))
    {
        var searcher = Examine.ExamineManager.Instance.SearchProviderCollection["SiteSearchSearcher"];

        var searchCriteria = searcher.CreateSearchCriteria(Examine.SearchCriteria.BooleanOperation.Or);

        // List of attribute nodes to search for containing searchQuery
        //var query = searchCriteria.GroupedOr(new[] { "nodeName", "name", "title", "mainContent", "metaDescription", "pageTitle", "menuTitle" }, searchQuery.Fuzzy(0.5f)).Compile();
        var query = searchCriteria.RawQuery(luceneString);
        searchResults = searcher.Search(query).Where(x => x["__IndexType"] == "content").OrderByDescending(x => x.Score).ToList();
    }
    else
    {
        searchResults = null;
    }

}

@if (searchResults != null && searchResults.Any())
{
    <h2>@searchResults.Count()&nbsp;Search Results For:</h2>
    <form action="@SearchResultsPage" class="site-search" method="post">
        <label class="accessibility-hidden" for="search-term">Search Term</label>
        <input id="search-term" type="text" name="search" placeholder="Search the Site" value="@searchQuery">
        <button type="submit"><span class="accessibility-hidden">search</span></button>
    </form>
    <ul id="search-results">
        @foreach (var result in searchResults)
        {
            var node = Umbraco.TypedContent(result.Id);
            var pathIds = result["__Path"].Split(',');

            var path = Umbraco.TypedContent(pathIds).Where(p => p != null).Select(p => new { p.Name }).ToList();
            if (node != null)
            {
                <li>
                    <h3>
                        <a href="@node.UrlAbsolute()">@node.GetPropertyValue("pageTitle")</a>
                    </h3>
                    <p>@node.GetPropertyValue("metaDescription")</p>
                    <a href="@node.Url">@node.UrlAbsolute()</a>
                </li>
            }
        }
    </ul>
}
else
{

    if (!String.IsNullOrWhiteSpace(searchQuery))
    {
        <h2>No Results For:</h2>
        <h3>@searchQuery</h3>
    }
    else
    {
        <h2>No Results</h2>
    }
}
