﻿<div class="contact-submission-message">
    <h2 class="h1-style">
        <img src="~/images/icons/check-green.svg" alt="" aria-hidden="true" />
        Message Submitted
    </h2>
    <p>Your message was sent! A member of our staff will be in touch as soon as possible.</p>
</div>
