﻿@inherits UmbracoViewPage<vadoc_public_website_redesign.Models.ContactUsFormModel>
@using vadoc_public_website_redesign.Utils

@{
    /**/

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    SelectListItemHelper listHelper = new SelectListItemHelper();
}

@using Umbraco.Web.Mvc;

@using (Html.BeginUmbracoForm("SubmitContactForm", "ContactUsSurface", FormMethod.Post,
    new
    {
        autocomplete = "off",
        @Id = "contact-form",
        data_ajax = "true",
        data_ajax_method = "POST",
        data_ajax_mode = "replace",
        data_ajax_update = "#form-results",
        data_ajax_success = "submissionComplete",
        data_ajax_failure = "submissionComplete",
        data_ajax_loading = "#loading-indicator"
    }))
{
    @Html.AntiForgeryToken()
    <fieldset id="personal-info">
        <div class="form-group">
            <h2>Your Information</h2>
            <label for="first-name">
                <span class="label">First Name*</span>
                @Html.TextBoxFor(x => x.FirstName, new { @Id = "first-name", @Class = "validate", name = "first-name", data_validate = "name" })
                @Html.ValidationMessageFor(x => x.FirstName)
            </label>

            <label for="last-name">
                <span class="label">Last Name*</span>
                @Html.TextBoxFor(x => x.LastName, new { @Id = "last-name", @Class = "validate", name = "last-name", data_validate = "name" })
                @Html.ValidationMessageFor(x => x.LastName)
            </label>

            <label for="email">
                <span class="label">Email Address*</span>
                @Html.TextBoxFor(x => x.Email, new { @Id = "email", name = "email" })
                @Html.ValidationMessageFor(x => x.Email)
            </label>

            <label for="telephone">
                <span class="label">Phone Number</span>
                @Html.TextBoxFor(x => x.Telephone, new { @Id = "telephone", name = "telephone" })
                @Html.ValidationMessageFor(x => x.Telephone)
            </label>
        </div>

        <div class="form-group">
            <label for="street-first">
                <span class="label">Address Line 1</span>
                @Html.TextBoxFor(x => x.AddressLine1, new { @Id = "street-first", @Class = "validate", name = "street-first", data_validate = "unstrict" })
                @Html.ValidationMessageFor(x => x.AddressLine1)
            </label>

            <label for="street-second">
                <span class="label">Address Line 2</span>
                @Html.TextBoxFor(x => x.AddressLine2, new { @Id = "street-second", @Class = "validate", name = "street-second", data_validate = "unstrict" })
                @Html.ValidationMessageFor(x => x.AddressLine2)
            </label>

            <label for="zipcode">
                <span class="label">Zip</span>
                @Html.TextBoxFor(x => x.PostalCode, new { @Id = "zipcode", @Class = "validate", name = "zipcode", data_validate = "zipcode" })
                @Html.ValidationMessageFor(x => x.PostalCode)
            </label>

            <label for="city">
                <span class="label">City</span>
                @Html.TextBoxFor(x => x.AddressCity, new { @Id = "city", @Class = "validate", name = "city", data_validate = "alpha-unstrict" })
                @Html.ValidationMessageFor(x => x.AddressCity)
            </label>

            <label for="us-state">
                <span class="label">State</span>
                @Html.DropDownListFor(x => x.AddressState, SelectListItemHelper.GetStatesList(), new { @Id = "us-state", name = "us-state" })
                @Html.ValidationMessageFor(x => x.AddressState)
            </label>
        </div>
    </fieldset>
    <hr />
    <fieldset id="offender-info" class="conditional radio-binary">
        <legend>Does your message regard an offender?</legend>
        @Html.RadioButtonFor(x => x.RegardOffender, "true", new { @Id = "y1", name = "regard-offender", @Class = "conditional-trigger positive" })
        @Html.RadioButtonFor(x => x.RegardOffender, "false", new { @Id = "n1", name = "regard-offender", @Class = "negative", @checked = true })
        <div class="radio-box">
            <label class="binary-positive" for="y1">
                <span class="custom-radio"></span>
                <span class="label">Yes</span>
            </label>
            <label class="binary-negative" for="n1">
                <span class="custom-radio"></span>
                <span class="label">No</span>
            </label>
        </div>
        <fieldset class="conditional-fields">
            <h2>Offender Information</h2>
            <div class="form-group">
                <label for="offender-first-name">
                    <span class="label">Offender's First Name</span>
                    @Html.TextBoxFor(x => x.OffenderFirstName, new { @Id = "offender-first-name", @Class = "validate", name = "offender-first-name", data_validate = "name" })
                    @Html.ValidationMessageFor(x => x.OffenderFirstName)
                </label>

                <label for="offender-last-name">
                    <span class="label">Offender's Last Name</span>
                    @Html.TextBoxFor(x => x.OffenderLastName, new { @Id = "offender-last-name", @Class = "validate", name = "offender-last-name", data_validate = "name" })
                    @Html.ValidationMessageFor(x => x.OffenderLastName)
                </label>
            </div>
            <div class="form-group">
                <label for="offender-location">
                    <span class="label">Where is the offender located?</span>
                    @Html.DropDownListFor(x => x.OffenderLocation, listHelper.PopulateFacilities(), new { @Id = "offender-location", name = "offender-location" })
                    @Html.ValidationMessageFor(x => x.OffenderLocation)
                </label>

                <label for="offender-id">
                    <span class="label">Offender's ID Number</span>
                    @Html.TextBoxFor(x => x.OffenderId, new { @Id = "offender-id", @Class = "validate", name = "offender-id", data_validate = "numeric" })
                    @Html.ValidationMessageFor(x => x.OffenderId)
                </label>
            </div>
        </fieldset>
    </fieldset>
    <hr />
    <fieldset id="message-group">
        <legend class="h2-style">Your Message</legend>
        <label for="subject">
            <span class="label">Subject*</span>
            @Html.TextBoxFor(x => x.Subject, new { @Id = "subject", @Class = "validate", name = "subject", data_validate = "unstrict" })
            @Html.ValidationMessageFor(x => x.Subject)
        </label>

        <label for="message">
            <span class="label">Message*</span>
            @Html.TextAreaFor(x => x.Message, new { @Id = "message", @Class = "validate", name = "message", data_validate = "unstrict" })
            @Html.ValidationMessageFor(x => x.Message)
        </label>

        <label id="captcha-wrapper" for="contact-robot">
            <span class="label">Are you a human? Enter the word "river" in the box below.</span>
            @Html.TextBoxFor(x => x.Captcha, new { @Id = "contact-robot", @Value = TempData["Captcha"] })
            @Html.ValidationMessageFor(x => x.Captcha)
        </label>

        <button type="submit" class="primary-button submit-form">Send Message</button>
    </fieldset>
}
