﻿
<div class="contact-submission-message">
    <h2 class="h1-style">
        <img src="~/images/icons/declined.svg" alt="" aria-hidden="true" />
        Message Failed to Send
    </h2>
    @if (TempData["InvalidModel"].ToString().ToLower() == "true")
    {
        <p>Please correct all form errors.</p>
    }
    else
    {
        <p>There is a temporary system glitch and your message was not submitted. Please try again later.</p>
    }

</div>
