﻿@using Umbraco.Web
@using Umbraco.Web.Mvc
@inherits UmbracoTemplatePage
@{
    var root = Umbraco.AssignedContentItem.AncestorOrSelf(2);
}

<div id="general-hero-wrapper" class="content-wrapper clear-fix">
    <figure class="col-3 mar-r-1 doc-logo">
        <a href="/">
            <img src="/images/global/header/DOC-Logo-White-Transparent-BG.png" alt="Virginia Department of Corrections Logo">
        </a>
    </figure>
    <div id="heading-wrapper">
        @if (root.Id != Umbraco.AssignedContentItem.Id)
        {
            <a class="section-breadcrumb" href="@root.Url">@root.Name &nbsp;//</a>
        }
        <h1>@(Umbraco.AssignedContentItem.HasValue("pageTitle") ? Umbraco.AssignedContentItem.GetPropertyValue("pageTitle") : Umbraco.AssignedContentItem.Name)</h1>
    </div>
</div>
