﻿@inherits UmbracoTemplatePage

<!-- Begin Breadcrumbs -->
<nav class="content-wrapper breadcrumbs">
    @{ 
        var selection = CurrentPage.Ancestors();

        if(selection.Any())
        {
            <ul>
                @foreach (var item in selection.OrderBy("Level"))
                {
                    <li><a href="@item.Url">@item.pageTitle<span></span></a></li>
                }
                <li><a href="@CurrentPage.Url">@CurrentPage.pageTitle</a></li>
            </ul>
        }
    }
</nav>
<!-- End Breadcrumbs -->
