﻿<footer id="main-footer" class="dark-background">
    <div class="content-wrapper">
        <div id="footer-social" class="col-6 mar-r-1">
            <h2>Connect</h2>
            <ul>
                <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/facebook.svg" alt="Facebook icon"></a></li>
                <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/twitter.svg" alt="Twitter icon"></a></li>
                <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/youtube.svg" alt="YouTube icon"></a></li>
                <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/linkedin.svg" alt="LinkedIn icon"></a></li>
            </ul>
        </div>
        <div class="vcard col-8 mar-r-1">
            <h2>Contact</h2>
            <p class="fn org">Virginia Department of Corrections</p>
            <div class="adr">
                <p class="post-office-box">P.O. Box 26963</p>
                <p><span class="locality">Richmond, </span><span class="region">VA</span><span class="postal-code"> 23261-6963</span></p>
            </div>
            <div class="tel">
                <p class="value">804-674-3000</p>
            </div>
        </div>
        <div id="footer-policies" class="col-4 mar-r-1">
            <h2>Policies</h2>
            <ul class="link-list">
                <li><a href="#">Web Policy</a></li>
                <li><a href="#">FOIA Notice</a></li>
            </ul>
        </div>
        <div id="footer-additional" class="col-8">
            <h2>Additional Information</h2>
            <ul class="link-list">
                <li>
                    <a href="#">
                        <figure>
                            <img id="eva" src="/images/footer/eVA-logo.svg" aria-hidden="true" />
                        </figure>
                        <span>eVA Public Records</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img id="expenses" src="/images/footer/vadoc-expenses.svg" aria-hidden="true" />
                        </figure>
                        <span>VADOC Expenses</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img id="org" src="/images/footer/org-chart.svg" aria-hidden="true" />
                        </figure>
                        <span>Organizational Chart</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
