﻿@inherits UmbracoViewPage<vadoc_public_website_redesign.Models.OffenderSearchModel>

<div id="home-hero" class="content-wrapper">
    <div id="hero-heading-wrapper" class="ib-element">
        <span class="mobile-hero" id="mobile-hero-heading">VADOC</span>
        <h1 class="col-25">Virginia Department of Corre<span class="spacer">c</span>tions</h1>
    </div>

    <figure class="col-3 mar-r-1 doc-logo">
        <a href="/">
            <img src="images/home/header/DOC-Logo-RGB.png" alt="Virginia Department of Corrections Logo" />
        </a>
    </figure>

    <div class="col-25" id="hero-offender-locator">
        <h2 class="h1-style">Locate an Offender</h2>

        @using (Html.BeginUmbracoForm("GetOffenders", "OffenderDataSurface", FormMethod.Post, htmlAttributes: new { @id = "offender-by-name" }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend class="accessibility-hidden">Locate offender by first and/or last name</legend>
                <label class="accessibility-hidden" for="first-name">First Name</label>
                @Html.TextBoxFor(x => x.FirstNameLowercase, new { @Id = "first-name", @Class = "validate", name = "first-name", data_validate = "name", @Value = TempData["FirstName"], placeholder = "First Name" })
                @Html.ValidationMessageFor(x => x.FirstNameLowercase)

                <label class="accessibility-hidden" for="last-name">Last Name</label>
                @Html.TextBoxFor(x => x.LastNameLowercase, new { @Id = "last-name", @Class = "validate", name = "last-name", data_validate = "name", @Value = TempData["LastName"], placeholder = "Last Name" })
                @Html.ValidationMessageFor(x => x.LastNameLowercase)
            </fieldset>

            <button class="primary-button" type="submit">Locate</button>
        }

        <div class="or-divider col-1">
            <div class="vertical-line"></div>
            <p>or</p>
            <div class="vertical-line"></div>
        </div>
        @using (Html.BeginUmbracoForm("GetOffenders", "OffenderDataSurface", FormMethod.Post, htmlAttributes: new { @id = "offender-by-id" }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend class="accessibility-hidden">Locate offender by I.D. number</legend>
                <label class="accessibility-hidden" for="offender-id">Offender I.D. #</label>
                @Html.TextBoxFor(x => x.OffenderId, new { @Id = "offender-id", name = "offender-id", placeholder = "Offender I.D. #" })
            </fieldset>

            <button class="primary-button" type="submit">Locate</button>
        }

        @Html.ActionLink("Advanced Search", "RenderOffenderLocatorPage", "PublicResourcesSurface", null, new { id = "advanced-search" })
    </div>
    @{ 
        var locatorNodes = umbraco.uQuery.GetNodesByType("offenderLocator");
        IPublishedContent node;
       
        node = Umbraco.TypedContent(locatorNodes.First().Id);
        
    }
    <a id="locate-offender-mobile" class="primary-button mobile-hero" href="@node.Url">Locate an offender</a>
</div>
