﻿@inherits UmbracoTemplatePage
@{
    var root = CurrentPage.AncestorsOrSelf(1).First();
    string SearchResultsPage = "";

    if (root.Children != null && root.Children.Any())
    {
        foreach (var child in root.Children)
        {
            if (child.DocumentTypeAlias == "searchResults")
            {
                SearchResultsPage = child.UrlAbsolute();
            }
        }
    }
}

<nav id="mobile-nav">
    <button id="open-nav">
        <span id="top"></span>
        <span id="middle"></span>
        <span id="bottom"></span>
    </button>
    <figure class="col-3 mar-r-1 doc-logo">
        <a href="/">
            <img src="/images/home/header/DOC-Logo-RGB.png" alt="Virginia Department of Corrections Logo" />
        </a>
    </figure>
    <button id="open-search"></button>
    <form action="@SearchResultsPage" class="site-search" method="post">
        <label class="accessibility-hidden" for="search-term">Search Term</label>
        <input id="search-term" type="text" name="search" placeholder="Search the Site">
        <button type="submit"><span class="accessibility-hidden">search</span></button>
    </form>

    <div class="modal-overlay"></div>
    <div class="mobile-nav-window">
        <div class="content-wrapper">
            <div class="mobile-nav-content">
                <p class="resources-for">Resources For</p>
                <ul>
                    @if (root.Children != null && root.Children.Any())
                    {
                        int i = 0;
                        foreach (var item in root.Children)
                        {
                            var menuName = String.IsNullOrEmpty(item.menuTitle) ? item.pageTitle : item.menuTitle;
                            if (item.IsVisible() && item.primaryNavItem)
                            {
                                <li class="top-level dropdown">
                                    <input type="checkbox" id="dropdown-@i">
                                    <label for="dropdown-@i">
                                        @menuName
                                    </label>
                                    <ul class="mobile-dropdown-menu">
                                        @if (item.Children != null && item.Children.Any())
                                        {
                                            <li>
                                                <a href="@item.Url">Overview</a>
                                            </li>
                                            foreach (var subItem in item.Children)
                                            {
                                                var siMenuName = String.IsNullOrEmpty(subItem.menuTitle) ? subItem.pageTitle : subItem.menuTitle;
                                                if (subItem.IsVisible())
                                                {
                                                    <li>
                                                        <a href="@subItem.Url">@siMenuName</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            i++;
                        }
                        foreach (var item in root.Children)
                        {
                            var menuName = String.IsNullOrEmpty(item.menuTitle) ? item.pageTitle : item.menuTitle;
                            if (item.IsVisible() && item.secondaryNavItem)
                            {
                                if (item.DocumentTypeAlias == "facilitiesOfficesLanding")
                                {
                                    <li id="mobile-facilities-link" class="top-level">
                                        <a href="@item.Url">@menuName</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="top-level">
                                        <a href="@item.Url">@menuName</a>
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <button class="close-mobile-nav">
                <span class="accessibility-hidden">close mobile navigation window</span>
            </button>
        </div>
    </div>
</nav>
