﻿@inherits UmbracoTemplatePage

@{
    var root = CurrentPage.AncestorsOrSelf(1).First();
    
}
<nav id="main-nav">
    <dl id="main-nav-list" class="content-wrapper dark-background">
        <dt id="resources-label" aria-hidden="true">Resources For:</dt>
        <dd class="dropdown-navlink">
            <a href="/families-and-friends">
                <img src="/images/nav/main-nav/family-friends.svg" class="nav-icon" aria-hidden="true" />
                <span class="accessibility-hidden">Resources For&nbsp;</span>
                <span>Family &amp; Friends of Offenders</span>
                <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
            </a>
            <ul class="dropdown-menu col-16">
                <li class="dropdown-menu-list-column col-6">
                    <ul>
                        <li>
                            <a href="/families-and-friends/directions-for-sending-money">Directions for Sending Money to an Inmate</a>
                        </li>
                        <li>
                            <a href="/families-and-friends/mail-procedures-and-restrictions">Mail Procedures &amp; Restrictions</a>
                        </li>
                        <li>
                            <a href="/families-and-friends/telephone-procedures">Telephone Procedures &amp; Restrictions</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-menu-list-column col-6">
                    <ul>
                        <li>
                            <a href="/families-and-friends/visitation">Visitation Procedures &amp; Restrictions</a>
                        </li>
                        <li>
                            <a href="/families-and-friends/out-of-state-incarceration-supervision">Out of State Incarceration &amp; Supervision</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </dd>
        <dd class="dropdown-navlink">
            <a href="#">
                <img src="/images/nav/main-nav/offenders.svg" class="nav-icon" aria-hidden="true" />
                <span class="accessibility-hidden">Resources For&nbsp;</span>
                <span>Offenders</span>
                <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
            </a>
            <ul class="dropdown-menu three-col-dropdown col-24">
                <li class="dropdown-menu-list-column col-6">
                    <dl class="dropdown-menu-list">
                        <dt class="accessibility-hidden">General Resources for Offenders</dt>
                        <dd><a href="/offender-resources/prea">Prison Rape Elimination Act</a></dd>
                        <dd><a href="/offender-resources/ada">Americans with Disabilities Act</a></dd>
                        <dd><a href="/offender-resources/health-services">Health Services</a></dd>
                    </dl>
                </li>
                <li class="dropdown-menu-list-column col-6">
                    <dl class="dropdown-menu-list">
                        <dt>Community Supervision</dt>
                        <dd><a href="/offenders/probation-and-parole">Probation &amp; Parole</a></dd>
                        <dd><a href="/offenders/types-of-supervision">Types of Supervision</a></dd>
                        <dd><a href="/offenders/programs">Programs</a></dd>
                        <dd><a href="/offenders/community-corrections-alternative-program">Community Corrections Alternative Program</a></dd>
                    </dl>
                </li>
                <li class="dropdown-menu-list-column col-6">
                    <dl class="dropdown-menu-list">
                        <dt>Incarcerated</dt>
                        <dd><a href="/offenders/programs">Programs</a></dd>
                        <dd><a href="/offenders/out-of-state-incarceration">Out of State Incarceration</a></dd>
                    </dl>
                </li>
            </ul>
        </dd>
        <dd class="dropdown-navlink">
            <a href="/victim-services/">
                <img src="/images/nav/main-nav/victims.svg" class="nav-icon" aria-hidden="true" />
                <span class="accessibility-hidden">Resources For&nbsp;</span>
                <span>Victims</span>
                <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
            </a>
            <ul class="dropdown-menu col-16">
                <li class="dropdown-menu-list-column col-5">
                    <ul>
                        <li>
                            <a href="/victim-services/">Victims Overview</a>
                        </li>
                        <li>
                            <a href="/victim-services/notifications">Notifications</a>
                        </li>
                        <li>
                            <a href="/victim-services/community-resources">Community Resources</a>
                        </li>
                        <li>
                            <a href="/victim-services/victim-centered-programs">Victim-Centered Programs</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-menu-list-column col-5">
                    <ul>
                        <li>
                            <a href="/victim-services/victim-restitution">Restitution</a>
                        </li>
                        <li>
                            <a href="/victim-services/victim-compensation">Victim Compensation</a>
                        </li>
                        <li>
                            <a href="/victim-services/safety-planning">Safety Planning</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </dd>
        <dd class="dropdown-navlink">
            <a href="#">
                <img class="nav-icon" src="/images/nav/main-nav/general-public.svg" aria-hidden="true" />
                <span class="accessibility-hidden">Resources For&nbsp;</span>
                <span>General Public</span>
                <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
            </a>
            <ul class="dropdown-menu col-17">
                <li class="dropdown-menu-list-column col-6">
                    <ul>
                        <li>
                            <a href="/public-resources/offender-population-reports">Offender Population Reports</a>
                        </li>
                        <li>
                            <a href="/public-resources/operating-procedures">Operating Procedures</a>
                        </li>
                        <li>
                            <a href="/public-resources/financial-reports">Financial Reports</a>
                        </li>
                        <li>
                            <a href="/public-resources/procurement">Procurement</a>
                        </li>
                        <li>
                            <a href="/public-resources/most-wanted">VADOC Most Wanted</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-menu-list-column col-7">
                    <ul>
                        <li>
                            <a href="/public-resources/offender-locator">Offender Locator</a>
                        </li>
                        <li>
                            <a href="/public-resources/instructions-for-requesting-records">Instructions for Requesting Records</a>
                        </li>
                        <li>
                            <a href="/public-resources/foia">Freedom of Information Act</a>
                        </li>
                        <li>
                            <a href="/public-resources/fedral-bonding">Federal Bonding</a>
                        </li>
                        <li>
                            <a href="/public-resources/prea-reports">Prison Rape Elimination Act reports</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </dd>
    </dl>
</nav>

