﻿<a href="#top" id="back-to-top">
	<span class="accessibility-hidden">Return to the top of the page</span>
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
	<g>
	<path id="circle" fill="#464546" d="M30,2c15.439,0,28,12.561,28,28S45.439,58,30,58S2,45.439,2,30S14.561,2,30,2 M30,0C13.432,0,0,13.432,0,30
				s13.432,30,30,30s30-13.432,30-30S46.568,0,30,0L30,0z" />

		</g>
	<polyline id="chevron" fill="none" stroke="#464546" stroke-width="2" stroke-miterlimit="10" points="15.167,38.853 30,21.147 44.832,38.853 " />

	</svg>
</a>
