﻿@inherits UmbracoTemplatePage

@{
    string SearchResultsPage = "";
    var root = CurrentPage.AncestorsOrSelf(1).First();
    if (root.Children != null && root.Children.Any())
    {
        foreach (var child in root.Children)
        {
            if (child.DocumentTypeAlias == "searchResults")
            {
                SearchResultsPage = child.UrlAbsolute();
            }
        }
    }
}

<nav id="secondary-nav">
    <ul class="content-wrapper" id="vita-links">
        <li>
            <a id="vita-cardinal" href="#">
                <img src="/images/nav/secondary-nav/cardinal.svg">
                <span>An Agency of the Commonwealth of Virginia</span>
            </a>
        </li>
        <li class="right">
            <a href="#">Find an Agency</a>
        </li>
        <li class="right">
            <a href="#">Virginia.gov</a>
        </li>
    </ul>

    <ul id="primary-page-links" class="content-wrapper">
        <li>
            <a href="/">
                <i id="home-icon" class="fa fa-home"></i>
                Home
            </a>
        </li>
        @if (root.Children != null && root.Children.Any())
        {
            int i = 0;
            foreach (var item in root.Children)
            {
                var menuName = String.IsNullOrEmpty(item.menuTitle) ? item.pageTitle : item.menuTitle;
                if (item.secondaryNavItem && item.IsVisible())
                {
                    if (i == 0)
                    {
                        <!-- Uncomment facilities link for dropdown -->
                        <li>
                            <!-- class="dropdown-navlink" -->
                            <a href="@item.Url">
                                <!-- <span> -->
                                @menuName
                                <!-- </span>
                                <img src="images/nav/drop-arrows-down-grey.svg" aria-hidden="true"> -->
                            </a>
                            <!-- <div class="dropdown-menu col-20">
                                <ul id="facilities-submenu">
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">A-B</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>A</dt>
                                                    <dd>
                                                        <a href="#">Abindon Bristol, Russell, Smyth Sub-offices</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Accomack</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Alexandria </a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Appalachian Men’s Detention Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Arlington</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Ashland</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Atmore Headquartrs</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Augusta Correctional Center</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt>B</dt>
                                                    <dd>
                                                        <a href="#">Baskerville Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Bedford</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Bland Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Buchannon Sub-office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Buckingham Correctional Center</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">C-D</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>C</dt>
                                                    <dd>
                                                        <a href="#">Central Regional Office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Central Virginia Correctional Unit (Female)</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Charlottesville</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Chesapeake</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Chesterfield</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Chesterfield Women’s Detention &amp; Diversion Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Coffeewood Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Cold Springs Correctional Unit</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt class="accessibility-hidden">C continued</dt>
                                                    <dd>
                                                        <a href="#">Cold Springs Diversion Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Culpeper</a>
                                                    </dd>
                                                    <dt>D</dt>
                                                    <dd>
                                                        <a href="#">Danville</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Deep Meadow Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Deerfield Women’s Work Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Dillwyn Correctional Center</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">E-G</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>E</dt>
                                                    <dd>
                                                        <a href="#">Eastern Regional Office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Emporia</a>
                                                    </dd>
                                                    <dt>F</dt>
                                                    <dd>
                                                        <a href="#">Fairfax Alexandria Sub-office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Farmville</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Fincastle</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Fluvanna Correctional Center for Women</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Franklin</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt class="accessibility-hidden">F continued</dt>
                                                    <dd>
                                                        <a href="#">Fredericksburg</a>
                                                    </dd>
                                                    <dt>G</dt>
                                                    <dd>
                                                        <a href="#">Gloucester</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Green Rock Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Greensville Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Greensville Work Center</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">H-K</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>H</dt>
                                                    <dd>
                                                        <a href="#">Halifax Correctional Unit</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Hampton</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Harrisonburg</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Harrisonburg Men’s Diversion Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Haynesville Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Haynesville Correctional Unit</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Henrico</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt>I</dt>
                                                    <dd>
                                                        <a href="#">Indian Creek Correctional Center</a>
                                                    </dd>
                                                    <dt>J</dt>
                                                    <dd>
                                                        <a href="#">James River Work Center</a>
                                                    </dd>
                                                    <dt>K</dt>
                                                    <dd>
                                                        <a href="#">Keen Mountain Correctional Center</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">L-M</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>L</dt>
                                                    <dd>
                                                        <a href="#">Lawrenceville Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Leesburg Warrenton Sub-office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Lexington Sub-office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Lunenburg Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Luray Sub-office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Lynchburg</a>
                                                    </dd>
                                                    <dt>M</dt>
                                                    <dd>
                                                        <a href="#">Manassas</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt class="accessibility-hidden">M continued</dt>
                                                    <dd>
                                                        <a href="#">Marion Correctional &amp; Treatment Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Martinsville</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Medical College of Virginia</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">N-P</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>N</dt>
                                                    <dd>
                                                        <a href="#">Newport News</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Norfolk</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Norton Lee Sub-office</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Nottoway Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Nottoway Work Center</a>
                                                    </dd>
                                                    <dt>P</dt>
                                                    <dd>
                                                        <a href="#">Patrick Henry Correctional Unit</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Petersburg</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt class="accessibility-hidden">P continued</dt>
                                                    <dd>
                                                        <a href="#">Pocahontas Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Portsmouth</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Powhatan Reception &amp; Classification Center</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">R-S</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>R</dt>
                                                    <dd>
                                                        <a href="#">Radford</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Red Onion State Prison</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Richmond</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">River North Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Roanoke</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Rocky Mount</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Rustburg Correctional Unit</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt>S</dt>
                                                    <dd>
                                                        <a href="#">South Boston</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Southampton Memorial Hospital</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">St Brides Correctional Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Stafford Men’s Diversion Center</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">State Prison</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Staunton</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Suffolk</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Sussex I State Prison</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Sussex II State Prison</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="submenu-heading">T-Z</dt>
                                            <dd class="facility-link-list col-18">
                                                <dl class="left-col">
                                                    <dt>T</dt>
                                                    <dd>
                                                        <a href="#">Tazewell</a>
                                                    </dd>
                                                    <dt>V</dt>
                                                    <dd>
                                                        <a href="#">Virginia Beach</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Virginia Correctional Center for Women</a>
                                                    </dd>
                                                    <dt>W</dt>
                                                    <dd>
                                                        <a href="#">Wallens Ridge</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Warsaw</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Western Regional Office</a>
                                                    </dd>
                                                </dl>
                                                <dl class="right-col">
                                                    <dt class="accessibility-hidden">W continued</dt>
                                                    <dd>
                                                        <a href="#">Williamsburg</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Winchester Front Royal, Woodstock Sub-offices</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Wise Correctional Unit</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">Wytheville</a>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                    }
                    else if (i == 1 || i == 2 || i == 3)
                    {
                        <li class="with-divider">
                            <a href="@item.Url">@menuName</a>
                            <img class="divider" src="/images/nav/secondary-nav/nav-divider.svg" aria-hidden='true' alt="">
                        </li>
                    }
                    else if (i == 4)
                    {
                        <li>
                            <a href="@item.Url">@menuName</a>
                        </li>
                    }
                }

                i++;
            }
            <li class="banner-search col-9">
                <form action="@SearchResultsPage" class="site-search" method="post">
                    <label class="accessibility-hidden" for="search-term">Search Term</label>
                    <input id="search-term" type="text" name="search" placeholder="Search the Site">
                    <button type="submit"><span class="accessibility-hidden">search</span></button>
                </form>
            </li>
        }
    </ul>

</nav>
