﻿@using Umbraco.Web.Mvc
@inherits UmbracoTemplatePage

@{
    IPublishedContent alertNode;

    if (Umbraco.AssignedContentItem.AncestorsOrSelf().Where(x => x.HasValue("alertHeading")).Count() > 0)
    {
        alertNode = Umbraco.AssignedContentItem.AncestorsOrSelf().Where(x => x.HasValue("alertHeading")).First();
    }
    else
    {
        alertNode = Umbraco.AssignedContentItem;
    }
}


@if (alertNode.HasValue("alertHeading"))
{
    <div class="alert-callout">
        <div class="alert-bordered-box">
            <header>
                <img class="alert-icon" src="/images/victim-services/danger.svg" aria-hidden="true">
                <h2 class="alert-text">@alertNode.GetPropertyValue("alertHeading")</h2>
            </header>
            <p class="alert-text">@alertNode.GetPropertyValue("alertContent")</p>
        </div>
    </div>
}


