﻿@using Umbraco.Web.Mvc
@inherits UmbracoTemplatePage

@{
    IPublishedContent contactNode;


    if (Umbraco.AssignedContentItem.AncestorsOrSelf().Where(x => x.HasValue("displaySidebarContactCard") && x.GetPropertyValue("displaySidebarContactCard").ToString().ToLower() != "false").Count() > 0)
    {
        contactNode = Umbraco.AssignedContentItem.AncestorsOrSelf().Where(x => x.HasValue("displaySidebarContactCard") && x.GetPropertyValue("displaySidebarContactCard").ToString().ToLower() != "false").First();
    }
    else
    {
        contactNode = Umbraco.AssignedContentItem;
    }
}


@if (contactNode.HasValue("displaySidebarContactCard") && contactNode.GetPropertyValue("displaySidebarContactCard").ToString().ToLower() != "false")
{
<div id="hcard-main-contact" class="vcard dark-background">
    <h2 class="h1-style">@(contactNode.HasValue("contactCardHeading") ? contactNode.GetPropertyValue("contactCardHeading") : "Contact Us")</h2>
    @if (contactNode.HasValue("contactDisclaimer"))
    {
        <p class="disclaimer-text">@contactNode.GetPropertyValue("contactDisclaimer")</p>
    }
    @if (contactNode.HasValue("primaryPocName"))
    {
        if (contactNode.HasValue("primaryPocTitle"))
        {
            <p class="fn">@contactNode.GetPropertyValue("primaryPocName"),</p>
            <p class="title">@contactNode.GetPropertyValue("primaryPocTitle")</p>
        }
        else
        {
            <p class="fn">@contactNode.GetPropertyValue("primaryPocName")</p>
        }
    }
    @if (contactNode.HasValue("primaryPocUnit"))
    {
        <p class="org">@contactNode.GetPropertyValue("primaryPocUnit")</p>
    }
    @if (contactNode.HasValue("primaryPocStreetAddress") || contactNode.HasValue("primaryPocPostOfficeBox"))
    {
        <p class="body-bold">Address</p>
        <div class="adr">

            @if (contactNode.HasValue("primaryPocAddressAttn"))
            {
                <span class="fn">Attn:&nbsp;@contactNode.GetPropertyValue("primaryPocAddressAttn")</span><br />
            }
            @if (contactNode.HasValue("primaryPocAddressAgency") || contactNode.HasValue("primaryPocAddressUnit"))
            {
                <p class="org">
                    <span class="organization-name">@contactNode.GetPropertyValue("primaryPocAddressAgency")</span><br />
                    @if (contactNode.HasValue("primaryPocAddressUnit"))
                    {
                        <span class="organization-unit">@contactNode.GetPropertyValue("primaryPocAddressUnit")</span><br />
                    }
                </p>
            }
            @if (contactNode.HasValue("primaryPocStreetAddress"))
            {
                <span class="street-address">@contactNode.GetPropertyValue("primaryPocStreetAddress")</span><br />
            }
            @if (contactNode.HasValue("primaryPocPostOfficeBox"))
            {
                <span class="post-office-box">@contactNode.GetPropertyValue("primaryPocPostOfficeBox")</span><br />
            }
            <span class="locality">@contactNode.GetPropertyValue("primaryPocCity"),&nbsp;</span>
            <span class="region">VA&nbsp;</span>
            <span class="postal-code">@contactNode.GetPropertyValue("primaryPocZipCode")</span>
        </div>

    }
    @if (contactNode.HasValue("primaryPocEmail"))
    {
        <p class="body-bold">Email</p>
        <a class="email" href="mailto:@contactNode.GetPropertyValue("primaryPocEmail")">@contactNode.GetPropertyValue("primaryPocEmail")</a>
    }
    @if (contactNode.HasValue("primaryPocMainContactPhoneNumber") || contactNode.HasValue("primaryPocFaxNumber"))
    {
        <div class="tel">
            @if (contactNode.HasValue("primaryPocMainContactPhoneLabel"))
            {
                <p class="type body-bold">@contactNode.GetPropertyValue("primaryPocMainContactPhoneLabel")</p>
            }
            @if (contactNode.HasValue("primaryPocMainContactPhoneNumber"))
            {
                <p class="value">@contactNode.GetPropertyValue("primaryPocMainContactPhoneNumber")</p>
            }
            @if (contactNode.HasValue("primaryPocSecondContactPhoneLabel"))
            {
                <p class="type body-bold">@contactNode.GetPropertyValue("primaryPocSecondContactPhoneLabel")</p>
            }
            @if (contactNode.HasValue("primaryPocSecondContactPhoneNumber"))
            {
                <p class="value">@contactNode.GetPropertyValue("primaryPocSecondContactPhoneNumber")</p>
            }
            @if (contactNode.HasValue("primaryPocFaxNumber"))
            {
                <p class="type body-bold">Fax</p>
                <p class="value">@contactNode.GetPropertyValue("primaryPocFaxNumber")</p>
            }
        </div>
    }
    @if (contactNode.HasValue("hoursOfOperation"))
    {
        <p class="body-bold">Hours of Operation</p>
        <p>@contactNode.GetPropertyValue("daysOfOperation")</p>
        <p>@contactNode.GetPropertyValue("hoursOfOperation")</p>
    }
</div>
}

