﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<vadoc_public_website_redesign.Models.JobRepository>
@if (Model != null && Model.JobsList != null)
{
    <ul id="result-cards">
        <!-- List all jobs in current job repository -->
        @foreach (var job in Model.JobsList)
        {
            <li>
                <dl class="result-data">
                    <dt class="accessibility-hidden">Job Title</dt>
                    <dd class="job-name mar-l-1 col-14 hyperlink-heading h2-style">
                        <a href="@job.Link">@job.WorkingTitle</a>
                    </dd>

                    <dt class="accessibility-hidden">Salary Range</dt>
                    <dd class="h2-style col-11">$<span class="job-sal-min">@job.HiringRangeMin</span> &ndash; @job.HiringRangeMax</dd>

                    <dt class="accessibility-hidden">Job Location</dt>
                    <dd class="mar-l-1 col-14">
                        <p>
                            
                                <img class="inline-pin" src="/images/global/icons/location.svg" aria-hidden="true" /><span class="job-location-name">@job.Agency</span><span class="job-city-state">@job.Location, Virginia</span>
                  
                        </p>
                    </dd>

                    <dt class="ib-element close-date-label">Closing Date:&nbsp;</dt>
                    <dd class="ib-element">
                        <p class="job-close-date">
                            <span class="month">08</span>/
                            <span class="day">04</span>/
                            <span class="year">2017</span>
                        </p>
                    </dd>

                    <dt class="accessibility-hidden">Link to job opportunity</dt>
                    <dd class="job-link"><a href="https://virginiajobs.peopleadmin.com/postings/81742">More Information</a></dd>
                </dl>
                <img src="/images/job-opportunities/job-category-icons/corrections-officer.svg" class="static-card-icon" aria-hidden="true">
            </li>
        }
    </ul>
}
