/*---------------------------*/
/* Facilities and Offices */
/*---------------------------*/
#facilities-and-offices h1 {
  margin-bottom: 4rem;
}
#facilities-and-offices h3 {
  text-transform: none;
  margin-bottom: none;
}
#facilities-map {
  height: 50rem;
  margin-bottom: 3rem;
}
.map-container {
  position: relative;
}
.facility-marker,
.key-facility-marker {
  background-color: #ff851b;
  border-radius: 50% 50% 50% 0;
  color: #464545;
  cursor: pointer;
  height: 26px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 26px;
}
.key-facility-marker {
  cursor: initial;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}
.facility-marker {
  font-size: 9px;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  text-align: center;
}
.key-facility-marker:after {
  background-color: #fff;
  border-radius: 50%;
  content: '';
  height: 22px;
  left: 2px;
  position: absolute;
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 22px;
}
.facility-marker:after {
  background-color: #fff;
  border-radius: 50%;
  content: attr(data-id);
  height: 22px;
  width: 22px;
  left: 2px;
  line-height: 2.5;
  position: absolute;
  text-align: center;
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
li#prison-key .key-facility-marker,
.prison {
  background-color: #85144b;
}
li#parole-key .key-facility-marker,
.probation-parole {
  background-color: #ff4136;
}
li#community-key .key-facility-marker,
.community {
  background-color: #3d9970;
}
li#medical-key .key-facility-marker,
.secure-medical {
  background-color: #001f3f;
}
li#regional-key .key-facility-marker,
.regional {
  background-color: #ff851b;
}
.marker-info-box p,
.marker-info-box a {
  font-size: 17px;
  margin: 0;
}
.marker-info-box p.facility-page-link,
.marker-info-box p.city-state-zip {
  margin-bottom: 10px;
}
#facilities-filter-wrap {
  position: relative;
  z-index: 30;
}
#facilities-filter {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 2px #888;
          box-shadow: 0 4px 2px #888;
  position: absolute;
  top: 8rem;
  width: 35rem;
}
#facilities-filter header {
  background-color: #003768;
  padding: 1rem 4rem;
}
#facilities-filter header h2 {
  display: inline-block;
  margin-bottom: 0;
}
#facilities-filter header h2 img {
  display: inline-block;
  margin-right: 2rem;
  vertical-align: middle;
}
#facilities-filter header h2 span {
  display: inline-block;
  vertical-align: middle;
}
img#show-filter {
  cursor: pointer;
  float: right;
  margin-top: 1.9rem;
  transition: transform 0.3s;
  vertical-align: middle;
}
.open #facilities-filter img#show-filter {
  transform: rotate(180deg);
}
#facilities-filter ul {
  display: none;
  padding-top: 4rem;
}
#facilities-filter li {
  margin-bottom: 4rem;

}
#facilities-filter li input[type='checkbox'] {
  display: inline-block;
  height: 20px;
  margin: 0 2rem 0 0;
  vertical-align: middle;
  width: 20px;
}
#facilities-filter label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
#geocoder {
  -webkit-box-shadow: 0 4px 2px grey;
          box-shadow: 0 4px 2px grey;
  display: none;
  left: 1%;
  position: absolute;
  top: 15%;
  z-index: 30;
}
#geocoder button.primary-button,
#geocoder input {
  display: inline-block;
  margin: 0;
}
#geocoder input {
  width: 20em;
}
#directions-panel {
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  display: none;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  z-index: 40;
}
i#close-directions {
  cursor: pointer;
  font-size: 20px;
}
.state-region header {
  background-color: #eef2f4;
  margin-bottom: 4rem;
  padding: 1em 0;
}
.state-region header h2,
.state-region header img {
  display: inline-block;
}
.state-region header img {
  vertical-align: middle;
  margin-right: 1.5em;
}
.state-region h2 {
  vertical-align: bottom;
}
.state-region li.correctional-facilities,
.state-region li.probation-facilities {
  display: inline-block;
  margin-bottom: 6em;
  vertical-align: top;
  width: 39.9rem;
}
.state-region li.correctional-facilities p,
.state-region li.probation-facilities p,
.state-region li.other-facilities p {
  margin: 0;
}
.state-region li.probation-facilities {
  border-right: 1px dotted #a8a8a9;
  border-left: 1px dotted #a8a8a9;
}
.state-region li.correctional-facilities ul,
.state-region li.probation-facilities ul {
  padding-top: 3em;
}
.state-region li.other-facilities h3 {
  margin-bottom:  1.25em;
}
.state-region li.other-facilities ul li:nth-of-type(1) h3 {
  margin-bottom: 1.875em;
}
.state-region li.other-facilities ul li ul li {
  margin-bottom: 3em;
}
.state-region li.probation-facilities,
.state-region li.other-facilities ul:nth-child(1) {
  padding-left: 4rem;
}
.state-region li.correctional-facilities li,
.state-region li.probation-facilities li {
  display: inline-block;
  margin-bottom: 3em;
  vertical-align: top;
  width: 16rem;
}
.state-region li.correctional-facilities li:nth-child(odd),
.state-region li.probation-facilities li:nth-child(odd) {
    margin-right: 4rem;
}
.state-region li.correctional-facilities li:nth-last-of-type(1),
.state-region li.probation-facilities li:nth-last-of-type(1),
.state-region li.correctional-facilities li:nth-last-child(2):nth-child(odd),
.state-region li.probation-facilities li:nth-last-child(2):nth-child(odd) {
  margin-bottom: 0;
}
.state-region li.other-facilities li {
  width: 24rem;
}
/*-----------------------*/
/*Facility Show Page*/
/*-----------------------*/
#facility-main-image {
  float: left;
  max-height: 72em;
  margin-left: 0;
  overflow: hidden;
}
#facility-main-image img {
  height: auto;
  width: 100%;
}
#facility-info {
  margin-bottom: 6em;
}
#facility-info .h2-style {
  margin-bottom: 0.90909em; /*20px*/
}
#facility-info h1 {
  margin-bottom: 1em;
}
#facility-info .info-block dt,
#facility-info .info-block dd {
  display: inline-block;
}
#facility-info a {
  text-decoration: underline;
}
#facility-info .info-block:nth-last-of-type(1) {
  margin-bottom: 0;
}
#visiting-hours dl {
  margin-bottom: 1em;
}
.facility-3col-list ul.link-list {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 8em;
          column-gap: 8em;
  -webkit-column-rule: 1px dotted #a8a8a9;
          column-rule: 1px dotted #a8a8a9;
}
.facility-3col-list {
  margin-bottom: 6em;
}
.facility-3col-list h2 {
  margin-bottom: 1.8181818181818181em; /*40px*/
}
/*-----------------------*/
/*Regional Facility*/
/*-----------------------*/
#facility-info .info-block .category {
  font-style: italic;
  margin-bottom: 1.1111111111111112em; /*20px*/
}
.facility-3col-list:nth-of-type(3) {
  border-top: 1px solid #a8a8a9;
  padding-top: 4em;
}
/*--------------------------------*/
/*Staff Training Facilities*/
/*--------------------------------*/
#facility-staff-training figure#facility-main-image {
  margin-bottom: 4rem;
}
