﻿/*--------------------------------------------------*/
/* Facilities and Offices Landing */
/*--------------------------------------------------*/
#facilities-and-offices main {
    padding-bottom: 6rem;
}
#facilities-and-offices header #hero-banner {
    background-image: url(/images/facilities-and-offices/header/facilities-offices-header.jpg);
    background-position: center;
    background-size: cover;
}
.button-group {
    display: none;
}
#facilities-and-offices .button-group ul {
    margin-bottom: 4rem;
}
#facilities-and-offices #ui-prompt {
    padding-top: 2rem;
}
#facilities-and-offices #type-filter li:nth-of-type(2) {
    width: 18rem;
}
#facilities-and-offices #type-filter li:nth-of-type(3) {
    width: 13rem;
}
.state-region header {
    background-color: #eef2f4;
    margin-bottom: 4rem;
    padding: 1em 0;
}

    .state-region header h2,
    .state-region header img {
        display: inline-block;
    }
        .state-region h3 {
            margin-bottom: 2rem;
        }

        .state-region header img {
            vertical-align: middle;
            margin-right: 1.5em;
        }

.state-region h2 {
    vertical-align: bottom;
}

.state-region ul {
    border-bottom: 1px solid #a8a8a9;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}
.state-region ul:nth-last-of-type(1) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.state-region li {
    border-left: 1px dotted #a8a8a9;
    float: left;
    height: 27.7rem;
    padding-left: 3.9rem;
    padding-right: 4rem;
    width: calc(33.3333% - 8rem);
}
        .state-region li:nth-child(3n+1) {
            border-left: none;
            padding-left: 0;
        }
        .state-region li:nth-child(n+4) {
            padding-top: 4rem;
        }
        .state-region li p {
            font-family: source-sans, arial, sans-serif;
        }
            .state-region li p.body-bold {
                margin-bottom: 0;
            }
            .state-region li p + p {
                margin-top: 0;
            }
            .state-region li p span {
                font-size: 1.8rem;
                line-height: 1.5;
            }
        .state-region li p.facility-subheading {
            font-style: italic;
        }
