/*---------------------------------*/
/* Families and Friends Global */
/*--------------------------------*/
.families-and-friends header #hero-banner {
    background-image: url(../images/family-and-friends/header/families-and-friends-header.jpg);
    background-position: center;
    background-size: cover;
}
.families-and-friends .col-14,
.families-and-friends .col-19 {
  margin-left: 0;
}
.families-and-friends #hcard-main-contact h3.h2-style {
  margin-bottom: 2rem;
} 
/*------------------------*/
/* Visitation Form */
/*------------------------*/
.visitation-form-section header #hero-banner {
  background-image: url(../images/family-and-friends/header/families-and-friends-header.jpg);
  background-position:  center;
  background-size: cover;
}
.visitation-form-section h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5em;
}
.visitation-form-section h3 {
  font-family: lato-light, arial, sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 0.909090em; /*20px*/
  text-transform: none;
}
.visitation-form-section #hcard-main-contact h3.h1-style {
  color: #fff;
  font-family: lato-light, arial, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.visitation-form-section h4 {
  font-family: lato, arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
}
.visitation-form-section .col-19,
.visitation-form-section .col-15 {
  margin-left: 0; 
}
p.visitation-step {
  color: #3a7ebc;
  font-family: lato-light, arial, sans-serif;
  font-size: 2.6em;
  line-height: 1;
  margin-bottom: 4rem;
}
p.visitation-step + p {
  margin-top: 0;
}
#form-progress-bar-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 116em;
}
#form-progress-bar-wrapper + main {
  padding-top: 2rem;
}
#form-progress {
  background-color: #eef2f4;
  margin-top: 2rem;
  padding: 2rem 2rem 3rem 2rem;
  width: 72rem;
}
#form-progress figcaption {
  bottom: -1.1em;
  font-family: lato, arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  left: 0;
  position: absolute;
  text-transform: uppercase;
}
#form-progress #progress-bar {
  background-color: #dddee0;
  border-radius: 5px;
  height: 1em;
  position: relative;
  width: 100%;
}
#form-progress #progress-bar #progress-meter {
  background-color: #5aeed0;
  border-radius: 5px 0 0 5px;
  display: block;
  height: 1em;
  position: relative;
}
#form-progress #progress-badge {
  background-color: #fff;
  border: 3px solid #5aeed0;
  border-radius: 50%;
  color: #5aeed0;
  display: inline-block;
  height: 5.4em;
  position: absolute;
  right: -6em;
  top: -2.5em;
  width: 5.4em;
}
#form-progress #progress-badge #badge-text {
  font-family: lato, arial, sans-serif;
  letter-spacing: 0;
  margin-left: 0.8em;
  margin-top: 1.2em;
}
#form-progress #progress-badge #number {
  font-size: 2.5em;
  line-height: 0.8;
}
#form-progress #progress-badge #symbol {
  vertical-align: top;
  margin-left: -0.3em;
}
#form-progress #progress-badge #done {
  display: block;
}
.visitation-form-section #hcard-main-contact .tel {
  margin-bottom: 0;
} 
.conditional-fields {
  display: none;
  margin-top: 4.7rem;
  padding-left: 11.6rem
}
input.conditional-trigger:checked ~ .conditional-fields {
  display: block;
}
.radio-binaries-header {
  padding: 0 2rem;
  width: 8rem;
}
.radio-binaries-header .binary-column-heading {
  display: inline-block;
  margin-bottom: 2rem;
  width: 50%;
}
.radio-binaries-header .binary-column-heading:nth-of-type(2) {
  margin-left: -4px;
  text-align: right;
}
form.visitation-form fieldset {
  padding: 2rem;
}
form.visitation-form fieldset:nth-of-type(odd) {
  background-color: #eef2f4;
}
form.visitation-form fieldset fieldset:nth-of-type(odd),
form.visitation-form fieldset fieldset:nth-of-type(even) {
  background-color: inherit;
  padding: 0;
}
fieldset span.custom-radio {
  position: absolute;
  top: 0.3rem;
}
fieldset .binary-positive span.custom-radio {
  left: 0;
}
fieldset .binary-negative span.custom-radio {
  right: 0;
}
fieldset .binary-negative {
  margin-left: -4px;
}
.visitation-form .radio-binary legend {
  float: left;
  margin-left: 4rem;
  width: 58rem;
}
.form-navigation-2 {
  float: right;
}
/*Visitation form specific icon-list stylings*/
.visitation-form-section ul.icon-list .li-info {
  width: 66rem;
}
.visitation-form-section ul.icon-list img.li-icon {
  height: 8rem;
  width: 8rem;
}
.visitation-form legend,
ul.icon-list ol li {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}
/*-----------------------*/
#visitation-form-navigation {
  margin: 4rem auto 6rem auto;
  width: 16.75em;
}
#visitation-form-navigation a.form-nav-link,
#visitation-form-navigation button[type=submit] {
  color: #464545;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1;
  vertical-align: top;
}
#visitation-form-navigation a.form-nav-link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#visitation-form-navigation a.form-nav-link span,
#visitation-form-navigation button[type=submit] span {
  display: block;
  margin-top: 2rem;
}
#visitation-form-navigation button[type=submit],
#visitation-form-navigation a.next-step {
  border: none;
  background-color: #fff;
  cursor: pointer;
  float: right;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
#visitation-form-navigation img {
  border: none;
  height: 60px;
  width: 60px;
}
.radio-multi-button {
  margin-bottom: 2em;
}
.visitation-form button[type=submit] {
  margin-bottom: 0;
}
.radio-multi-button label {
  background-color: #fff;
  border: 1px solid #a8a8a9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 -4px;
  padding: 1.1rem 0; 
  text-align: center;
}
.radio-multi-button label:nth-of-type(1) {
  margin-left: 0;
}
.radio-multi-button legend {
  margin: 0;
}
.radio-multi-button label span.checkmark {
  display: none;
}
.radio-multi-button label input:checked {
  background-color: #003768;
}
.radio-multi-button input:checked + label{
  background-color: #003768;
  border-color: #003768;
  color: #fff;
}
.radio-multi-button input:checked + label span.checkmark {
  display: inline;
}
ul.visitation-result-cards li {
  border: none;
  margin: 0;
  padding: 2rem 2rem 4rem 2rem;
}
ul.visitation-result-cards li:nth-of-type(odd) {
  background-color: #eef2f4;
}
ul.visitation-result-cards li.result-data:nth-last-of-type(1) {
  margin-bottom: 4rem;
}
ul.visitation-result-cards  dl.secondary-info {
  display: inline-block;
}
ul.visitation-result-cards  dl.general-info dt {
  display: none;
}
ul.visitation-result-cards dd,
ul.visitation-result-cards dt {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.5em;
}
ul.visitation-result-cards  dl.general-info dd {
  display: inline;
}
ul.visitation-result-cards  dl.secondary-info dd,
ul.visitation-result-cards  dl.secondary-info dt {
  display: inline-block;
}
ul.visitation-result-cards form {
  display: inline-block;
  margin-left: -4px;
  vertical-align: bottom; 
}
.visitation-result-cards button {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 12rem;
}
/* Visitation Form Landing */
#visitation-intro h2 {
  margin-bottom: 4rem;
}
/* Visitor Questionnaire */
#visitor-questionnaire main,
#visitor-work-history main,
#visitor-who-to-visit main,
#relationship-to-offender main,
#selection-review main,
#applicant-info main,
#add-minor main,
#minor-questionnaire main,
#minor-information main,
#review-added-minor main,
#application-review main,
#minor-visitation-select main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 116em;
}
#visitor-questionnaire .conditional-fields input:nth-last-of-type(1) {
  margin-bottom: 0;
}
/* Visitor Work History*/
#visitor-work-history .radio-multi-button label {
  width: 24rem;
}
#visitor-work-history label.date-picker {
  display: inline-block;
  margin-right: 3rem;
}
label.date-picker input,
label.date-picker img.calendar-icon {
  display: inline-block;
}
label.date-picker input {
  width: 13.8rem;
}
label.date-picker img.calendar-icon {
  border: none;
  height: 4rem;
  margin-left: 1em;
  vertical-align: bottom;
  width: 4rem;
}
#visitor-work-history label[for="position"] {
  display: inline-block;
  width: 34rem;
  margin-bottom: 2rem;
}
#visitor-work-history label[for="alternate-name"] {
  display: inline-block;
  width: 36rem;
  margin-left: 1.6rem;
  margin-bottom: 2rem;
}
/* Visitor Who to Visit */
#visitor-who-to-visit .primary-button {
  float: right;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 12rem;
}
#visitor-who-to-visit form.visitation-form fieldset {
  padding-bottom: 4rem;
  padding-right: 4rem;
}
#visitor-who-to-visit form#offender-to-visit h2 + p {
  margin-bottom: 2rem;
} 
#visitor-who-to-visit form#offender-to-visit label[for="first-name"],
#visitor-who-to-visit form#offender-to-visit label[for="last-name"],
#visitor-who-to-visit form#offender-to-visit label[for="offender-id"] {
  display: inline-block;
  margin-bottom: 4rem;
  width: 20rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="first-name"] {
  margin-right: 3.6rem;
}
#visitor-who-to-visit .or-divider {
  padding-left: 3rem;
  width: 2.6rem;
  margin-left: -4px;
  vertical-align: baseline;
}
#visitor-who-to-visit form#offender-to-visit label[for="offender-id"] {
  float: right;
}
#visitor-who-to-visit .or-divider .vertical-line {
  left: 0;
  height: 1.6em;
  border-left: 1px solid #464545;
}
#visitor-who-to-visit .or-divider p {
  display: inline-block;
  left: -0.5em;
  margin-bottom: 0;
  position: relative;
}
label#show-optional-offender-info {
  background-image: url(../images/global/icons/drop-arrows-down.svg);
  background-position: right 75%;
  background-repeat: no-repeat;
  color: #3a7ebc;
  cursor: pointer;
  display: inline;
  float: right;
  font-size: 1.8em;
  line-height: 1;
  margin-right: 2rem;
  padding-right: 2rem;
  padding-top: 1.1rem;
  text-decoration: underline;
}
label#show-optional-offender-info:hover {
  text-decoration: none;
}
#visitor-who-to-visit input[type=checkbox].conditional-trigger {
  display: none;
}
#visitor-who-to-visit form#offender-to-visit label[for="middle-name"],
#visitor-who-to-visit form#offender-to-visit label[for="alias"],
#visitor-who-to-visit form#offender-to-visit label[for="release-date"],
#visitor-who-to-visit form#offender-to-visit label[for="race"],
#visitor-who-to-visit form#offender-to-visit label[for="sex"],
#visitor-who-to-visit form#offender-to-visit label[for="age-from"],
#visitor-who-to-visit form#offender-to-visit label[for="age-to"] {
  display: inline-block;
  margin-bottom: 2rem;
}
#visitor-who-to-visit #optional-offender-info {
  margin-top: 0;
  padding: 4rem 0 0 0;
}
#visitor-who-to-visit form#offender-to-visit label[for="middle-name"] {
  margin-right: 4rem;
  width: 22rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="alias"] {
  margin-right: 4rem;
  width: 20rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="alias"],
#visitor-who-to-visit form#offender-to-visit label[for="release-date"] {
  margin-left: -4px;  
}
#visitor-who-to-visit form#offender-to-visit label[for="release-date"] {
  width: 26rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="race"],
#visitor-who-to-visit form#offender-to-visit label[for="sex"] {
  width: 16rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="race"] {
  margin-right: 3.6rem;
}
#visitor-who-to-visit form#offender-to-visit .dash-divider {
  content: '';
  display: inline-block;
  border-bottom: 1px solid #a8a8a9;
  margin: 0 0.7rem 4rem 0.7rem;
  vertical-align: bottom; 
  width: 2rem;
}
#optional-offender-info label.date-picker input {
  width: 17.8rem;
}
#optional-offender-info label.date-picker img.calendar-icon {
  width: 4rem;
  height: 4rem;
  float: right;
  margin-top: 0;
}
#visitor-who-to-visit form#offender-to-visit input#age-from,
#visitor-who-to-visit form#offender-to-visit input#age-to {
  width: 13.8rem;
}
#optional-offender-info #age-range {
  line-height: 1;
  margin-bottom: 1rem;
}
#optional-offender-info .primary-button {
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
}
#optional-offender-info hr {
  border: 1px solid #eef2f4;
  clear: both;
}
#visitation-search-results {
  padding-top: 4rem;
}
#visitor-who-to-visit ul.visitation-result-cards {
  border-bottom: 1px solid #eef2f4;
  margin-bottom: 4rem;
}
#visitor-who-to-visit ul.visitation-result-cards  dl.secondary-info {
  width: 58rem;
}
#visitation-search-results .no-offender-results .body-bold img {
  border: none;
  display: inline-block;
  height: 3rem;
  margin-right: 1rem; 
  vertical-align: middle;
  width: 3rem;
}
#visitation-search-results .no-offender-results .body-bold span {
  display: inline-block;
  vertical-align: middle;
}
#visitation-search-results .no-offender-results p.disclaimer {
  font-style: italic;
}
/*Relationship to Offender*/
ul#offenders-to-visit li p.body-bold {
  margin-bottom: 2rem;
}
form#delete-offender-to-visit fieldset {
  padding-bottom: 0;
}
form#delete-offender-to-visit label {
  display: inline-block;
  font-size: 1.8em;
  margin-bottom: 0;
  margin-right: 1rem;
}
form#relationship,
form#delete-offender-to-visit {
  width: 42rem;
}
form#relationship .primary-button {
  margin-bottom: 6rem;
  margin-right: 0;
}
form#relationship fieldset {
  margin-bottom: 4em;
}
.visitation-form-section .form-navigation-2 .primary-button {
  margin-right: 2rem;
}
.form-navigation-2 a:hover {
  color: #3a7ebc;
  text-decoration: none;
}
/* Review Selected Offender/s*/
#selection-review .disclaimer-container {
  border-bottom: 1px solid #eef2f4;
  border-top: 1px solid #eef2f4;
  margin-bottom: 4rem;
  padding: 4rem 0;
}
#selection-review .disclaimer img {
  border: none;
  display: inline-block;
  margin-right: 2rem; 
  vertical-align: middle;
}
#selection-review .disclaimer span {
  display: inline-block;
  margin-left: -4px;
  vertical-align: middle;
  width: 54rem;
}
ul.visitation-result-cards dd.edit-selection {
  font-size: 1em;
  margin-left: 1em;
}
#selection-review ul.visitation-result-cards dl.secondary-info {
  width: 44rem;
}
ul.visitation-result-cards form.selection-review-delete button[type=submit] {
  margin-bottom: 0;
}
a.add-offender img {
  border: none;
  margin-right: 1rem;
  text-decoration: none;
  vertical-align: middle;
  width: 4rem;
}
a.add-offender:hover {
  text-decoration: none;
  color: #3a7ebc;
}
/* Applicant Info */
#applicant-info .visitation-form legend {
  margin-bottom: 2rem;
}
#applicant-info #name-fields {
  padding: 2rem 0;
}
#applicant-info #name-fields label {
  margin-right: 2rem;
}
#applicant-info #name-fields label:nth-of-type(1),
#applicant-info #name-fields label:nth-of-type(4) {
  margin-left: 0; 
}
#applicant-info #name-fields label:nth-of-type(3) {
  margin-right: 0; 
}
#applicant-info #name-fields label:nth-of-type(4),
#applicant-info #name-fields label:nth-of-type(5) {
  margin-bottom: 0;
}
#applicant-info label[for="d-o-b"] {
  width: 30rem;
}
#applicant-info input#d-o-b {
  width: 21.8rem;
}
#applicant-info label[for="ssn"] {
  margin-left: 0;
}
#applicant-info p.id-type-label {
  margin-bottom: 1rem;
}
#applicant-info .radio-multi-button label[for="id-number"] {
  background-color: inherit;
  border: none;
  cursor: initial;
  display: block;
  margin: 2rem 0 1rem 0;
  padding: 0;
  text-align: left;
  width: 22rem;
}
.visitation-form .radio-multi-button legend {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 1rem;
}
#applicant-info .radio-multi-button label[for="drivers"] {
  width: 21.8rem;
}
#applicant-info .radio-multi-button label[for="military"] {
  width: 17.8rem;
}
#applicant-info .radio-multi-button label[for="state"],
#applicant-info .radio-multi-button label[for="passport"] {
  width: 15.8rem;
}
/*Applicant Physical Description*/
#applicant-physical fieldset.radio-multi-button {
  margin-bottom: 2rem;
}
#applicant-physical form.visitation-form fieldset:nth-of-type(odd), 
#applicant-physical form.visitation-form fieldset:nth-of-type(even) {
  background-color: inherit;
  padding: 0;
}
#applicant-physical fieldset.radio-multi-button label,
#minor-information fieldset.radio-multi-button label {
  float: left;
  margin-left: 0;
  width: 23.8rem;
}
form.visitation-form fieldset#race-select label[for="native-indian"] {
  width: 15.8rem;
  padding: 0.3rem 4rem;
}
#applicant-physical #height-fields,
#applicant-physical #weight-field {
  display: inline-block;
  vertical-align: top;
  width: 22rem;
}
#applicant-physical #height-fields legend,
#applicant-physical #weight-field legend {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 0.625em;
}
#applicant-physical #height-fields {
  margin-right: 3.6rem; 
}
#applicant-physical #height-fields label,
#applicant-physical #weight-field label {
  position: relative;
}
#applicant-physical #height-fields label:nth-last-of-type(1) {
  margin-bottom: 1.25em;
}
#applicant-physical #height-fields label span.label,
#applicant-physical #weight-field label span.label {
  bottom: 0;
  margin-bottom: 1.5rem;
  position: absolute;
  right: 1em;
}
/*Applicant Contact Info*/
#applicant-contact-info fieldset.radio-multi-button {
  background-color: inherit;
  padding: 0;
}
#applicant-contact-info .radio-multi-button label {
  width: 8rem;
}
#applicant-contact-info label[for="street-address"],
#applicant-contact-info label[for="country"],
#applicant-contact-info label[for="email"],
#applicant-contact-info label[for="phone"] {
  width: 32rem;
}
#applicant-contact-info label[for="zipcode"],
#applicant-contact-info label[for="city"] {
  width: 14rem;
}
#applicant-contact-info label[for="city"] {
  display: inline-block; 
  vertical-align: top;
  margin-right: 2rem; 
}
#applicant-contact-info label[for="us-state"] {
  display: inline-block;
  vertical-align: top;
  width: 16rem;
}
/*Add a Minor*/
#add-minor ul.icon-list li {
  margin-bottom: 2rem;
}
#add-minor ul.icon-list li img,
#add-minor ul.icon-list li .li-info {
  vertical-align: middle;
}
#add-minor fieldset.form-navigation-2 {
  padding: 4rem 0 6rem 0;
}
/*Minor Information*/
#minor-information .visitation-form legend.required {
  margin-bottom: 2rem;
}
#minor-information fieldset.dob {
  margin-bottom: 2rem;
}
#minor-information fieldset.dob label.wrapping-label {
  margin-bottom: 0;
  width: 30rem;
}
#minor-information input#d-o-b {
  width: 21.8rem;
}
#minor-information label[for="first-name"],
#minor-information label[for="middle-name"],
#minor-information label[for="last-name"] {
  display: inline-block;
  vertical-align: top;
  width: 24rem;
}
#minor-information label[for="first-name"],
#minor-information label[for="middle-name"] {
  margin-right: 2rem;
}
#minor-information label[for="middle-name"],
#minor-information label[for="last-name"] {
  margin-left: -4px;
}
#minor-information label[for="birth-place"] {
  width: 34rem;
}
#minor-information input#ssn {
  width: 13.8rem;
}
#minor-information fieldset#race-select {
  padding: 0;
  width: 48rem;
}
#minor-information fieldset#sex-select {
  padding: 0;
  width: 24rem;
  background-color: inherit;
}
#minor-information fieldset#sex-select label {
  width: 11.8rem;
}
/*Minor Visitation Select*/
form#minor-visit-select dl.general-info,
form#minor-visit-select dl.secondary-info {
  display: inline-block;
}
form#minor-visit-select dl.secondary-info {
  margin-bottom: 2rem;
  margin-left: 6.3em;
}
form#minor-visit-select dl.general-info {
  margin-left: 1.3em;
}
form#minor-visit-select dl.general-info dd {
  line-height: 1;
}
form#minor-visit-select label.checkbox {
  display: inline-block;
  margin-left: 0.5em; /*8px*/
  vertical-align: top;
}
form#minor-visit-select label.relation-to-minor {
  margin-left: 3.9375em; /*63px*/
}
/*Review Added Minors*/
.visitation-result-cards dl.minor-info {
  margin-bottom: 2em;
}
.visitation-result-cards dl.minor-info dt,
.visitation-result-cards dl.minor-info dd,
.visitation-result-cards dl.minor-visit-info dt,
.visitation-result-cards dl.minor-visit-info dd {
  display: inline-block;
}
.visitation-result-cards dl dd.edit-info a {
  font-size: 0.9444444444444444em; /*17px*/
  margin-left: 0.5em;
}
.visitation-result-cards dl dd.edit-info a:hover,
form#minor-review-confirmation a:hover,
a.edit-info:hover {
  color: #3a7ebc;
  text-decoration: none;
}
#review-added-minor ul.visitation-result-cards li.result-data:nth-last-of-type(1) {
  margin-bottom: 0;
}
form#minor-review-confirmation {
  margin-bottom: 6rem;
  padding: 2rem 0 0 0;
}
form#minor-review-confirmation legend {
  font-style: italic;
  margin-bottom: 4rem;
}
/*Final Application Review*/
#application-review h2 {
  margin-bottom: 4rem;
}
#application-review .review-list-header h3 {
  display: inline-block;
  margin-right: 1rem;
}
#application-review ul.visitation-result-cards li {
  padding-bottom: 2rem;
}
#application-review ul.visitation-result-cards li p {
  margin-bottom: 0;
}
#application-review ul.visitation-result-cards li.result-data:nth-last-of-type(1) {
  margin-bottom: 0;
}
#application-review .review-list-header {
  border-top: 2px solid #eef2f4;
  margin: 2rem 2rem 0 2rem;
  padding: 4rem 0 0 0;
}
#application-review .review-list-header:nth-of-type(1) {
  border: none;
  margin: 0 2em;
  padding: 0;
}
#application-review .review-list-header p.description {
  margin-bottom: 2rem;
}
#application-review #visitor-info h2,
#application-review #minor-info h2 {
  margin-bottom: 0;
}
#application-review #application-review-confirm {
  padding: 2rem 0 6rem 2rem;
}
#application-review #application-review-confirm label {
  margin-bottom: 4rem;
  padding-right: 2rem;
}
#application-review #application-review-confirm  span.label {
  display: block;
  margin-bottom: 2rem;
}
#application-review form.visitation-form .form-navigation-2 button[type=submit] {
  margin-right: 0;
}
/*Application Submitted*/
#application-submitted p.description {
  margin-bottom: 4rem; /*40px*/
}
#application-submitted ul.icon-list li {
  margin-bottom: 2rem;
}
#application-submitted .icon-list img.li-icon,
#application-submitted .icon-list .li-info {
  vertical-align: middle;
}
/*Application Declined*/
#application-declined main {
  padding-bottom: 6rem;
}
#application-declined p.description {
  margin-bottom: 4rem;
}
#application-declined p a {
  text-decoration: underline;
}
#application-declined p a:hover {
  color: #3a7ebc;
  text-decoration: none;
}
#application-declined h2 img,
#application-submitted h2 img {
  border: none;
  vertical-align: bottom;
}
#application-declined .primary-button {
  margin-bottom: 0;
  margin-right: 2rem;
}
/*-----------------------------------*/
/* Families & Friends Overview */
/*-----------------------------------*/
#incarceration-process {
  padding-bottom: 6rem;
}
#offender-support {
  margin-bottom: 0;
}
#incarceration-process p:nth-last-of-type(1),
#offender-support p:nth-last-of-type(1) {
  margin-bottom: 0;
}

/*-----------------------------------*/
/* Mail and Telephone Procedures-- */
/*-----------------------------------*/
/* Mail Procedures for Sending to Offenders*/
#mail-procedures .description {
  margin-left: 0;
}

#mail-procedures .description .disclaimer {
  font-style: italic;
}
#mail-procedures .description {
  margin-bottom: 0;
}
#sending-mail  {
  background-color: #eef2f4;
  margin-left: 0;
  padding: 3rem 2rem 4rem 2rem;
}
#sending-mail .icon-list {
  border-top: 1px dotted #a8a8a9;
  margin-bottom: 0;
  padding-top: 4rem;
}
    #sending-mail .li-info {
        width: 28rem;
    }
#what-you-can-send {
    padding-top: 4rem;
  padding-bottom: 6rem;
}
#mail-accepted ul {
  padding: 0 2rem;
}
#process-and-deliver figcaption {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.5em;
  margin-bottom: 4rem;
}
#process-and-deliver figcaption {
    font-style: italic;
    margin-bottom: 0;
    margin-top: 2rem;
}
#mail-accepted li:nth-last-of-type(1) {
  border-bottom: 0;
}
#mail-not-accepted p:nth-last-of-type(1) {
  margin-bottom: 0;
}
#process-and-deliver {
  margin-bottom: 0;
}
#process-and-deliver .description p {
  margin-bottom: 0;
}
/* Telephone Correspondence */

#telephone-correspondence .disclaimer {
  font-style: italic;
}
#telephone-correspondence #telephone-procedures .icon-list li:nth-last-of-type(1) {
  margin-bottom: 0;
}
#telephone-correspondence #telephone-procedures .icon-list ul,
#telephone-correspondence #loss-of-priveleges ul {
  list-style: initial;
  list-style-position: inside;
  margin-bottom: 0;
  margin-top: 1rem;
}
#telephone-procedures .icon-list ul li,
#telephone-correspondence #loss-of-priveleges ul li {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.5em;
  margin-bottom: 2rem;
}
#telephone-correspondence #phone-plan-funding {
  background-color: #eef2f4;
}
#telephone-correspondence #phone-plan-funding p:nth-last-of-type(1) {
  margin-bottom: 0;
}
#telephone-correspondence #loss-of-priveleges {
  background-color: #003768;
  padding: 4rem 4rem 6rem 10rem;
  position: relative;
  width: 62rem;
}
#telephone-correspondence #loss-of-priveleges img {
  border: none;
  height: 6rem;
  width: 6rem;
  left: 2rem;
  position: absolute;
  top: 4rem;
}
#telephone-correspondence #loss-of-priveleges ul {
  list-style-position: outside;
  padding-left: 2rem;
}
#telephone-correspondence #loss-of-priveleges ul li {
  margin-bottom: 1rem;
}
#telephone-correspondence #loss-of-priveleges ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
#telephone-correspondence #hcard-main-contact {
  margin-bottom: 0;
}
/*---------------------------------*/
/* Directions for Sending Money */
/*---------------------------------*/
#directions-for-sending-money .description {
  margin-bottom: 3rem;
}
#directions-for-sending-money p:nth-last-child(1) {
  margin-bottom: 0;
}
#directions-for-sending-money #how-to-send-money {
  padding-bottom: 6rem;
}
#directions-for-sending-money .disclaimer {
  font-style: italic;
}
#directions-for-sending-money #how-to-send-money .vcard {
  margin-bottom: 2rem;
  padding-left: 2rem;
}
#directions-for-sending-money #how-to-send-money .notice {
  background-color: #eef2f4;
  margin-bottom: 4rem;
  margin-top: 2rem;
  padding: 4rem 4rem 4rem 2rem;
  width: 52rem;
}
#directions-for-sending-money #how-to-send-money .notice img {
  border: none;
  display: inline-block;
  height: 6rem;
  margin-right: 2rem;
  vertical-align: top;
  width: 6rem;
}
#directions-for-sending-money #how-to-send-money .notice p {
  display: inline-block;
  font-weight: 600;
  margin-left: -4px;
  width: 42rem;
}
#directions-for-sending-money #deposit-fees .deposit-fees-mobile {
  display: none;
}
#directions-for-sending-money #deposit-fees table {
  border-collapse: collapse;
}
#directions-for-sending-money #deposit-fees th,
#directions-for-sending-money #deposit-fees td {
  border: 1px solid #cfcece;
}
#directions-for-sending-money #deposit-fees th {
  background-color: #003768;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: source-sans, arial, sans-serif;
  text-transform: uppercase;
}
#directions-for-sending-money #deposit-fees th:nth-of-type(1) {
  padding: 1.9rem 1rem 1.9rem 2rem;
  text-align: left;
  width: 13.9rem;
}
#directions-for-sending-money #deposit-fees th:nth-of-type(2),
#directions-for-sending-money #deposit-fees th:nth-of-type(3) {
  width: 11.9rem;
}
#directions-for-sending-money #deposit-fees th:nth-of-type(4) {
  width: 14.9rem;
}
#directions-for-sending-money #deposit-fees td {
  background-color: #fff;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
#directions-for-sending-money #deposit-fees td:nth-of-type(1) {
  padding-left: 2rem;
}
#directions-for-sending-money #deposit-fees td:nth-of-type(2),
#directions-for-sending-money #deposit-fees td:nth-of-type(3),
#directions-for-sending-money #deposit-fees td:nth-of-type(4) {
  text-align: center;
}
/*---------------------------*/
/* Visitation Overview */
/*---------------------------*/
#visitation-overview #apply-for-visitation {
  padding-bottom: 6rem;
}
#visitation-overview .vs-info {
  margin-top: 4rem;
  padding-left: 6rem;
  position: relative;
}
#visitation-overview .vs-info p:nth-last-of-type(1) {
  margin-bottom: 0;
}
#visitation-overview .vs-info .vs-info-icon {
  border: none;
  height: 4rem;
  left: 0;
  position: absolute;
  top: -0.7rem;
  width: 4rem;
}
#visitation-overview #visitation-policies {
    margin-bottom: 0;
}
#visitation-overview #visitation-policies .callout-list {
    margin-bottom: 2rem;
    background-color: #fff;
}
#visitation-overview #visitation-policies .callout-list li {
  padding-left: 1rem;
  padding-right: 1rem;
}
#visitation-overview #visitation-policies p:nth-last-child(1),
#visitation-overview #video-visitation p:nth-last-child(1),
#visitation-overview #apply-for-visitation p:nth-last-child(1) {
  margin-bottom: 0;
}
#visitation-overview #wardrobe-disclaimer {
  font-style: italic;
}
/*---------------------------*/
/* Video Visitation */
/*---------------------------*/
#video-visitation h4 {
  line-height: 1.5;
  text-transform: none;
}
#video-visitation h5 {
  font-family: source-sans, arial, sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
}
#video-visitation #how-it-works li.vv-step {
  margin-bottom: 4rem;
}
#video-visitation #how-it-works li.vv-step:nth-last-of-type(1) {
  margin-bottom: 0;
}
#video-visitation #how-it-works li.vv-step p.body-bold {
  margin-bottom: 0;
}
#video-visitation #how-it-works .h1-style {
  color: #3a7ebc;
}
#video-visitation #how-it-works ul.unstyled-list li {
  margin-bottom: 1rem
}
#video-visitation #how-it-works ul.unstyled-list li:nth-last-of-type(1) {
  margin-bottom: 0;
}
#video-visitation #how-it-works ul#security-levels {
  margin-bottom: 4rem;
}
#video-visitation #how-it-works p:nth-last-child(1) {
  margin-bottom: 0;
}
#video-visitation figure.region {
  background-color: #eef2f4;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  width: 48rem;
}
#video-visitation figure.region figcaption,
#video-visitation h4 {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8rem;
  font-style: italic;
}
#video-visitation figure.region figcaption {
  display: inline;
  vertical-align: middle;
}
#video-visitation figure.region img {
  border: none;
  height: auto;
  margin-right: 2rem;
  vertical-align: middle;
  width: 8rem;
}
#video-visitation figure.region + ul.unstyled-list {
  margin-bottom: 4rem;
  padding-left: 2rem;
}
#video-visitation #video-visitation-centers {
  border-bottom: 1px dotted #a8a8a9;
  border-top: 1px dotted #a8a8a9;
  margin-bottom: 4rem;
  margin-left: 2rem;
  padding-top: 4rem;
}
#video-visitation #video-visitation-centers .vcard {
  margin-bottom: 4rem;
}
#video-visitation #video-visitation-fees {
  margin-left: 2rem;
  border-bottom: 1px dotted #a8a8a9;
}
#video-visitation #video-visitation-fees ul {
  margin-bottom: 4rem;
}
/*---------------------------*/
/* Media Queries */
/*---------------------------*/
@media screen and (max-width: 800px) {
  /* Families and friends Mobile */
    #families-and-friends-landing .with-sidebar-nav {
        padding-bottom: 0;
    }
  /* Visitation Form Mobile */
  #form-progress-bar-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: initial;
  }
  #form-progress {
    margin-top: 0;
    width: initial;
  }
  .visitation-form-section ul.icon-list .li-info {
    width: calc(100% - 10em);
  }
  p.visitation-step {
    margin-bottom: 2rem;
  }
  form.visitation-form fieldset {
    padding: 2em 2em;
  }
  #visitation-intro .primary-button,
  #visitation-intro .es-link {
    float: none;
  }
  .visitation-form .radio-binary legend {
    width: calc(100% - 6.666666666666667em);
  }
  #offender-to-visit #optional-offender-info label.ib-element {
    width:10em;
  }
  #offender-to-visit #optional-offender-info label.race,
  #offender-to-visit #optional-offender-info label.slider-from {
    margin-right: 2.5em;
    margin-left: 0;
  }
  a.add-offender {
    margin-left: 1.1764705882352942em;
  }
  .form-navigation-2 {
    float: none;
  }
  .visitation-form-section aside #hcard-main-contact {
    margin-bottom: 0;
  }
  /* Visitor Questionnaire Mobile */
  #visitor-questionnaire main,
  #visitor-work-history main,
  #visitor-who-to-visit main,
  #relationship-to-offender main,
  #selection-review main,
  #applicant-info main,
  #add-minor main,
  #minor-questionnaire main,
  #minor-information main,
  #review-added-minor main,
  #application-review main,
  #minor-visitation-select main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: initial;
  }
  #visitor-questionnaire h2,
  #visitor-questionnaire p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  /* Application Declined Mobile */
  #application-declined a.primary-button {
    float: none;
  }
  /* Work History Mobile */
  #visitor-work-history h2,
  #visitor-work-history p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #visitor-work-history label[for="position"],
  #visitor-work-history label[for="alternate-name"] {
    margin-left: 0;
    display: block;
    width: initial;
  }
  /* Who to Visit Mobile */
  #visitor-who-to-visit h2,
  #visitor-who-to-visit p.description,
  #visitor-who-to-visit .visitation-step,
  #visitor-who-to-visit #visitation-search-results h3  {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #visitation-search-results h2 {
    margin-left: 2rem;
  }
  #visitor-who-to-visit #optional-offender-info {
    padding: 4rem 2rem 0 2rem;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="first-name"], 
  #visitor-who-to-visit form#offender-to-visit label[for="last-name"], 
  #visitor-who-to-visit form#offender-to-visit label[for="offender-id"],
  #visitor-who-to-visit form#offender-to-visit label[for="middle-name"],
  #visitor-who-to-visit form#offender-to-visit label[for="alias"] {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #visitor-who-to-visit .or-divider {
    display: block;
    padding: 0;
    margin-bottom: 4rem;
    margin-left: 0; 
    width: initial;
  }
  #visitor-who-to-visit .or-divider .vertical-line {
    display: none;
  }
  #visitor-who-to-visit .or-divider p {
    display: block;
    left: 0;
    position: initial;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="middle-name"],
  #visitor-who-to-visit form#offender-to-visit label[for="alias"],
  #visitor-who-to-visit form#offender-to-visit label[for="release-date"],
  #visitor-who-to-visit form#offender-to-visit label[for="race"],
  #visitor-who-to-visit form#offender-to-visit label[for="sex"] {
    margin-bottom: 4rem;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="release-date"] {
    display: block;
    margin-left: 0;
    width: 36rem;
  }
  #optional-offender-info label.date-picker input {
    width: 27.8rem;
  }
  #optional-offender-info input#age-from,
  #optional-offender-info input#age-to,
  #visitor-who-to-visit form#offender-to-visit .dash-divider {
    display: none;
  }
  #optional-offender-info #age-range {
    margin-bottom: 4rem;
  }
  ul.visitation-result-cards li {
    padding-bottom: 2rem;
  }
  #visitor-who-to-visit ul.visitation-result-cards dl.secondary-info,
  #selection-review ul.visitation-result-cards dl.secondary-info {
    width: 100%;
    margin-bottom: 4rem;
  }
  #visitation-search-results .no-offender-results {
    padding: 0 2rem;
  }
  /* Selected Offender(s) to Visit Mobile*/
  #selection-review h2,
  #selection-review p.description,
  #selection-review p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #selection-review .disclaimer-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #selection-review .disclaimer span {
    width: calc(100% - 6rem);
  }
  /* Relationship to Offender Mobile */
  #relationship-to-offender h2,
  #relationship-to-offender p.description,
  #relationship-to-offender p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  form#relationship .form-navigation-2 {
    margin-left: 2rem;
  }
  form#relationship,
  form#delete-offender-to-visit {
    width: 100%;
  }
  /* Applicant Information Mobile */
  #applicant-info h2,
  #applicant-info legend,
  #applicant-info .visitation-step {
    margin-left: 2rem;
  }
  #applicant-info #name-fields {
    padding: 2rem;
  }
  #applicant-info #name-fields label {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
  }
  #applicant-info #name-fields label:nth-of-type(4){
    margin-bottom: 2rem;
  }
  #applicant-info .radio-multi-button label[for="drivers"],
  #applicant-info .radio-multi-button label[for="state"] {
    width: 15.8rem;
  }
  #applicant-info .radio-multi-button label[for="military"],
  #applicant-info .radio-multi-button label[for="passport"] {
    width: 11.8rem;
  }
  #applicant-info .radio-multi-button label[for="id-number"] {
    width: 100%;
  }
  #applicant-info label[for="ssn"] {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
  }
  /* Applicant Physical Description Mobile */
  #applicant-physical fieldset#race-select,
  #applicant-physical #height-fields {
    width: 28rem;
  }
  #applicant-physical fieldset#hair {
    width: 32rem;
  }
  #applicant-physical fieldset#eye {
    width: 24rem;
  }
  #applicant-physical fieldset#hair label[for="green"],
  #applicant-physical fieldset#hair label[for="orange"],
  #applicant-physical fieldset#hair label[for="pink"],
  #applicant-physical fieldset#hair label[for="purple"] {
    margin-top: 2em;
  }
  #applicant-physical #height-fields,
  #applicant-physical #weight-field {
    display: block;
  }
  #applicant-physical #weight-field {
    width: 100%;
  }
  #applicant-physical #height-fields legend,
  #applicant-physical #weight-field legend {
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 0.625em;
  }
  #applicant-physical #height-fields label,
  #applicant-physical #weight-field label {
    position: relative;
  }
  #applicant-physical #height-fields label:nth-last-of-type(1) {
    margin-bottom: 1.25em;
  }
  #applicant-physical #height-fields label span.label,
  #applicant-physical #weight-field label span.label {
    top: 0;
    margin-top: 1.2rem;
    position: absolute;
    right: 1em;
  }
  #applicant-physical fieldset#race-select label[for="native-indian"] {
    padding: 1.1rem 0;
    width: 27.8rem;
  }
  #applicant-physical .radio-multi-button label[for="blonde"],
  #applicant-physical .radio-multi-button label[for="gray"] {
    width: 15.8rem;
  }
  #applicant-physical fieldset#race-select label[for="pacific-islander"] {
    width: 19.8rem;
  }
  #applicant-physical fieldset#race-select label[for="black"],
  #applicant-physical fieldset#race-select label[for="white"],
  #applicant-physical fieldset#race-select label[for="hispanic"],
  #applicant-physical fieldset#sex-select label[for="male"],
  #applicant-physical fieldset#sex-select label[for="other"],
  #applicant-physical fieldset#hair label[for="bald"],
  #applicant-physical fieldset#hair label[for="black-hair"],
  #applicant-physical fieldset#hair label[for="red"],
  #applicant-physical fieldset#hair label[for="brown"],
  #applicant-physical fieldset#hair label[for="green"],
  #applicant-physical fieldset#hair label[for="orange"],
  #applicant-physical fieldset#hair label[for="pink"],
  #applicant-physical fieldset#hair label[for="purple"],
  #applicant-physical fieldset#hair label[for="sandy"],
  #applicant-physical fieldset#hair label[for="white-hair"],
  #applicant-physical fieldset#hair label[for="blue"],
  #applicant-physical fieldset#eye label[for="blue-eye"],
  #applicant-physical fieldset#eye label[for="brown-eye"],
  #applicant-physical fieldset#eye label[for="gray-eye"],
  #applicant-physical fieldset#eye label[for="green-eye"],
  #applicant-physical fieldset#eye label[for="hazel-eye"],
  #applicant-physical fieldset#eye label[for="other-eye"] {
    width: 7.8rem;
  }
  #applicant-physical fieldset#race-select label[for="unknown"],
  #applicant-physical fieldset#sex-select label[for="female"] {
    width: 11.8rem;
  }
  /* Applicant Contact Info Mobile*/
  #applicant-contact-info label[for="street-address"],
  #applicant-contact-info label[for="country"],
  #applicant-contact-info label[for="email"],
  #applicant-contact-info label[for="phone"],
  #applicant-contact-info label[for="zipcode"],
  #applicant-contact-info label[for="city"],
  #applicant-contact-info label[for="us-state"] {
    display: block;
    width: 100%;
  }
  /* Add a Minor Mobile */
  #add-minor h2,
  #add-minor p.description,
  #add-minor ul.icon-list {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #add-minor fieldset.form-navigation-2 {
    padding-left: 2rem;
  }
  /* Minor Questionnaire Mobile */
  #minor-questionnaire h2,
  #minor-questionnaire .visitation-step {
    margin-left: 2rem; 
  }
  /* Minor Information Mobile */ 
  #minor-information h2,
  #minor-information .visitation-step,
  #minor-information legend.required {
    margin-left: 2rem;
  }
  #minor-information label[for="first-name"],
  #minor-information label[for="last-name"],
  #minor-information label[for="middle-name"],
  #minor-information label[for="ssn"],
  #minor-information label[for="birth-place"] {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    width: initial;
  }
  #minor-information input#ssn {
    width: calc(100% - 22px);
  }
  #minor-information fieldset#race-select,
  #minor-information fieldset#sex-select {
    padding: 0 2rem;
  }
  /* Minor Visit Select Mobile */
  #minor-visitation-select h2,
  #minor-visitation-select .visitation-step,
  #minor-visitation-select .description {
    margin-left: 2rem;
  }
  /* Review Added Minor Mobile */ 
  #review-added-minor h2,
  #review-added-minor #minor-review-confirmation {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* Application Review Mobile */
  #application-review h2 {
    margin-left: 2rem;
  }
  /* Telephone Procedures Mobile */
    #telephone-correspondence main {
        padding-bottom: 0;
    }
    #telephone-correspondence #telephone-procedures .li-info {
        margin-top: 0.8rem;
        width: calc(100% - 6rem);
    }
  #telephone-correspondence #telephone-procedures .li-icon {
    height: 4rem;
    width: 4rem;
  }

    #telephone-correspondence #phone-plan-funding {
        margin-bottom: 0;
    }
    #telephone-correspondence #loss-of-priveleges-wrapper {
        background-color: #003768;
    }
    #telephone-correspondence #loss-of-priveleges {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
  #telephone-correspondence #loss-of-priveleges ul {
    padding-left: 2rem;
  }
  #telephone-correspondence #loss-of-priveleges p,
  #telephone-correspondence #loss-of-priveleges h2 {
    color: inherit;
  }
  #telephone-correspondence #loss-of-priveleges img {
    display: none;
  }
  /* Directions for Sending Money Mobile */
  #directions-for-sending-money .description {
    margin-bottom: 4rem;
  }
  #directions-for-sending-money #how-to-send-money .notice {
    margin-bottom: 2rem;
    width: initial;
    width: auto;
  }
  #directions-for-sending-money #how-to-send-money .notice img {
    display: none;
  }
  #directions-for-sending-money #how-to-send-money .notice p {
    display: block;
    margin-left: 0;
    width: 100%;
  }
  #directions-for-sending-money #deposit-fees .deposit-fees-mobile {
    display: block;
    margin-bottom: 2rem;
  }
  #directions-for-sending-money #deposit-fees .deposit-fees-mobile:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  #directions-for-sending-money #deposit-fees #deposit-fees-full {
    display: none;
  }
  #directions-for-sending-money #deposit-fees .deposit-fees-mobile caption {
    display: inline-block;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1rem;
    text-align: left;
  }
  #directions-for-sending-money #deposit-fees .deposit-fees-mobile caption span {
    margin-left: -4px;
    vertical-align: middle;
  }
  #directions-for-sending-money #deposit-fees .deposit-fees-mobile img {
    border: none;
    height: 4rem;
    margin-right: 1rem;
    vertical-align: middle;
    width: 4rem;
  }
  #directions-for-sending-money #deposit-fees th:nth-of-type(1) {
    width: 12.9rem;
  }
  /* Visitation Landing Mobile */
    #visitation-overview .with-sidebar-nav {
        padding-bottom: 0;
    }
    #visitation-overview .vs-info {
        padding-left: 0;
    }
  #visitation-overview .vs-info-icon {
    display: none;
  }
  #visitation-overview .callout-list {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  /* Mail Correspondence Mobile */
    #mail-procedures main {
        padding-bottom: 0;
    }

    #mail-procedures .description {
        margin-bottom: 4rem;
    }

  #sending-mail {
      width: auto;
      width: initial;
  }

    #what-you-can-send {
        padding-bottom: 4rem;
    }
  
  #mail-not-accepted {
    margin-bottom: 0;
  }
  #sending-mail #addressing-mail ul.icon-list .li-info,
  #process-and-deliver ul.icon-list .li-info {
    width: calc(100% - 6rem);
  }
  /* Video Visitation Mobile */
  #video-visitation #video-visitation-fees,
  #video-visitation #video-visitation-centers {
    margin-left: 0;
  }
}
