/*---------------------------*/
/* Fonts */
/*---------------------------*/
@font-face {
    font-family: lato;
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular.woff2') format('woff2'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.ttf') format('truetype'), url('../fonts/lato-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lato-light;
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light.ttf') format('truetype'), url('../fonts/lato-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/sourcesanspro-regular.eot');
    src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-regular.woff2') format('woff2'), url('../fonts/sourcesanspro-regular.woff') format('woff'), url('../fonts/sourcesanspro-regular.ttf') format('truetype'), url('../fonts/sourcesanspro-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*---------------------------*/
/* Global Styles */
/*---------------------------*/
html {
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 62.5%;
}

body {
    min-width: 124rem;
}

h2,
h3,
h4 {
    color: #464545;
    line-height: 1;
}

h1 {
    color: #fff;
    font-family: lato-light, arial, sans-serif;
    font-size: 7em;
    line-height: 1;
}

h2 {
    font-family: lato-light, arial, sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 0.909090em; /*20px*/
}

h3 {
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
}

h4 {
    font-family: lato, arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
}

#mobile-page-heading {
    display: none;
}

p {
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1px;
    line-height: 1.5;
    margin-bottom: 1.6666666666666667em;
}

blockquote {
    border-bottom: 1px dotted #a8a8a9;
    border-top: 1px dotted #a8a8a9;
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 1.5em;
    margin: 0.5555555555555556em 0 2.2222222222222223em 0; /*10px 0 40px 0*/
    padding: 1.1111111111111112em 0; /*20px*/
    width: 20em; /*360px*/
}

cite {
    color: #464545;
    display: block;
    font-family: source-sans, arial, sans-serif;
    font-style: italic;
    letter-spacing: 0.1px;
    line-height: 1.5em; /*27px*/
    margin-top: 2rem; /*20px*/
}

p + p {
    margin-top: -1rem;
}

p.body-bold + p {
    margin-top: 0;
}

p.info-follows {
    margin-bottom: 1rem;
}

h2 + p {
    margin-top: -0.125em;
}

dd p {
    margin: 0;
}

img {
    border: 1px solid #c2c2c2;
}

dt {
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.1px;
    line-height: 1.4em;
}
/* list styles */
ul.unstyled-list {
    list-style: disc;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

ol.unstyled-list {
    list-style-type: decimal;
}

.unstyled-list li,
li.ui-menu-item {
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1px;
    line-height: 1.5;
    margin-left: 1rem;
    vertical-align: middle;
}

.unstyled-list li {
    margin-bottom: 3rem;
    margin-left: 2rem;
}

    .unstyled-list li:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    .unstyled-list li a {
        font-size: 1em;
    }

    .unstyled-list li:nth-last-of-type(1) p {
        margin-bottom: 0;
    }

    .unstyled-list li .unstyled-list li {
        margin-left: 4rem;
        font-size: 1em;
    }

.callout-list {
    border: 1px solid #a8a8a9;
    display: inline-block;
    padding: 2rem 2rem 4rem;
    text-align: center;
    vertical-align: top;
    width: 27.8rem;
}

    .callout-list li {
        font-family: source-sans, arial, sans-serif;
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 4rem
    }

    .callout-list h3 {
        margin-bottom: 2rem;
    }

    .callout-list img.stamp {
        border: none;
        height: 8rem;
        margin-bottom: 4rem;
        width: 8rem;
    }

    .callout-list hr {
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px dotted #a8a8a9;
        margin-bottom: 0;
        margin-top: 4rem;
        width: 12rem;
    }

    .callout-list:nth-of-type(even) {
        margin-left: -4px;
    }

    .callout-list .disclaimer {
        padding: 3rem 0 2rem 0;
        margin: 8rem 2rem 0 2rem;
        border-bottom: 3px solid #ff5c00;
        border-top: 3px solid #ff5c00;
    }

ul.icon-list .li-info,
ul.icon-list img.li-icon,
ul.icon-bullet-list .li-info,
ul.icon-bullet-list img.li-icon {
    display: inline-block;
}

ul.icon-list,
ul.icon-bullet-list {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

    ul.icon-list .li-info,
    ul.icon-list img.li-icon {
        vertical-align: top;
    }

    ul.icon-list li,
    ul.icon-bullet-list li {
        margin-bottom: 4rem;
    }

        ul.icon-list li:nth-last-of-type(1),
        ul.icon-bullet-list li:nth-last-of-type(1) {
            margin-bottom: 0;
        }

        ul.icon-list li p:nth-last-of-type(1),
        ul.icon-bullet-list li p:nth-last-of-type(1) {
            margin-bottom: 0;
        }

    ul.icon-list .li-info,
    ul.icon-bullet-list .li-info {
        margin-left: -3px;
        width: 70rem;
    }

.alternate-background ul.icon-list .li-info,
.alternate-background ul.icon-bullet-list .li-info {
    width: 64rem;
}

ul.icon-list img.li-icon,
ul.icon-bullet-list img.li-icon {
    border: none;
    height: 4rem;
    margin-right: 2rem;
    width: 4rem;
}

ul.icon-list img.li-icon {
    margin-top: -0.65rem;
}

ul.icon-bullet-list img.li-icon,
ul.icon-bullet-list .li-info {
    vertical-align: middle;
}

ul.icon-list ol,
ul.icon-bullet-list ol {
    margin-left: 1.8em;
    list-style: decimal;
}

ul.icon-list ul.unstyled-list,
ul.icon-bullet-list ul.unstyled-list {
    margin-bottom: 0;
}
    ul.icon-list ul.unstyled-list li {
        margin-bottom: 3rem;
    }
    /* Link Styles */
    a {
        color: #3a7ebc;
        font-family: source-sans, arial, sans-serif;
        font-size: 1.8em;
        font-weight: 400;
        line-height: 1.5em;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        text-decoration: underline;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    a:hover,
    a:visited:hover {
        color: #98002e;
        text-decoration: none;
    }

    a:visited {
        color: #003768;
    }

p > a {
    font-size: 1em;
}

.unstyled-link {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

    .unstyled-link:hover,
    .unstyled-link:visited:hover {
        color: inherit;
        text-decoration: underline;
    }

    .unstyled-link:visited {
        color: inherit;
    }

.form-error,
.field-validation-error {
    clear: both;
    display: block;
}

    .form-error p,
    .field-validation-error {
        color: #98002e;
        font-size: 1.6rem;
        line-height: 1;
        margin: 0.4rem 0 0 0;
    }

.image-link {
    background-color: black;
}

    .image-link img {
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    .image-link:hover img {
        opacity: 0.88;
    }

    .image-link:hover figcaption.callout {
        background-color: rgba(233, 102, 29, 0.88)
    }

figure.image-link {
    line-height: 0;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.image-link a {
    font-size: 1em;
    text-decoration: none;
}

a.read-more {
    display: inline-block;
}

.hyperlink-heading a {
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: 1.2em;
    text-decoration: none;
}

    .hyperlink-heading a:hover {
        color: inherit;
        text-decoration: underline;
    }
/* Form Styles */
label,
button {
    display: block;
}

button {
    line-height: 1;
}

label {
    color: #464545;
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 2rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"] {
    border: 1px solid #a8a8a9;
    border-radius: 2px;
    color: #737373;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8em;
    height: 3.6rem; /*36px*/
    margin-bottom: 2rem; /*20px*/
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 22px);
}

input.input-err,
select.input-err,
textarea.input-err {
    border-color: #98002e;
    /*box-shadow: inset 0 1px 1px rgba(152,0,46,.075);*/
    box-shadow: inset 0 1px 1px rgba(152,0,46,.075), 0 0 8px rgba(152,0,46,0.6);
    outline: 0;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label input[type="text"],
label input[type="email"],
label input[type="tel"],
label input[type="number"],
label input[type="date"],
label input[type="search"],
label select {
    background-color: #fff;
    font-size: 1.8rem;
    margin-bottom: 0;
    padding-bottom: 1px;
    padding-top: 1px;
}

label span.label {
    display: block;
    margin-bottom: 1rem;
}

label.wrapping-label {
    margin-bottom: 2rem;
}

label.checkbox {
    cursor: pointer;
    padding-left: 4rem;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    label.checkbox input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    label.checkbox .box-checkmark {
        background-color: #fff;
        border: 1px solid #a8a8a9;
        height: 23px;
        left: 0;
        position: absolute;
        top: 0;
        width: 23px;
    }

    label.checkbox input:checked ~ .box-checkmark {
        background-image: url(../images/family-and-friends/visitation-form/check.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid #3a7ebc;
    box-shadow: 0 0 2px #3a7ebc;
}

select {
    appearance: none;
    -moz-appearance: none; /* Firefox hide default dropdown menu arrow*/
    -webkit-appearance: none; /* Safari and Chrome hide default dropdown menu arrow*/
    background-image: url(../images/global/icons/drop-arrows-down.svg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 10px;
    border: 1px solid #a8a8a9;
    border-radius: 2px;
    color: #737373;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.7em;
    height: 4rem;
    margin-bottom: 1.17647em; /*20px*/
    padding-bottom: 1px;
    padding-left: 0.5882352941176471em;
    padding-right: 0.5882352941176471em;
    padding-top: 1px;
    width: 100%;
}

    select::-ms-expand {
        display: none; /*Hide default dropdown arrow for i.e. 10-11*/
    }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    display: block;
    position: relative;
}

input[type=number]:hover::-webkit-inner-spin-button {
    background-image: url(../images/global/icons/drop-arrows-both.svg);
    background-position: right center;
    background-repeat: no-repeat;
    height: 22px;
    width: 16px;
}

textarea {
    border: 1px solid #a8a8a9;
    border-radius: 2px;
    color: #737373;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    overflow: auto; /*Hide default scrollbar in IE when unnecessary*/
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Custom Radio Input Styles*/
.radio-binary input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

fieldset span.custom-radio {
    background-color: #FFF;
    border: 2px solid #003768;
    border-radius: 50%;
    cursor: pointer;
    height: 1em; /*20px*/
    position: absolute;
    top: 0.3rem;
    width: 1em; /*20px*/
}

fieldset .binary-positive span.custom-radio:after,
fieldset .binary-negative span.custom-radio:after {
    content: "";
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    width: 1.2rem; /*12px*/
    height: 1.2rem; /*12px*/
    border-radius: 50%;
    background: #003768;
}

fieldset input.positive:checked + label.binary-positive span.custom-radio:after,
fieldset input.negative:checked + label.binary-negative span.custom-radio:after {
    display: block;
}

fieldset .binary-positive,
fieldset .binary-negative {
    float: left;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.5em; /*40px*/
}
/*---------------------------*/
/* Font Class Stylings */
/*---------------------------*/
.body-bold {
    color: #464545;
    font-weight: 600;
}

.date-stamp,
.callout {
    color: #a3a3a3;
    font-family: lato, arial, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.071428em; /*15px*/
    margin-top: 0.571428em; /*8px*/
    text-transform: uppercase;
}

h2.over-image {
    margin-bottom: 1em;
}

.multiline-heading {
    line-height: 1.1;
}

.text-only {
    color: #464545;
    font-family: source-sans;
    font-size: 1.7em;
    letter-spacing: 0.1px;
    line-height: 1.4em;
}

.description {
    margin-bottom: 2rem;
}

a.multiline-link {
    line-height: 1.2em;
}

.h2-style {
    color: #464545;
    font-family: lato-light, arial, sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1;
    text-transform: none;
}

.h1-style {
    color: #464545;
    font-family: lato-light, arial, sans-serif;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0.5em;
    text-transform: none;
}
/*---------------------------*/
/* Button Class Stylings */
/*---------------------------*/
.primary-button,
.secondary-button,
.punchout-button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-family: lato, arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 3.75em; /*60px*/
    padding: 0.6875em 2.3em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background 0.2s, color 0.2s, border 0.2s; /* Safari */
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.primary-button {
    background-color: #003768;
    border: 1px solid #003768;
    color: #fff;
    display: inline-block;
}

    .primary-button:hover {
        background: transparent;
        color: #003768;
    }

.secondary-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
}

    .secondary-button:hover {
        background-color: #00274a;
        border-color: #fff;
    }

.punchout-button {
    background-color: transparent;
    border: 1px solid #003768;
    color: #003768;
    display: inline-block;
}

    .punchout-button:hover {
        background-color: #00274a;
        border-color: #00274a;
        color: #fff;
    }

a.primary-button,
a.secondary-button {
    font-size: 1.6rem;
    line-height: 1;
}

    a.primary-button:visited,
    a.secondary-button:visited {
        color: #fff;
    }

        a.primary-button:visited:hover {
            color: #003768;
        }

.link-style {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    display: inline-block;
    color: #3a7ebc;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

    .link-style:hover {
        text-decoration: none;
    }

.button-group ul {
    display: inline-block;
    margin-bottom: 2em;
    padding: 0;
}

.button-group li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 11.8rem;
}

    .button-group li button {
        background-color: #fff;
        border: 1px solid #a8a8a9;
        color: #464545;
        cursor: pointer;
        display: inline-block;
        font-family: source-sans, arial, sans-serif;
        font-size: 1.7em;
        height: 100%;
        padding: 0.647058em 0; /*11px*/
        text-decoration: none;
        width: 100%;
    }

        .button-group li button.active {
            background-color: #eef2f4;
        }

.button-group-title {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 6.896552%;
}

a#in-page-contact,
a#in-page-alert {
    display: none;
    background-position: right 2rem bottom 50%;
    background-repeat: no-repeat;
    background-size: 3rem;
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 6rem;
    text-align: left;
}

a#in-page-contact {
    background-image: url(../images/global/icons/contact.svg);
}

a#in-page-alert {
    background-color: #ff5c00;
    background-image: url(../images/global/icons/exclamation-white.svg);
    border-color: #ff5c00;
}
/*---------------------------*/
/* Icon Stylings */
/*---------------------------*/
.card-icon,
.static-card-icon {
    border: none;
    width: 8em;
    height: 8em;
}

img.inline-pin {
    border: none;
    height: 0.75em;
    margin-right: 0.5em;
}

img.info-bubble {
    border: none;
    height: 1rem;
    margin-left: 3px;
    vertical-align: top;
    width: 1rem;
}

.loading-indicator {
    display: none;
    left: 45%;
    position: fixed;
    top: 47%;
    z-index: 100;
}

    .loading-indicator img {
        border: none;
        height: auto;
        width: 10rem;
    }
/*---------------------------*/
/* Video Stylings */
/*---------------------------*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
/*---------------------------*/
/* Grid/Container Classes */
/*---------------------------*/
.content-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 116em;
}

.alternate-background {
    background-color: #eef2f4;
    margin-bottom: 4rem;
    padding: 4rem 4rem 6rem 2rem;
}

.with-sidebar-nav {
    float: right;
    padding-top: 0;
    padding-bottom: 6rem;
    width: 76rem;
}

    .with-sidebar-nav .col-19 {
        margin-left: 0;
    }

.col-1 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 4rem;
}

.col-2 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 8rem;
}

.col-3 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 12rem;
}

.col-4 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 16rem;
}

.col-5 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 20rem;
}

.col-6 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 24rem;
}

.col-7 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 28rem;
}

.col-7-half {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 30rem;
}

.col-8 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 32rem;
}

.col-9 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 36rem;
}

.col-10 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 40rem;
}

.col-11 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 44rem;
}

.col-12 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 48rem;
}

.col-13 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 52rem;
}

.col-14 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 56rem;
}

.col-15 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 60rem;
}

.col-16 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 64rem;
}

.col-17 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 68rem;
}

.col-18 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 72rem;
}

.col-19 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 76rem;
}

.col-20 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 80rem;
}

.col-21 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 84rem;
}

.col-22 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 88rem;
}

.col-23 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 92rem;
}

.col-24 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 96rem;
}

.col-25 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 100rem;
}

.col-26 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 104rem;
}

.col-27 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 108rem;
}

.col-28 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 112rem;
}

.mar-r-1 {
    margin-right: 4rem;
}

.mar-l-1 {
    margin-left: 4rem;
}

.ib-element {
    display: inline-block;
    margin-left: -4px;
}

.relative-container {
    position: relative;
}

.accessibility-hidden {
    font-size: 0;
    left: -9999px;
    position: absolute;
}

.info-block {
    margin-bottom: 4em;
}

.dark-background p,
.dark-background h2,
.dark-background label,
.dark-background a,
.dark-background span,
.dark-background h3,
.dark-background {
    color: #fff;
}

.clear-fix:after {
    clear: both;
    content: '';
    display: table;
}
/*---------------------------*/
/* Secondary Nav */
/*---------------------------*/
#secondary-nav {
    background-color: #fff;
    width: 100%;
}

    #secondary-nav ul#primary-page-links {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    #secondary-nav ul#vita-links {
        padding-top: 4rem;
    }

        #secondary-nav ul#vita-links a {
            color: #969696;
        }

        #secondary-nav ul#vita-links li.right {
            float: right;
            margin: 0;
        }

        #secondary-nav ul#vita-links li:nth-of-type(3) {
            border-right: 1px solid #969696;
            margin-right: 1rem;
            padding-right: 1rem;
        }

        #secondary-nav ul#vita-links li.right a {
            font-size: 1.2rem;
            text-decoration: underline;
        }

            #secondary-nav ul#vita-links li.right a:hover {
                text-decoration: none;
            }

    #secondary-nav #vita-cardinal {
        color: #464545;
        font-size: 1.2rem;
        line-height: 1;
        margin: 0;
        text-decoration: none;
    }

        #secondary-nav #vita-cardinal img,
        #secondary-nav #vita-cardinal span {
            display: inline;
            vertical-align: middle;
        }

        #secondary-nav #vita-cardinal img {
            height: 2.1rem;
            margin-right: 1rem;
            width: 2.4rem;
        }

    #secondary-nav #home-icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    #secondary-nav li {
        margin-right: 6rem;
        vertical-align: middle;
    }

        #secondary-nav li:nth-of-type(1) {
            margin-right: 4rem;
        }

        #secondary-nav li:nth-of-type(2) {
            margin-right: 12rem;
        }

        #secondary-nav li:nth-last-of-type(2) {
            margin-right: 2rem;
        }

        #secondary-nav li.with-divider {
            margin-right: 3rem;
        }

        #secondary-nav li .divider {
            margin-left: 3rem;
            height: auto;
        }

        #secondary-nav li a {
            color: #464545;
            font-family: lato, arial, sans-serif;
            font-size: 1.8em;
            text-decoration: none;
        }

        #secondary-nav li.banner-search {
            float: right;
            margin-right: 0;
        }

form.site-search {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    top: -1.4rem;
    width: 100%;
}

.site-search input#search-term {
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-right: 2.1176470588235294em;
    padding-top: 1rem;
    width: calc(100% - 2.823529411764706em);
}

.site-search button[type="submit"] {
    background-color: #fff;
    background-image: url(../images/global/icons/magnifying-glass.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.7em;
    height: 2.1176470588235294em;
    padding: 0;
    position: absolute;
    right: 0.2rem;
    top: 1.2rem;
    width: 2.1176470588235294em;
}
/*---------------------------*/
/* Main Nav */
/*---------------------------*/
header nav li {
    display: inline-block;
}

#main-nav {
    background-color: rgba(0, 55, 104, 0.85);
    padding: 0;
    width: 100%;
}

    #main-nav dl#main-nav-list > dd {
        display: inline-block;
        margin-left: -4px;
        position: relative;
    }

    #main-nav dt#resources-label {
        color: #fff;
        display: inline-block;
        font-family: lato, arial, sans-serif;
        font-size: 1.7em;
        font-style: italic;
        margin-right: 4rem;
        width: 12rem;
    }

    #main-nav dd.dropdown-navlink > a {
        border-right: 1px solid #a8a8a9;
        display: block;
        font-family: lato, arial, sans-serif;
        font-size: 1.6em;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    #main-nav dl#main-nav-list > dd:nth-of-type(1) a {
        text-align: left;
        width: 25.9rem; /*Change back to 29.9rem for partial nav*/
    }

    #main-nav dl#main-nav-list > dd:nth-of-type(2) a {
        width: 25.9rem;
    }

    #main-nav dl#main-nav-list > dd:nth-of-type(3) a {
        width: 23.4rem;
    }

    #main-nav dl#main-nav-list dd:nth-last-of-type(1) a {
        border-right: none;
        text-align: right;
        width: 25rem;
    }

    #main-nav dd a span,
    #secondary-nav li a span {
        display: inline-block;
        margin-right: 1rem;
        max-width: 9em;
        text-align: center;
        vertical-align: middle;
    }

    #main-nav dd a img {
        display: inline-block;
        vertical-align: middle;
    }

        #main-nav dd a img.nav-icon {
            margin-right: 0.625em; /*10px*/
            width: 5rem;
            height: 5rem;
        }

.dropdown-menu {
    background-color: #fff;
    display: none;
    margin-left: 0;
    padding-top: 2em;
    position: absolute;
    z-index: 50;
}

ul.dropdown-menu {
    padding-bottom: 6rem;
    padding-top: 5rem;
}
#main-nav dd.dropdown-navlink:nth-last-of-type(1) ul.dropdown-menu {
  right: 0;
}
#main-nav dd.dropdown-navlink:nth-last-of-type(2) ul.dropdown-menu {
    left: -15.7rem;
}
#main-nav dd.dropdown-navlink:nth-last-of-type(2) ul.dropdown-menu .dropdown-menu-list-column:nth-of-type(2) {
    padding-left: 8rem;
    padding-right: 8rem;
}
header li.dropdown-navlink:hover .dropdown-menu:nth-of-type(1),
header dd.dropdown-navlink:hover .dropdown-menu:nth-of-type(1) {
    display: block;
}

.dropdown-menu dd a,
.dropdown-menu li a,
#facilities-submenu dd.facility-link-list dd a {
    color: #3a7ebc;
    font-size: 1.8em;
    line-height: 1.2em;
    text-decoration: underline;
}

    .dropdown-menu dd a:hover,
    .dropdown-menu li a:hover,
    #facilities-submenu dd.facility-link-list dd a:hover {
        color: #3a7ebc;
        text-decoration: none;
    }

.dropdown-menu .dropdown-menu-list-column:nth-of-type(1) {
    border-right: 1px dotted #a8a8a9;
    margin-left: 0;
    padding-left: 4rem;
    padding-right: 4rem;
}

.dropdown-menu .dropdown-menu-list-column:nth-of-type(2) {
    padding-left: 4rem;
}

.dropdown-menu .dropdown-menu-list-column:nth-of-type(even) {
    padding-right: 4rem;
}

ul.dropdown-menu.three-col-dropdown {
    left: -31.7rem;
    padding-bottom: 0;
    padding-top: 0;
}

    ul.dropdown-menu.three-col-dropdown li {
        padding-bottom: 6rem;
        padding-top: 5rem;
    }

.dropdown-menu.three-col-dropdown .dropdown-menu-list-column:nth-of-type(1) {
    border-right: none;
}

.dropdown-menu.three-col-dropdown .dropdown-menu-list-column:nth-of-type(2) {
    background-color: #eef2f4;
}

.dropdown-menu.three-col-dropdown .dropdown-menu-list-column:nth-of-type(3) {
    padding-left: 4rem;
    padding-right: 4rem;
}

.dropdown-menu.three-col-dropdown .dropdown-menu-list-column dd {
    padding-left: 0;
}

.dropdown-menu .dropdown-menu-list-column dt {
    margin-bottom: 4rem;
}

.dropdown-menu .dropdown-menu-list-column dd,
.dropdown-menu .dropdown-menu-list-column li {
    display: block;
    margin-bottom: 4rem;
}

    .dropdown-menu .dropdown-menu-list-column dd:nth-last-of-type(1),
    .dropdown-menu .dropdown-menu-list-column li:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    .dropdown-menu .dropdown-menu-list-column dd {
        padding-left: 1.5em;
    }
/* Facilities Dropdown Nav */
#facilities-submenu dd.facility-link-list {
    margin-left: 0;
}

#secondary-nav .dropdown-menu li {
    display: block;
}

#secondary-nav li.dropdown-navlink:hover .dropdown-menu:nth-of-type(1) {
    height: 60rem;
}

#secondary-nav .dropdown-menu #facilities-submenu {
    padding: 0;
    position: relative;
}

    #secondary-nav .dropdown-menu #facilities-submenu li {
        display: inline-block;
        margin: 0 0 0 -2.04px;
    }

        #secondary-nav .dropdown-menu #facilities-submenu li:nth-of-type(1) {
            margin-left: 0;
        }

#facilities-submenu li dt.submenu-heading {
    display: block;
    background-color: #eef2f4;
    font-size: 1.8rem;
    font-family: lato, arial, sans-serif;
    padding: 1em 0;
    text-align: center;
    width: 9.93rem;
}

#facilities-submenu li:hover dt.submenu-heading {
    background-color: #3a7ebc;
    color: #fff;
    cursor: pointer;
    position: relative;
}

    #facilities-submenu li:hover dt.submenu-heading::after {
        border-left: 0.75rem solid transparent;
        border-right: 0.75rem solid transparent;
        border-top: 0.75rem solid #3a7ebc;
        bottom: -0.75rem;
        content: '';
        display: block;
        height: 0;
        left: 4rem;
        position: absolute;
        width: 0;
    }

#secondary-nav .dropdown-menu #facilities-submenu dd.facility-link-list {
    display: none;
    margin-left: 0;
}

#secondary-nav .dropdown-menu #facilities-submenu li:hover dd.facility-link-list:nth-of-type(1) {
    display: block;
    left: 4em;
    position: absolute;
    padding-top: 2em;
    top: 5em;
}

#secondary-nav .dropdown-menu #facilities-submenu dd.facility-link-list .left-col {
    float: left;
}

#secondary-nav .dropdown-menu #facilities-submenu dd.facility-link-list .right-col {
    float: left;
    margin-left: 12rem;
    padding-top: 5.66rem;
}

    #secondary-nav .dropdown-menu #facilities-submenu dd.facility-link-list .right-col dt:nth-child(1) {
        margin-top: -5.66rem;
    }

#secondary-nav .dropdown-menu #facilities-submenu li:hover dd.facility-link-list:nth-of-type(2) {
    display: block;
    left: 40em;
    position: absolute;
    padding-top: 2em;
    top: 5em;
}

#facilities-submenu dd.facility-link-list dt {
    font-size: 4em;
}

#facilities-submenu dd.facility-link-list dd {
    margin-bottom: 2em;
    width: 24em;
}
/*---------------------------*/
/* Mobile Nav */
/*---------------------------*/
#mobile-nav {
    background-color: #fff;
    display: none;
    padding: 2rem 2rem 2rem 4rem;
}

    #mobile-nav button {
        background-color: transparent;
        border: none;
        display: inline-block;
        padding: 0;
        transition: all 0.3s;
    }

        #mobile-nav button#open-search {
            background-image: url(../images/global/icons/magnifying-glass.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            float: right;
            height: 3.6rem;
            width: 3.6rem;
        }

    #mobile-nav .site-search {
        display: none;
        position: absolute;
        right: -1300px;
        top: 1.25rem;
        transition: all 0.3s ease-in-out;
        width: 20rem;
    }

        #mobile-nav .site-search #search-term {
            padding-bottom: 0;
            padding-top: 0;
        }

        #mobile-nav .site-search button[type="submit"] {
            top: 0.1rem;
        }

    #mobile-nav button#open-nav:focus {
        outline: none;
    }

    #mobile-nav button#open-nav span {
        display: block;
        border-bottom: 1px solid #454545;
        width: 4rem;
        margin-bottom: 1rem;
        transition: all 0.3s;
    }

        #mobile-nav button#open-nav span:nth-last-of-type(1) {
            margin-bottom: 0;
        }

    #mobile-nav figure.doc-logo {
        border: 0.4rem solid #fff;
        border-radius: 50%;
        float: none;
        height: 8rem;
        left: calc(50% - 4rem);
        position: absolute;
        top: 1rem;
        width: 8rem;
    }

#locate-offender-mobile {
    display: none;
}

.mobile-nav-content .resources-for {
    font-family: lato, arial, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
    text-transform: uppercase;
}

.mobile-nav-content .top-level {
    display: block;
}

    .mobile-nav-content .top-level a,
    .mobile-nav-content .dropdown label {
        color: inherit;
        display: block;
        font-family: lato, arial, sans-serif;
        font-size: 1.8rem;
        line-height: 1;
        padding: 2rem 3rem 2rem 2rem;
        text-decoration: none;
    }

.mobile-nav-content .dropdown label {
    margin-bottom: 0;
    position: relative;
}

    .mobile-nav-content .dropdown label:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #464545;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: 3rem;
        top: 1.65rem;
        webkit-transition: all .55s;
        -o-transition: all .55s;
        transition: all .55s;
        width: 0;
    }

.mobile-nav-content .top-level ul.mobile-dropdown-menu {
    background-color: #eef2f4;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .55s;
    -o-transition: all .55s;
    transition: all .55s;
}

    .mobile-nav-content .top-level ul.mobile-dropdown-menu li {
        display: block;
        padding-left: 3rem;
    }

.mobile-nav-content .dropdown input[type=checkbox]:checked + label {
    background-color: #003768;
    color: #fff;
}

    .mobile-nav-content .dropdown input[type=checkbox]:checked + label:after {
        border-top: 7px solid #fff;
        transform: rotate(180deg);
        transform-origin: 50% 50%;
    }

.mobile-nav-content .dropdown input[type=checkbox]:checked ~ ul.mobile-dropdown-menu {
    max-height: 100%;
    padding-bottom: 2rem;
}

.mobile-nav-content .dropdown input[type=checkbox] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.mobile-nav-content li#mobile-facilities-link {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 2rem 0;
}

    .mobile-nav-content li#mobile-facilities-link a {
        border-bottom: 1px solid #a8a8a9;
        border-top: 1px solid #a8a8a9;
        padding: 4rem 1rem;
    }
/*---------------------------*/
/* Header */
/*---------------------------*/
header #hero-banner {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 25rem;
}

#hero-banner #home-hero {
    padding-bottom: 7.8rem;
    padding-top: 9rem;
}

    #hero-banner #home-hero h1 {
        color: #fff;
        font-family: lato;
        font-size: 8.8rem;
        font-weight: 600;
        margin-left: 0;
        text-transform: uppercase;
    }

        #hero-banner #home-hero h1 .spacer {
            margin-right: 0.3rem;
        }

#hero-banner #general-hero-wrapper {
    height: 25rem;
    position: relative;
}

    #hero-banner #general-hero-wrapper .doc-logo {
        margin-top: 6.5rem;
        margin-right: 2rem;
    }

    #hero-banner #general-hero-wrapper #heading-wrapper {
        left: 17.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 102rem;
    }

        #hero-banner #general-hero-wrapper #heading-wrapper a ~ h1:after {
            content: '';
            display: block;
            height: 2.7rem;
        }

.mobile-hero {
    display: none;
}

#hero-offender-locator {
    display: block;
    margin-left: 0;
    margin-top: 9rem;
}

    #hero-offender-locator h2 {
        color: #fff;
        line-height: 1;
        margin-bottom: 3rem;
    }

    #hero-offender-locator form {
        display: inline-block;
        position: relative;
    }

        #hero-offender-locator form#offender-by-id {
            display: block;
            float: right;
        }

            #hero-offender-locator form#offender-by-name fieldset,
            #hero-offender-locator form#offender-by-id fieldset {
                display: inline-block;
            }

            #hero-offender-locator form#offender-by-name input,
            #hero-offender-locator form#offender-by-id input {
                border-radius: 6px;
                display: inline-block;
                height: 5.6rem;
                margin: 0;
            }

            #hero-offender-locator form#offender-by-name button[type=submit],
            #hero-offender-locator form#offender-by-id button[type=submit] {
                bottom: 1rem;
                float: none;
                margin: 0;
                position: absolute;
                right: 1rem;
            }

        #hero-offender-locator form#offender-by-name input#first-name {
            width: 23.5rem; /*235px*/
        }

        #hero-offender-locator form#offender-by-name input#last-name {
            width: 27.8rem; /*278px*/
        }

        #hero-offender-locator form#offender-by-id input#offender-id {
            margin-left: -4px;
            width: 33.8rem; /*338px*/
        }

    #hero-offender-locator .or-divider {
        padding-left: 4em;
        width: 4em;
        margin-left: -4px;
        vertical-align: baseline;
    }

        #hero-offender-locator .or-divider .vertical-line {
            left: 0;
            height: 1.6em;
            border-left: 1px solid #fff;
        }

        #hero-offender-locator .or-divider p {
            color: #fff;
            display: inline-block;
            left: -0.5em;
            margin-bottom: 0;
            position: relative;
        }

    #hero-offender-locator a#advanced-search {
        color: #fff;
        display: block;
        float: right;
        line-height: 1;
        margin-top: 2rem;
    }

        #hero-offender-locator a#advanced-search:hover {
            text-decoration: none;
        }

header img {
    border: none;
}

figure.doc-logo {
    float: left;
    margin-left: 0;
}

    figure.doc-logo img {
        border: none;
        width: 100%;
    }

    figure.doc-logo a {
        font-size: 0;
        line-height: 1;
    }

#home-hero figure.doc-logo {
    margin-top: 2.7rem;
}
/*---------------------------*/
/* Breadcrumbs */
/*---------------------------*/
.breadcrumbs {
    margin-top: 2rem;
    padding-bottom: 4rem;
}

    .breadcrumbs li {
        display: inline-block;
        margin-right: 0.75em;
    }

    .breadcrumbs span {
        margin-left: 0.75em;
    }

        .breadcrumbs span:after {
            content: '//';
        }

    .breadcrumbs li:nth-last-child(1) span:after {
        content: '';
    }

    .breadcrumbs a {
        color: #a3a3a3;
        font-family: source-sans, arial, sans-serif;
        font-size: 1.6em;
        line-height: 1;
        text-decoration: none;
    }

        .breadcrumbs a:hover {
            color: #a3a3a3;
        }

a.section-breadcrumb {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

    a.section-breadcrumb:hover {
        color: #fff;
    }
/*---------------------------*/
/* Footer */
/*---------------------------*/
footer {
    background-color: #34475a;
    padding: 8em 0;
}

    footer h2 {
        margin-bottom: 0.909090em; /*20px*/
    }

    footer a:hover {
        color: #fff;
        text-decoration: none;
    }

    footer a:visited {
        color: #fff;
    }

    footer .vcard p {
        margin-bottom: 0;
    }

        footer .vcard p + p {
            margin-top: 0;
        }

    footer .vcard .tel {
        margin: 1rem 0;
    }

#footer-social,
#footer-policies,
#footer-additional {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}

footer .link-list li {
    margin-bottom: 3em;
}

    footer .link-list li a:hover {
        color: inherit;
    }

#footer-social {
    margin-left: 0;
}

    #footer-social li {
        display: inline-block;
        width: 4em;
        margin-right: 1rem;
    }

    #footer-social img {
        border: none;
        height: 4rem;
        width: 4rem;
    }

#footer-additional .link-list li {
    margin-bottom: 1.2rem;
}

#footer-additional figure {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 4rem;
}

#footer-additional img {
    border: 0;
}

#footer-additional a {
    text-decoration: none;
}

    #footer-additional a span {
        margin-left: 1rem;
        text-decoration: underline;
    }

        #footer-additional a span:hover {
            text-decoration: none;
        }

#back-to-top {
    bottom: 8rem;
    cursor: pointer;
    position: fixed;
    right: 4rem;
}

.fill-white {
    fill: #fff;
    transition: fill 0.3s;
}

.stroke-white {
    stroke: #fff;
    transition: stroke 0.2s;
}
/*---------------------------*/
/* Modal Displays */
/*---------------------------*/
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.modal-window {
    display: none;
    height: 100vh;
    margin-top: 10em;
    left: 0;
    position: fixed;
    top: -1300px;
    width: 100%;
    z-index: 110;
}

    .modal-window .content-wrapper {
        position: relative;
    }

.close-modal {
    background-color: transparent;
    background-image: url(../images/modals/close-x.svg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 4rem;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 4rem;
}

.modal-ctrls {
    position: fixed;
    left: 0;
    top: 22em;
    width: 100%;
}

.modal-ctrl-prev,
.modal-ctrl-next {
    border: none;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    z-index: 120;
}

    .modal-ctrl-prev img,
    .modal-ctrl-next img {
        border: none;
        width: 6em;
        height: 6em;
    }

.modal-ctrl-prev {
    left: -2.5em;
}

.modal-ctrl-next {
    right: -2.5em;
}

.modal-window nav {
    padding-bottom: 6em;
}

nav ul.modal-nav {
    width: 100%;
}

    nav ul.modal-nav li p.h1-style {
        display: none;
        text-align: center;
    }

    nav ul.modal-nav li:nth-of-type(1) {
        margin-left: -1rem;
    }

        nav ul.modal-nav li:nth-of-type(1) a:before {
            margin: 0;
        }

    nav ul.modal-nav li:nth-last-of-type(1) a:after {
        border: 0;
    }

    nav ul.modal-nav li {
        display: inline-block;
        margin-left: -4px;
    }

        nav ul.modal-nav li:nth-last-of-type(1) {
            margin-right: -40px;
        }

        nav ul.modal-nav li a:focus {
            outline: none;
        }

        nav ul.modal-nav li a:before,
        nav ul.modal-nav li a:after {
            border-bottom: 2px solid #A3A2A2;
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 4.3em;
        }

        nav ul.modal-nav li a:after {
            margin-left: -4px;
        }

        nav ul.modal-nav li a:before {
            margin-right: -4px;
        }

        nav ul.modal-nav li.active a:before,
        nav ul.modal-nav li.active a:after {
            width: 2.25em;
        }

        nav ul.modal-nav li.active p.h1-style {
            display: block;
            color: #1A3967;
        }

        nav ul.modal-nav li:nth-of-type(1) a:before {
            border-bottom: none;
        }

        nav ul.modal-nav li.active img {
            width: 10em;
        }

    nav ul.modal-nav a img {
        display: inline-block;
        border: none;
        vertical-align: middle;
        width: 6em;
    }

    nav ul.modal-nav a {
        color: #A3A2A2;
        display: inline-block;
        font-size: 1em;
        height: 13.4em;
        position: relative;
        text-decoration: none;
    }

    nav ul.modal-nav li.active a {
        color: #1A3967;
        height: 15.4em;
    }

    nav ul.modal-nav a span {
        bottom: 0;
        display: block;
        font-family: lato, arial, sans-serif;
        font-size: 1.7em;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
    }

.modal-content {
    background-color: #fff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    opacity: 1;
    padding: 4em 6.896552% 6em 6.896552%;
    position: relative;
    width: 72.413793%;
}

li.slide {
    display: none;
}

ul.modal-slides li.slide figure {
    margin: 4em auto;
    width: 100%;
}

ul.modal-slides li.slide img {
    width: 100%;
}
/*Static Modals*/
.modal-instance {
    display: none;
}
/*------------------------*/
/* Drop-down Drawers*/
/*------------------------*/
.drawer {
    border: 1px solid #a3a3a3;
    margin-bottom: 2rem;
    padding: 2rem 4rem;
    width: 107.8rem;
}

.closed-drawer:hover {
    background-color: #eef2f4;
    cursor: pointer;
}

.drawer-icon {
    background-image: url(../images/global/icons/plus.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    height: 3em;
    margin-right: 0.5em;
    width: 3em;
    vertical-align: middle;
}

.drawer h3 {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.drawer ul {
    margin-top: 4rem;
}

    .drawer ul li {
        margin-bottom: 6rem;
    }

        .drawer ul li h4 {
            font-family: source-sans, arial, sans-serif;
            font-size: 1.7em;
            text-transform: none;
        }

        .drawer ul li article .article-text {
            padding-left: 4rem;
            width: 84rem;
        }

        .drawer ul li article figure {
            display: inline-block;
            float: left;
            height: 8rem;
            overflow: hidden;
            width: 12rem;
        }

            .drawer ul li article figure img {
                width: 100%;
            }

        .drawer ul li h4 a {
            font-size: 1em;
        }
/*------------------------*/
/* Dual Range Slider*/
/*------------------------*/
.dual-range-slider .ui-state-default,
.dual-range-slider .ui-widget-content .ui-state-default {
    background-color: #eef2f4;
    border: 2px solid #3a7ebc;
    border-radius: 50%;
}

    .dual-range-slider .ui-state-default:focus,
    .dual-range-slider .ui-widget-content .ui-state-default:focus {
        outline: none;
    }

.ui-widget-content {
    background-color: #eef2f4;
}

.ui-widget.ui-widget-content {
    background-color: #fff;
    border: none;
    max-height: 16rem;
    /*overflow-y: auto;
  overflow-x: hidden;*/
}

.ui-slider-horizontal {
    margin: 2rem 0.5rem 0 4rem;
    height: 0.3rem;
}

.ui-widget-header {
    background-color: #3a7ebc;
}

.ui-slider .ui-slider-handle {
    height: 4rem;
    width: 4rem;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -2rem;
    margin-left: -4rem;
}

.range-display {
    display: none;
    margin-bottom: 4rem;
    margin-top: 3rem;
    text-align: center;
}
/*------------------------*/
/* Image Slider*/
/*------------------------*/
.image-slider {
    border-bottom: 1px dotted #a8a8a9;
    border-top: 1px dotted #a8a8a9;
    margin-bottom: 6em;
    margin-top: 1em;
    padding: 2em 0;
    position: relative;
}

    .image-slider figure {
        display: none;
        margin-bottom: 0;
        width: 100%;
    }

    .image-slider .default-slide {
        display: block;
    }

    .image-slider figure img {
        height: auto;
        width: inherit;
    }

    .image-slider figcaption p {
        font-style: italic;
        margin-bottom: 0;
    }

    .image-slider figcaption span.date-stamp {
        line-height: 1.5em;
    }

.slider-ctrl {
    position: absolute;
}

    .slider-ctrl img {
        border: none;
    }

.image-slider-ctrls .next {
    right: 1.5em;
}

.image-slider-ctrls .previous {
    left: 1.5em;
    transform: rotate(180deg);
}

.image-slider-ctrls:after {
    display: none;
    content: url('../images/image-slider/block-expand-50.svg') url('../images/image-slider/image-nav-50.svg');
}

.image-slider-ctrls .next img,
.image-slider-ctrls .previous img {
    height: 3.5294117647058822em; /*60px*/
    width: 3.5294117647058822em; /*60px*/
}

.image-slider-ctrls .expand {
    right: 0;
}

.image-slider-ctrls nav.slider-bubble-nav {
    position: absolute;
}

nav.slider-bubble-nav ul {
    margin-after: 0;
}

nav.slider-bubble-nav li {
    display: inline-block;
}

.slider-bubble-link {
    background-color: #a3a3a3;
    border-radius: 50%;
    display: block;
    height: 0.5882352941176471em; /*10px*/
    margin-right: 0.5882352941176471em; /*10px*/
    width: 0.5882352941176471em; /*10px*/
}

.slider-bubble-nav li:nth-last-of-type(1) a.slider-bubble-link {
    margin-right: 0;
}

.active-bubble-link {
    background-color: #464545;
}

.modal-window nav.slider-bubble-nav {
    padding: 0;
}

#rich-news .modal-window {
    max-height: 90vh;
    position: fixed;
    margin-top: 0;
}

#rich-news .modal-content {
    padding: 4em 3.448276% 2em;
    top: 5vh;
    width: 79.310345%;
}

    #rich-news .modal-content figure {
        max-height: calc(90vh - 9.2em);
        overflow: hidden;
    }

    #rich-news .modal-content figcaption {
        display: none;
    }

.modal-content .slider-bubble-nav ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}
/*global icon callout styling*/
img.icon-callout,
.icon-callout-item {
    vertical-align: top;
    display: inline-block;
}

img.icon-callout {
    border: none;
    height: 6rem;
    margin-right: 2rem;
    margin-top: -1.65rem;
    width: 6rem;
}

.icon-callout-item {
    margin-bottom: 4rem;
    margin-left: -3px;
    width: calc(100% - 8rem);
}

    .icon-callout-item p:nth-last-of-type(1) {
        margin-bottom: 0;
    }
/*------------------------*/
/* Sidebars */
/*------------------------*/
/* Sidebar Nav */
.sidebar-nav {
    margin-bottom: 4rem;
    margin-left: 0;
}

    .sidebar-nav li {
        background-color: #eef2f4;
        border-bottom: 1px solid #cfcece;
    }

        .sidebar-nav li:nth-last-of-type(1) {
            border-bottom: none;
        }

        .sidebar-nav li.active,
        .sidebar-nav .tier-3 li.active {
            background-color: #cfe9f7;
        }

            .sidebar-nav li.active a {
                color: #003768;
            }

        .sidebar-nav li.tier-3-wrapper {
            background-color: transparent;
            border: none;
        }

    .sidebar-nav .tier-3 li {
        background-color: #fafbfc;
        border-bottom: 1px dotted #cfcece;
    }

        .sidebar-nav .tier-3 li:nth-last-of-type(1) {
            border-bottom: none;
        }

        .sidebar-nav .tier-3 li a {
            height: 6rem;
        }

    .sidebar-nav a {
        color: inherit;
        display: block;
        height: 8rem;
        position: relative;
        text-decoration: none;
    }

        .sidebar-nav a:hover {
            background-color: #d5dee2;
        }

    .sidebar-nav li.active a:hover,
    .sidebar-nav .tier-3 li.active a:hover {
        background-color: #cfe9f7;
    }

    .sidebar-nav a:hover,
    .sidebar-nav a:visited {
        color: inherit;
    }

    .sidebar-nav li.active a:hover:after,
    .sidebar-nav .tier-3 li a:hover:after {
        border-left-color: #cfe9f7;
    }
    .sidebar-nav li.parent {
        background-color: #003768;
        color: #fff;
        height: 8rem;
    }
        .sidebar-nav li.parent a:hover {
            background-color: #072846;
        }
    .sidebar-nav .tier-3 li a:hover {
        background-color: #d5dee2;
    }

    .sidebar-nav a span {
        padding: 0 2.1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar-nav li.tier-3 a span {
        padding-left: 3.8rem;
    }

    .sidebar-nav li.active a:after {
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        border-bottom: 15px solid transparent;
        border-left: 20px solid #cfe9f7;
        border-top: 15px solid transparent;
    }
/* Left Sidebar */
aside.left-sidebar {
    float: left;
    margin-bottom: 6rem;
    margin-left: 0;
    top: 6.4rem;
}

#hcard-main-contact {
    background-color: #003768;
    padding: 4rem 4rem 2rem;
    margin-bottom: 4rem;
}

    #hcard-main-contact p {
        margin-bottom: 0;
    }

    #hcard-main-contact .h1-style {
        margin-bottom: 4rem;
    }

    #hcard-main-contact .disclaimer-text {
        margin-bottom: 4rem;
    }

    #hcard-main-contact .fn,
    #hcard-main-contact .title,
    #hcard-main-contact .org {
        font-family: source-sans, Arial, sans-serif;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 0;
    }

    #hcard-main-contact .title {
        margin-bottom: 4rem;
        font-style: italic;
    }

    #hcard-main-contact .org {
        margin-bottom: 4rem;
    }

    #hcard-main-contact .adr {
        margin-bottom: 4rem;
        padding: 0;
    }

        #hcard-main-contact .street-address,
        #hcard-main-contact .locality,
        #hcard-main-contact .region,
        #hcard-main-contact .adr .org,
        #hcard-main-contact .adr .fn,
        #hcard-main-contact .adr .post-office-box,
        #hcard-main-contact .postal-code {
            font-family: source-sans, Arial, sans-serif;
            font-size: 1.8rem;
            line-height: 1.5;
            margin: 0;
        }

    #hcard-main-contact .email {
        display: block;
        font-family: source-sans, Arial, sans-serif;
        font-size: 1.8rem;
        line-height: 1.5;
        margin-bottom: 4rem;
    }

    #hcard-main-contact .tel .value {
        margin-bottom: 4rem;
    }

    #hcard-main-contact p.body-bold {
        margin-bottom: 0;
        line-height: 1.5;
    }

    #hcard-main-contact p + p {
        margin-top: 0;
    }

.left-sidebar .alert-callout {
    border-top: 2rem solid #ff5c00;
}

    .left-sidebar .alert-callout header {
        margin-bottom: 2rem;
    }

    .left-sidebar .alert-callout img.alert-icon,
    .left-sidebar .alert-callout h2.alert-text {
        display: inline-block;
        vertical-align: middle;
    }

    .left-sidebar .alert-callout h2.alert-text {
        margin-bottom: 0;
        margin-left: -3px;
        width: 16rem;
    }

    .left-sidebar .alert-callout img.alert-icon {
        border: none;
        height: 5rem;
        margin-right: 1.5rem;
        width: 5rem;
    }
/*------------------------*/
/* Procedure Tags */
/*------------------------*/
.procedure-tag {
    background-color: #e9661d;
    border: none;
    background-image: url(../images/home/flag-triangle-white.svg);
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    display: inline-block;
    font-family: lato, arial, sans-serif;
    font-size: 1.8em;
    margin-right: 3rem;
    margin-top: 0.3rem;
    padding-left: 1.5rem;
    position: relative;
    text-decoration: none;
    width: 7rem;
    vertical-align: top;
    line-height: 2.3em;
    transition: background-color 0.2s;
}

a.procedure-tag {
    color: #fff;
}

    a.procedure-tag:hover {
        background-color: #d83402;
        color: #fff;
    }
/*------------------------*/
/* Media Queries */
/*------------------------*/
@media screen and (max-width: 800px) {
    body {
        min-width: 100%;
    }

    #secondary-nav,
    #main-nav,
    .breadcrumbs {
        display: none;
    }

    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col-13,
    .col-14,
    .col-15,
    .col-16,
    .col-17,
    .col-18,
    .col-19,
    .col-20,
    .col-21,
    .col-22,
    .col-23,
    .col-24,
    .col-25,
    .col-26,
    .col-27,
    .col-28 {
        display: block;
        margin-left: 0;
        width: 100%;
    }

    .alternate-background {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .relative-container.content-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    /*Mobile Header*/
    #general-hero-wrapper {
        height: initial;
    }

    #hero-banner #general-hero-wrapper #heading-wrapper {
        display: none;
    }

        #hero-banner #general-hero-wrapper .doc-logo,
        #hero-banner #general-hero-wrapper #heading-wrapper a {
            display: none;
        }

    #mobile-page-heading {
        display: block;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    /*Mobile Nav*/
    .mobile-nav-open {
        overflow: hidden;
    }

    #mobile-nav {
        display: block;
    }

    #locate-offender-mobile {
        display: block;
    }

    .mobile-nav-window {
        display: none;
        left: -1300px;
        position: fixed;
        top: 2rem;
        width: 100%;
        z-index: 110;
    }

    .mobile-nav-content {
        background-color: #fff;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
        display: block;
        height: 80vh;
        opacity: 1;
        overflow: scroll;
        padding: 4rem 0 6rem 0;
    }

    .close-mobile-nav {
        background-color: transparent;
        background-image: url(../images/modals/close-x.svg);
        background-repeat: no-repeat;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 4rem;
        position: absolute;
        right: 0;
        top: -2rem;
        width: 4rem;
    }
    /* Footer Mobile */
    footer #footer-social,
    footer #footer-policies,
    footer #footer-additional,
    footer .vcard {
        display: block;
        margin: 0;
        width: 100%;
    }

    footer #footer-social,
    footer #footer-policies,
    footer .vcard {
        margin-bottom: 6rem;
    }

        footer #footer-social li {
            margin-right: 2rem;
        }

    #footer-additional a span {
        margin-left: 4rem;
        text-align: left;
        width: auto; /*For IE and Edge*/
        width: initial;
    }

    .content-wrapper {
        margin-right: 0;
        margin-left: 0;
        padding-right: 2rem;
        padding-left: 2rem;
        width: auto; /*For IE and Edge*/
        width: initial;
    }
    /* Sidebars Mobile */
    #sidebars {
        padding: 0;
    }
    /* sidebar nav mobile */
    .sidebar-nav {
        display: none;
    }

    .with-sidebar-nav {
        padding-top: 4rem;
        width: auto; /*For IE and Edge*/
        width: initial;
    }

        .with-sidebar-nav .col-19 > * {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    /* Left sidebar mobile */
    aside.left-sidebar {
        float: none;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
    }

        aside.left-sidebar #hcard-main-contact {
            background-color: #202d3a;
            margin-bottom: 0;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        aside.left-sidebar .alert-callout {
            margin: 4rem 2rem 4rem;
        }
    /* Drawer UI Mobile */
    .drawer {
        padding: 2rem 2rem;
        width: calc(100% - 4.2rem);
    }

        .drawer ul li {
            margin-bottom: 4rem;
        }
    /* Static Modal Mobile */
    .modal-window {
        margin-top: 2.1rem;
    }
    /* Icon Lists Mobile */
    ul.icon-list .li-info,
    ul.icon-bullet-list .li-info,
    .alternate-background ul.icon-list .li-info,
    .alternate-background ul.icon-bullet-list .li-info {
        width: calc(100% - 6rem);
    }
    /* Callout List Mobile */
    .callout-list {
        margin-bottom: 4rem;
        margin-right: 0;
        width: calc(100% - 4.2rem);
    }

        .callout-list:nth-of-type(even) {
            margin-left: 0;
        }
    /* Display on Mobile Only */
    a#in-page-contact,
    a#in-page-alert {
        display: inline-block;
    }

    a#in-page-alert {
        clear: both;
    }
}
