/*--------------------*/
/*Offender Resources Global*/
/*--------------------*/
.offender-resources header #hero-banner {
  background-image: url(/images/offender-resources/header/offender-resources-header.jpg);
  background-position: center;
  background-size: cover;
}
/*--------------------*/
/*Programs Page*/
/*--------------------*/
#programs .col-18 {
  margin-left: 0;
}
#program-search-wrapper form {
  padding-bottom: 4em;
  padding-left: calc((100% - 116em) / 2);
  background-color: #eef2f4;
  width: 52rem;
}
form#program-search {
  padding-top: 4em;
  position: relative;
}
.input-group input[type='text'] {
  display: inline-block;
  margin-bottom: 0;
  width: 42.8rem;
}
.input-group button[type='submit'] {
  background-color: #fff;
  background-image: url(../images/global/icons/magnifying-glass.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.7em;
  height: 3.6rem;
  padding: 0;
  position: absolute;
  right: 8.1rem;
  top: 4.2rem;
  width: 3.6rem;
}
form#programs-sort input[type='radio'] {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0;
  vertical-align: middle;
  width: 1.5rem;
}
form#programs-sort label,
form#programs-sort p {
  display: inline-block;
  font-size: 1.7em;
  margin-bottom: 0;
  margin-right: 2.05em;
  vertical-align: middle;
}
#programs-list {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
ul#program-results > li {
  display: inline-block;
  margin-bottom: 6rem;
  margin-right: 3.8rem;
}
ul#program-results > li:nth-child(3n) {
  margin-right: 0;
}
ul#program-results > li:nth-child(4n),
ul#program-results > li:nth-of-type(1) {
  margin-left: 0;
}
ul#program-results > li h3 {
  margin-bottom: 0.5em;
  text-transform: none;
}
ul#program-results p.program-facilities {
  margin-bottom: 0;
}
ul.program-facilities-link-list li {
  display: inline;
  font-size: 1.7em
}
ul.program-facilities-link-list li a {
  font-size: 1em;
}
/*--------------------*/
/*PREA Page*/
/*--------------------*/
#prea .col-20,
#prea .col-17 {
  margin-left: 0;
}
#prea ul.unstyled-list {
  margin-bottom: 3rem;
}

#prea ol.unstyled-list li {
  margin-bottom: 2rem;
}
#prea .icon-list li:nth-last-of-type(1) {
  margin-bottom: 0;
}
#prea #complaint-processing ul.icon-list {
    margin-bottom: 0;
}
#prea .icon-list .li-info .body-bold {
  margin-bottom: 0;
}
#prea .icon-list .li-info ul.unstyled-list {
  margin-bottom: 0;
}
#zero-tolerance ol > li {
  margin-bottom: 1rem;
}
#prea #zero-tolerance ol ul {
  margin-bottom: 0;
}
#prea .right-sidebar .reports-callout {
  padding: 0 3rem 4rem 4rem;
}
#prea .right-sidebar .reports-callout p {
  margin-bottom: 0;
}
#prea #zero-tolerance-container {
  padding: 4rem 0;
}
#prea label.zero-tolerance-expand {
  cursor: pointer;
}
#prea label.zero-tolerance-expand h2,
#prea label.zero-tolerance-expand img {
  display: inline-block;
}
#prea label.zero-tolerance-expand h2 {
  font-size: 2.2rem;
  margin-bottom: 0;
  margin-right: 2rem;
}
#prea label.zero-tolerance-expand img {
  border: none;
  -webkit-transition: all .33s;
      -o-transition: all .33s;
      transition: all .33s;
  vertical-align: middle;
}
#prea input#policy {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
#prea .policy-drawer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.33s;
      -o-transition: all 0.33s;
      transition: all 0.33s;
}
#prea input#policy:checked ~ .policy-drawer {
  max-height: 1000rem;
}
#prea input#policy:checked ~ label.zero-tolerance-expand img {
  transform: rotate(180deg);
}
#prea #resources-container {
  padding-bottom: 8rem;
}
/*----------------------*/
/* Media Queries */
/*----------------------*/
/* PREA Mobile */
@media screen and (max-width: 800px) {
  #prea .icon-list .li-info {
    margin-top: 0.65rem;
    width: 26rem;
  }
  #prea .icon-list .li-icon {
    height: 4rem;
    width: 4rem;
  }
  #prea .right-sidebar .reports-callout {
      padding: 0 2rem 4rem 2rem;
  }
  #prea #resources-container {
    background-color: #eef2f4;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}