/*---------------------------*/
/* Homepage */
/*---------------------------*/
#home-page header #hero-banner {
    background-image: url(/images/home/header/header-image.jpg);
    padding-bottom: 0;
}

#home-page .primary-button,
#home-page .secondary-button {
    float: right;
}

#home-page main {
    padding-top: 4rem;
}
/* News and Press Section */
#news-press-section {
    margin-bottom: 4rem;
}

.main-news-feature figure {
    border: 1px solid #c2c2c2;
    display: inline-block;
    height: 40rem;
    overflow: hidden;
    position: relative;
    width: 75.8rem;
}

.main-news-feature p.date-stamp + p {
    margin-top: 0;
}

.main-news-feature figure img,
.news-preview figure img {
    border: none;
}

#news-press-section ul#top-news-list li {
    display: inline-block;
    margin-bottom: 6rem;
    vertical-align: top;
}

    #news-press-section ul#top-news-list li:nth-of-type(1) {
        margin-bottom: 4rem;
    }

    #news-press-section ul#top-news-list li:nth-of-type(2) {
        margin-left: 0;
    }

.news-preview h2.h1-style,
.news-preview p:nth-last-of-type(1),
#news-press-section a.primary-button {
    margin: 0;
}

.news-preview h2.h1-style {
    line-height: 1.1em;
}

.news-preview.feature figure {
    height: 24em;
}

.feature img {
    margin-top: 0;
}

.news-preview figure {
    border-left: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    height: 16em;
    margin-bottom: 1.5em;
    overflow: hidden;
    position: relative;
    width: calc(100% - 2px);
}

.news-preview img {
    border: none;
    height: 24em;
    width: auto;
}

.main-news-feature figcaption.callout,
.news-preview figcaption.callout {
    background-color: #e9661d;
    bottom: 1em;
    color: #fff;
    margin-bottom: 0;
    padding: 0.5rem 1rem; /*5px 10px*/
    position: absolute;
}
/* Visitation Section */
#visitation-section {
    background-color: #3a7ebc;
    padding-bottom: 6em;
    padding-top: 4em;
    text-align: center;
    width: 100%;
}

    #visitation-section .description {
        margin: 0 auto 4rem auto;
    }

ul.visitation-options {
    margin: 0 auto;
}

    ul.visitation-options li {
        display: inline-block;
        width: 33%;
    }

        ul.visitation-options li:nth-last-of-type(1) {
            float: right;
        }

        ul.visitation-options li img {
            border: none;
            height: 8rem; /*80px*/
            margin-bottom: 1.5rem; /*15px*/
            width: 8rem; /*80px*/
        }

        ul.visitation-options li a {
            text-decoration: none;
        }

            ul.visitation-options li a span {
                display: block;
                font-family: lato, arial, sans-serif;
                font-size: 2.2rem;
                text-transform: uppercase;
                letter-spacing: 0.6px;
            }

/* Job Openings Section */
#job-openings-section {
    padding-top: 4rem;
}

.job-card-small {
    border: 1px solid #a3a3a3;
    margin-bottom: 4rem;
    padding: 3.9rem;
    padding-bottom: 5.9rem;
    position: relative;
}

#job-openings-section .job-card-small:nth-of-type(1) {
    margin-left: 0;
}

.job-card-small dt,
.job-card-small dd {
    margin-left: 0;
}

.job-card-small .hyperlink-heading {
    margin-bottom: 2rem;
}

.job-card-small dd.job-description,
.job-card-small dd.job-location {
    font-size: 1.7em;
    line-height: 1.4em;
    margin-bottom: 2rem;
}

.salary-range {
    color: #464545;
    font-family: lato, arial, sans-serif;
    font-size: 2.2em; /*22px*/
    font-weight: 400;
    margin-bottom: 2rem;
}

.job-location-name {
    border-right: 1px solid #737373;
    margin-right: 0.4em;
    padding-right: 0.4em;
}

.job-card-small .card-icon {
    position: absolute;
    right: 4em;
    top: 4em;
}
/* Most Wanted Section/Mail Procedures Section */
#most-wanted-section,
#mail-procedures-section {
    background-color: #eef2f4;
    float: left;
    margin-left: 0;
    padding: 4rem 4rem 0 4rem;
}

    #most-wanted-section .hyperlink-heading {
        margin-bottom: 1rem;
    }

    #most-wanted-section li {
        display: inline-block;
        margin-bottom: 4rem;
        vertical-align: top;
    }

        #most-wanted-section li:nth-of-type(1) {
            margin-left: 0;
            margin-right: 3.7rem;
        }

.mug-shot {
    margin-bottom: 1rem;
}

    .mug-shot img {
        display: block;
        width: 100%;
    }

#most-wanted-section dl {
    text-align: center;
}

.description-group dd,
.description-group dt {
    display: inline-block;
}

#mail-procedures-section img {
    margin-bottom: 4rem;
}
/* Operating Procedures Section */
#operating-procedures-section {
    display: inline-block;
    float: right;
    padding: 4rem 0 0 0;
    vertical-align: top;
}

    #operating-procedures-section ul {
        margin-bottom: 4rem;
    }

.procedure-change-details {
    display: inline-block;
    margin-bottom: 4rem;
    margin-left: -4px;
    width: 44.5rem;
}

    .procedure-change-details .date-stamp {
        margin-bottom: 0;
    }

#operating-procedures-section ul li:nth-last-of-type(1) .procedure-change-details {
    margin-bottom: 0;
}

.procedure-change span {
    font-size: 1.7em;
}
/* PREA Section */
#prea-section {
    margin-bottom: 6rem;
    background-color: #eef2f4;
    margin-left: 0;
    margin-top: 4rem;
    padding: 4rem 4rem 0 4rem;
}

    #prea-section img {
        margin-bottom: 4rem;
    }
/*-----------------------*/
/* Primary Page Globals */
/*-----------------------*/


/*-----------------------*/
/*Job Openings Page*/
/*-----------------------*/
#job-openings header #hero-banner {
    background-image: url(/images/job-opportunities/header/job-opps-header.jpg);
    background-position: center;
    background-size: cover;
}

#job-openings .primary-button {
    float: right;
}

#job-openings ul#featured-jobs-list {
    clear: both;
    padding-top: 6rem;
}

#job-openings-intro {
    margin-left: 0;
}

#call-to-apply {
    background-color: #003768;
    float: right;
    padding: 4rem;
}

    #call-to-apply img {
        border: none;
        display: inline-block;
        float: left;
        height: 10rem;
        line-height: 1;
        margin-right: 2.8rem;
        width: auto;
    }

    #call-to-apply p {
        margin-bottom: 0;
    }

    #call-to-apply a:hover {
        color: #fff;
    }

    #call-to-apply a img {
        display: inline;
        float: none;
        height: 1.4rem;
        margin-right: 0;
        vertical-align: baseline;
        width: 1.8rem;
    }

    #call-to-apply a.secondary-button {
        margin: 0;
    }

        #call-to-apply a.secondary-button:hover {
            border-color: #fff;
        }

li.jc-with-image {
    margin-bottom: 4rem;
}

    li.jc-with-image:nth-of-type(1) {
        margin-left: 0;
    }

.jc-with-image figure {
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
    display: block;
    height: 28rem;
    line-height: 0;
    overflow: hidden;
}

    .jc-with-image figure img {
        height: 33.3rem;
        border: none;
    }

.jc-with-image .job-card-small {
    margin-bottom: 0;
    padding: 3.9rem 3.9rem 5.9rem 3.9rem;
}

    .jc-with-image .job-card-small dl {
        margin-left: 0;
    }

    .jc-with-image .job-card-small dd:nth-last-of-type(1) {
        margin-bottom: 0;
    }

#job-openings #results-sort {
    display: none;
}

#current-job-openings #result-cards {
    padding-bottom: 4rem;
}

    #current-job-openings #result-cards li {
        margin-bottom: 1rem;
        position: relative;
    }

        #current-job-openings #result-cards li img.static-card-icon {
            position: absolute;
            top: 4rem;
            right: 4rem;
        }

        #current-job-openings #result-cards li:nth-last-of-type(1) {
            margin-bottom: 0;
        }

#job-openings dl.result-data .h2-style {
    margin-bottom: 2rem;
}

#job-openings #result-cards .job-link {
    display: none;
}

#job-openings #employee-benefits {
    background-color: #eef2f4;
    padding-top: 6rem;
}

    #job-openings #employee-benefits .description {
        margin-left: 0;
        margin-bottom: 2.2222222222222223em; /*40px*/
    }

    #job-openings #employee-benefits li {
        float: left;
        margin-bottom: 6rem;
        width: 38.6666667rem;
        text-align: center;
        vertical-align: top;
    }

figure.benefit {
    width: 28rem;
    margin: auto;
}

    figure.benefit img {
        border: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 3em;
        width: 10rem;
    }

    figure.benefit figcaption {
        font-family: lato, arial, sans-serif;
        font-size: 2.2em;
        text-align: center;
        text-transform: uppercase;
    }
/*-----------------------*/
/*How to Apply Page Page*/
/*-----------------------*/
#how-to-apply .modal-overlay,
#how-to-apply .modal-window,
#how-to-apply li.slide {
    display: block;
}

#how-to-apply .modal-overlay {
    z-index: 0;
    background-color: transparent;
    position: initial;
    height: initial;
}

#how-to-apply .modal-window {
    height: initial;
    position: initial;
    z-index: 0;
}

#how-to-apply .modal-content {
    box-shadow: none;
}

#how-to-apply .modal-ctrls,
#how-to-apply button.close-modal {
    display: none;
}
/*--------------------*/
/*News Landing Page*/
/*--------------------*/
.news-and-press header #hero-banner {
    background-image: url(/images/news/header/news-header.jpg);
    background-position: center;
    background-size: cover;
}

#news-landing #hero {
    height: 40em;
}

#news-landing hr {
    border-top: 1px solid #a3a3a3;
    margin-bottom: 6em;
}

#news-and-press li.clickable-card {
    margin-bottom: 4em;
}

#news-and-press .featured-stories-feed {
    border-bottom: 1px solid #a3a3a3;
}

    #news-and-press .featured-stories-feed li.clickable-card:nth-of-type(odd) {
        margin-left: 0;
    }

    #news-and-press .featured-stories-feed .article-text {
        border: 1px solid #a3a3a3;
        padding: 4em 4em 6em 4em;
    }

#news-and-press .news-preview h2 {
    margin-bottom: 0;
}

#news-and-press .news-preview figure {
    margin-bottom: 0;
}

#news-and-press .news-preview img {
    width: 100%;
    height: auto;
}

#recent-news {
    padding-top: 4rem;
}

    #recent-news h2 {
        margin-left: 0;
    }

    #recent-news .news-preview h2 {
        margin-bottom: 0;
    }

    #recent-news .recent-stories-feed {
        margin-left: 0;
    }

        #recent-news .recent-stories-feed li {
            margin-bottom: 4em;
        }

        #recent-news .recent-stories-feed .news-preview {
            padding: 0;
            border: none;
        }

            #recent-news .recent-stories-feed .news-preview figure {
                display: inline-block;
                height: 10em;
                margin: 0;
                overflow: hidden;
                vertical-align: top;
                width: 15.9em;
            }

                #recent-news .recent-stories-feed .news-preview figure img {
                    height: auto;
                    margin-top: 0;
                    width: 100%;
                }

ul#archived-years .article-text,
ul.recent-stories-feed .article-text {
    display: inline-block;
    margin-left: -4px;
    padding-left: 2em;
    width: 75%;
}

#news-and-press .media-contact {
    float: right;
}

.media-contact-info,
.media-social-info {
    background-color: #003768;
    color: #fff;
    padding-bottom: 6em;
    padding-left: 11.11111%;
    padding-right: 11.11111%;
    padding-top: 4em;
    position: relative;
}

.media-contact-info {
    margin-bottom: 3em;
}

.media-social-info li {
    display: inline-block;
    margin-right: 1em;
}

    .media-social-info li img {
        border: none;
    }

.media-contact-info p {
    margin: 0;
}

.media-contact-info .tel {
    margin-top: 1em;
    margin-bottom: 2em;
}

.media-contact-info .title {
    font-style: italic;
}

.media-contact-info img {
    border: none;
    position: absolute;
    right: 11.11111%;
    top: 4em;
}

.media-contact .h2-style {
    margin-bottom: 0.5em;
}

#archived-news {
    padding-bottom: 4em;
}

    #archived-news h2.h1-style {
        margin-bottom: 1em;
    }

#news-landing aside.right-sidebar {
    border-left: 1px dotted #a8a8a9;
    padding-left: 4rem;
    float: right;
}
/*------------------------*/
/* Individual News Article*/
/*------------------------*/
.news-article-header h2 {
    margin-bottom: 1.5rem;
}
/*------------------------*/
/* Rich News Article*/
/*------------------------*/
#rich-news main,
#basic-news main {
    margin-left: 0;
}

#basic-news main {
    padding-bottom: 6rem;
}

#basic-news p:nth-last-of-type(1) {
    margin-bottom: 0;
}

.news-article-header {
    margin-bottom: 1.5rem;
}

#rich-news header.news-preview figure,
#basic-news header.news-preview figure {
    height: 40rem;
    margin-bottom: 3rem;
}

#rich-news header.news-preview figcaption,
#basic-news header.news-preview figcaption {
    bottom: 4rem; /*40px*/
}

#rich-news header.news-preview img,
#basic-news header.news-preview img {
    width: 100%;
    height: auto;
}

#rich-news h2.h1-style {
    margin-bottom: 1rem;
    width: 60rem;
}

#rich-news p {
    width: 60rem;
}

figure.secondary-image {
    border-bottom: 1px dotted #a8a8a9;
    border-top: 1px dotted #a8a8a9;
    height: auto;
    margin-bottom: 4rem;
    margin-top: 1rem;
    padding: 2rem 0;
    width: 36rem;
}

    figure.secondary-image img {
        width: 100%;
    }

#rich-news figure.secondary-image p {
    font-style: italic;
    margin-bottom: 1rem; /*10px*/
    width: inherit;
}

#rich-news .image-slider {
    width: 60rem;
}
/*--------------------*/
/*Contact Us Page*/
/*--------------------*/
#contact-us {
    background-color: #eef2f4;
}

    #contact-us header #hero-banner {
        background-image: url(/images/contact/header/contact-us-header.jpg);
        background-position: center;
        background-size: cover;
    }

    #contact-us .breadcrumbs {
        background-color: #eef2f4;
        margin-top: 0;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }

    #contact-us main {
        margin-right: auto;
        margin-left: auto;
        padding-top: 0;
        padding-left: 4rem;
        padding-right: 4rem;
        position: relative;
        width: 116em;
    }

    #contact-us #hero {
        height: 40em;
    }

    #contact-us main:before {
        background-color: #fff;
        content: '';
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        z-index: -1;
    }

    #contact-us .right {
        background-color: #fff;
        position: absolute;
        padding-right: 8rem;
        right: 0;
        top: -7.6rem;
    }

    #contact-us .left {
        background-color: #eef2f4;
        display: inline-block;
        vertical-align: top;
    }

.get-in-touch {
    background-color: #003768;
    margin-bottom: 4rem;
    margin-right: auto;
    padding: 7.6rem 4rem;
    width: 24rem;
}

#contact-us #contact-intro {
    margin-bottom: 0;
}

#contact-us ul#contact-list li {
    padding-bottom: 2.5rem;
    padding-left: 4rem;
    width: 28rem;
}

    #contact-us ul#contact-list li h2 {
        margin-bottom: 1rem;
    }

    #contact-us ul#contact-list li p {
        margin-bottom: 1.5rem;
    }

        #contact-us ul#contact-list li p + p {
            margin-top: 0;
        }

        #contact-us ul#contact-list li p.body-bold {
            margin-bottom: 0;
        }

    #contact-us ul#contact-list li a.email {
        display: block;
        margin-bottom: 2rem;
    }

    #contact-us #contact-form fieldset {
        padding-bottom: 2em;
    }

#contact-us #contact-form legend.h2-style {
    margin-bottom: 0.909090em;
}

#contact-us #contact-form hr {
    border-top: 1px solid #a8a8a9;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 1px;
    margin: 0 8em 4em 0;
}

#contact-us #contact-form fieldset .form-group {
    display: inline-block;
    vertical-align: top;
}

    #contact-us #contact-form fieldset .form-group:nth-of-type(1) {
        padding-right: 4em;
    }

    #contact-us #contact-form fieldset .form-group:nth-last-of-type(1) {
        margin-left: -3px;
        margin-right: 8rem;
        padding-top: 0;
        padding-left: 4em;
    }

#contact-us #contact-form fieldset#personal-info .form-group:nth-of-type(1) {
    border-right: 1px dotted #a8a8a9;
    padding-bottom: 6.6rem;
}

#contact-us #contact-form input {
    width: 29.8rem;
}

#contact-us #contact-form select {
    width: 32rem;
}

#contact-us #contact-form fieldset.radio-group {
    padding-bottom: 0;
}

#contact-us #contact-form fieldset.radio-binary legend {
    font-family: source-sans, arial, sans-serif;
    font-size: 1.7em;
    line-height: 1.4em;
    margin-bottom: 0.625em;
}

#contact-us #contact-form .radio-box {
    background-color: #fff;
    border: 1px solid #a8a8a9;
    border-radius: 2px;
    height: 2.8rem;
    margin-bottom: 4rem;
    padding: 1.3rem 1rem 0 1rem;
    position: relative;
    width: 9.5rem;
}

#contact-us #personal-info .form-group:nth-last-of-type(1) {
    margin-top: 4.2rem;
}

#contact-us #contact-form .binary-positive,
#contact-us #contact-form .binary-negative {
    margin-top: 0;
    margin-bottom: 0;
}

#contact-us #contact-form .binary-negative {
    float: right;
}

    #contact-us #contact-form .binary-positive .custom-radio,
    #contact-us #contact-form .binary-negative .custom-radio {
        border: 1px solid #464545;
        height: 1rem;
        top: 0.1rem;
        width: 1rem;
    }

    #contact-us #contact-form .binary-positive .label,
    #contact-us #contact-form .binary-negative .label {
        margin-bottom: 0;
        margin-left: 1.8rem;
    }

#contact-us fieldset input.positive:checked ~ .radio-box label.binary-positive span.custom-radio:after,
#contact-us fieldset input.negative:checked ~ .radio-box label.binary-negative span.custom-radio:after {
    background: #464545;
    display: block;
    height: 0.6rem; /*12px*/
    left: 2px;
    top: 2px;
    width: 0.6rem; /*12px*/
}

#contact-us #contact-form #message-group label:last-of-type {
    float: none;
    margin-bottom: 0;
    margin-top: 2rem;
}

#contact-us #contact-form label:last-of-type

#contact-us #contact-form fieldset#offender-info {
    padding-bottom: 0;
}

#contact-us #contact-form fieldset#offender-info .form-group {
    vertical-align: bottom;
}

#contact-us #contact-form fieldset#offender-info .conditional-fields {
    display: none;
}

#contact-us #contact-form fieldset#offender-info input.conditional-trigger:checked ~ .conditional-fields {
    display: block;
}

#contact-us #contact-form fieldset#message-group {
    margin-top: 4rem;
    padding-bottom: 120rem;
    width: 72em;
}

    #contact-us #contact-form fieldset#message-group label[for="message"] {
        margin-bottom: 0;
    }

    #contact-us #contact-form fieldset#message-group textarea {
        height: 47.4rem;
        margin-bottom: 0;
        width: 69.8rem;
    }

#contact-us #contact-form #captcha-wrapper {
}

#contact-us #contact-form .submit-form {
    margin-top: 4rem;
}

#contact-us #contact-form fieldset#message-group input {
    width: 18.823529411764707em;
}

#contact-us #form-results {
    width: 72rem;
}

    #contact-us #form-results .contact-submission-message {
        background-color: #fff;
        margin-bottom: 4rem;
        padding: 4rem 4rem 6rem 2rem;
    }

        #contact-us #form-results .contact-submission-message p:nth-last-of-type(1) {
            margin-bottom: 0;
        }

        #contact-us #form-results .contact-submission-message img {
            border: none;
            vertical-align: top;
        }
/*--------------------*/
/* About Page*/
/*--------------------*/
#about header #hero-banner {
    background-image: url(/images/about/header/about-header.jpg);
    background-position: center;
    background-size: cover;
}

#about #about-intro {
    padding-bottom: 6rem;
}

#about .col-19 {
    margin-left: 0;
}

#about .description {
    margin-bottom: 4rem;
}

#about #executive-staff {
    background-color: #eef2f4;
    padding-bottom: 6rem;
    padding-top: 4rem;
}

ul#executives li {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 4rem 4rem 6rem 2rem;
}

    ul#executives li figure {
        border-radius: 50%;
        display: inline-block;
        height: 12rem;
        margin-right: 2rem;
        overflow: hidden;
        width: 12rem;
    }

        ul#executives li figure img {
            /*Images are expected to be 1x1 ratio*/
            height: 12rem;
            width: 12rem;
        }

    ul#executives li .bio h3 span {
        color: #a3a3a3;
        font-weight: 400;
        font-style: italic;
    }

    ul#executives li .bio p:nth-last-of-type(1) {
        margin-bottom: 0;
    }
/*----------------------*/
/* Search Results Page */
/*---------------------*/
#site-search-results main {
    padding-bottom: 6rem;
}

#site-search-results .col-19 {
    margin-left: 0;
}

#site-search-results header #hero-banner {
    background-image: url(/images/job-opportunities/header/job-opps-header.jpg);
    background-position: center;
    background-size: cover;
}

#site-search-results #site-search form.site-search {
    margin-bottom: 4rem;
    top: 0;
    width: 36rem;
}

#site-search-results #site-search .site-search input#search-term {
    padding-bottom: 1px;
    padding-top: 1px;
}

#site-search-results #site-search .site-search button[type="submit"] {
    right: 0.25rem;
    top: 0.22rem
}

#site-search-results #search-results li {
    margin-bottom: 4rem;
}

    #site-search-results #search-results li h3 a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-decoration: none;
    }

        #site-search-results #search-results li h3 a:hover {
            text-decoration: underline;
        }

    #site-search-results #search-results li:nth-last-of-type(1) {
        margin-bottom: 0;
    }

#site-search-results #site-search p:nth-last-child(1) {
    height: 0;
    margin-bottom: 0;
}
/*--------------------*/
/* Mobile Styles*/
/*--------------------*/
@media screen and (max-width: 800px) {
    /* Homepage Mobile*/
    #home-page a.primary-button {
        float: none;
    }

    #home-page header #hero-banner {
        min-height: initial;
    }

    #hero-banner #home-hero {
        margin: 0 auto;
        padding-bottom: 4rem;
        padding-top: 4rem;
        width: 30.3rem;
    }

    .mobile-hero {
        display: block;
    }

    #hero-offender-locator {
        display: none;
    }

    #home-hero figure.doc-logo {
        display: none;
    }

    #hero-heading-wrapper {
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }

    #hero-banner #home-hero h1 {
        font-family: source-sans, arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
    }

        #hero-banner #home-hero h1 .spacer {
            margin-right: 0;
        }

    #mobile-hero-heading {
        color: #fff;
        display: block;
        font-family: lato;
        font-size: 5.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    #hero-banner #home-hero a.primary-button {
        float: none;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 28rem;
    }
    /* Homepage News & Press Section */
    #news-press-section ul#top-news-list li {
        border-bottom: 1px dotted #a3a3a3;
        margin-bottom: 0;
        margin-right: 0;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

        #news-press-section ul#top-news-list li:nth-of-type(1) {
            margin-bottom: 0;
            padding-top: 0;
        }

        #news-press-section ul#top-news-list li:nth-last-of-type(1) {
            border-bottom: none;
        }

        #news-press-section ul#top-news-list li:nth-of-type(1) a.read-more {
            display: none;
        }

        #news-press-section ul#top-news-list li:nth-of-type(1) p:nth-last-of-type(1) {
            margin-bottom: 0;
        }

    .main-news-feature figure {
        height: 16rem;
        margin-bottom: 1rem;
        margin-right: 0;
        width: 100%;
    }

    .news-preview figure,
    .news-preview .article-body {
        display: none;
    }

    .main-news-feature figure img {
        width: 100%;
    }
    /* Homepage Visitation Section */
    #visitation-section {
        padding-bottom: 4rem;
        text-align: left;
    }

    ul.visitation-options li,
    ul.visitation-options li:nth-of-type(2) {
        display: block;
        margin: 0 0 2rem 0;
        width: 100%;
    }

        ul.visitation-options li:nth-last-of-type(1) {
            margin-bottom: 0;
        }

        ul.visitation-options li a img,
        ul.visitation-options li a span {
            display: inline-block;
            vertical-align: middle;
        }

        ul.visitation-options li img {
            height: 4rem;
            margin-bottom: 0;
            margin-right: 1rem;
            width: 4rem;
        }
    /* Homepage Job Openings Section */
    #job-openings-section .job-card-small {
        border: none;
        padding: 0;
    }

        #job-openings-section .job-card-small dl {
            padding: 4rem;
            border: 1px solid #a3a3a3;
        }

        #job-openings-section .job-card-small .card-icon {
            display: none;
        }

    #job-openings-section .primary-button {
        margin-bottom: 4rem;
    }
    /* Homepage Operting Procedures Section Mobile*/
    #op-mw-wrapper {
        padding: 0;
    }

    #operating-procedures-section {
        background-color: #eef2f4;
        float: none;
        padding-left: 2rem;
        padding-right: 2rem;
        width: inherit;
    }

    .procedure-change-details {
        width: calc(100% - 10.5rem);
    }

    .procedure-change:nth-last-of-type(1) .procedure-change-details,
    .procedure-change:nth-last-of-type(1) .procedure-change-details .date-stamp {
        margin-bottom: 0;
    }

    a.procedure-tag {
        background-image: url(../images/home/flag-triangle-gray.svg);
        margin-right: 2rem;
    }

    #operating-procedures-section .primary-button {
        margin-bottom: 4rem;
    }

    /* Homepage Most Wanted Section Mobile*/
    #most-wanted-section,
    #mail-procedures-section {
        background-color: #fff;
        float: none;
        padding: 4rem 2rem 0 2rem;
        width: inherit;
    }

        #most-wanted-section .col-7 {
            width: 100%;
            margin-left: 0;
        }

        #most-wanted-section li:nth-of-type(1) {
            margin-right: 0;
        }

        #most-wanted-section dl {
            display: inline-block;
            margin-left: -4px;
            text-align: left;
            width: calc(100% - 14rem);
        }

    .mug-shot {
        display: inline-block;
        margin: 0 2rem 0 0;
        margin-right: 2rem;
        vertical-align: top;
        width: 12rem;
    }

    #most-wanted-section a.primary-button {
        margin-bottom: 4rem;
    }

    #mail-procedures-section .primary-button {
        margin-bottom: 4rem;
    }
    /* Hompage PREA Section Mobile */
    #prea-section {
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: inherit;
    }

        #prea-section img {
            width: 100%;
        }

        #prea-section .primary-button {
            margin-bottom: 4rem;
        }
    /* Job Openings Mobile */
    #job-openings-intro .description,
    #call-to-apply,
    #featured-jobs-list {
        display: none;
    }

    #job-openings-intro {
        margin-bottom: 0;
    }

    #job-openings #results-sort {
        width: 24rem;
    }

        #job-openings #results-sort li:nth-of-type(3) {
            margin-left: 0;
        }

    #job-openings #result-cards li {
        margin-bottom: 2rem;
    }

        #job-openings #result-cards li dl {
            padding: 4rem 3rem;
        }

        #job-openings #result-cards li dt,
        #job-openings #result-cards li dd {
            margin-left: 0;
        }

    #job-openings .button-group li:nth-of-type(1),
    #job-openings .button-group li:nth-of-type(2) {
        margin-bottom: 2px;
    }

    #job-openings .button-group-title {
        width: 100%;
    }

    #job-openings img.static-card-icon {
        display: none;
    }

    #job-openings .job-location-name {
        border-right: none;
        margin: 0;
        padding: 0;
    }

    #job-openings .job-city-state {
        display: block;
        text-indent: 1.65rem;
    }

    #job-openings .inline-pin {
        margin-right: 0.3rem;
    }

    #job-openings dd.job-name {
        margin-bottom: 1.5rem;
    }

    #job-openings .job-close-date,
    #job-openings .close-date-label {
        display: none;
    }

    #job-openings #result-cards .job-link {
        display: none;
    }

    #job-openings #result-cards .job-link {
        display: block;
        font-size: 1em;
    }

    #job-openings .primary-button {
        float: none;
        margin-bottom: 4rem;
    }

    #job-openings #employee-benefits {
        padding-top: 4rem;
    }

        #job-openings #employee-benefits li {
            margin-bottom: 4rem;
            width: 50%;
        }

    figure.benefit {
        width: 100%;
    }

        figure.benefit img {
            margin-bottom: 2rem;
            width: 6rem;
        }

        figure.benefit figcaption {
            font-size: 1.8em;
            padding: 0 0.25rem;
            text-transform: none;
        }
    /* Contact Us Mobile */
    #contact-us,
    #contact-us .left {
        background-color: #fff;
    }

        #contact-us main {
            margin-right: 0;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 4rem;
            width: auto;
            width: initial;
        }

        #contact-us #mobile-page-heading {
            padding: 0;
        }

        #contact-us #contact-intro,
        #contact-us #contact-form {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        #contact-us main:before {
            display: none;
        }

    #contact-intro {
        margin-right: 0;
    }

    #contact-us .right {
        display: block;
        position: static;
        padding: 0;
        width: auto;
        width: initial;
    }

    #contact-us #contact-form {
        background-color: #eef2f4;
        padding-top: 2rem;
    }

        #contact-us #contact-form hr {
            display: none;
        }

        #contact-us #contact-form fieldset#message-group {
            display: block;
            padding-bottom: 0;
            width: auto;
            width: initial;
        }

            #contact-us #contact-form input,
            #contact-us #contact-form fieldset#message-group textarea {
                width: calc(100% - 22px);
            }

        #contact-us #contact-form select {
            width: 100%;
        }

        #contact-us #contact-form fieldset#personal-info .form-group {
            border-bottom: 1px solid #a8a8a9;
            display: block;
            padding: 0 0 4rem 0;
            width: auto;
            width: initial;
        }

            #contact-us #contact-form fieldset#personal-info .form-group:nth-of-type(1) {
                padding-bottom: 4rem;
            }

            #contact-us #contact-form fieldset#personal-info .form-group label:nth-last-of-type(1) {
                margin-bottom: 0;
            }

            #contact-us #contact-form fieldset#personal-info .form-group:nth-of-type(1) {
                border-right: none;
            }

        #contact-us #contact-form fieldset#offender-info {
            border-bottom: 1px solid #a8a8a9;
        }

            #contact-us #contact-form fieldset#offender-info .form-group {
                display: block;
                padding-left: 0;
                padding-right: 0;
            }

        #contact-us #contact-form fieldset .form-group:nth-last-of-type(1) {
            margin-left: 0;
        }

        #contact-us #contact-form label:last-of-type {
            float: none;
        }

        #contact-us #contact-form #offender-info .radio-box .binary-negative {
            float: right;
        }

    .get-in-touch {
        margin-right: 0;
        width: auto;
        width: initial;
    }
    /* News Landing Mobile */
    #news-and-press .featured-stories-feed {
        border-bottom: none;
    }

    #news-and-press ul.featured-stories-feed li.clickable-card {
        margin-bottom: 0;
    }

        #news-and-press ul.featured-stories-feed li.clickable-card:nth-of-type(1) figure.image-link {
            height: 16rem;
            display: block;
        }

        #news-and-press ul.featured-stories-feed li.clickable-card:nth-of-type(1) .article-text {
            padding-top: 2rem;
        }

    #news-and-press .featured-stories-feed .article-text {
        border-left: none;
        border-right: none;
        border-top: none;
        padding: 4rem 0;
    }

    #recent-news {
        border-top: none;
    }

        #archived-news h2,
        #recent-news h2 {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 0;
        }

        #recent-news hr {
            display: none;
        }

        #recent-news .recent-stories-feed {
            margin-bottom: 4rem;
        }

            #recent-news .recent-stories-feed li {
                margin-bottom: 0;
            }

        #recent-news ul.recent-stories-feed li {
            border-bottom: 1px solid #a3a3a3;
        }

        #recent-news .recent-stories-feed .news-preview figure {
            display: none;
        }

        #recent-news ul.recent-stories-feed .article-text {
            margin-left: 0;
            padding: 4rem 0;
        }

    .drawer ul li article figure.image-link {
        display: none;
    }

    .drawer ul li article .article-text p:not(.date-stamp) {
        display: none;
    }

    #news-landing aside.right-sidebar {
        border-left: none;
        padding: 0;
    }
    /* Rich News Mobile */
    #rich-news p {
        width: 100%;
    }

    #rich-news .image-slider {
        width: 100%;
    }
    /* About Us Mobile */
    #about-intro .description {
        background-color: #fff;
        padding: 0 0 2rem 0;
    }

    #about-intro .dark-background p,
    #about-intro .dark-background h2 {
        color: #464545;
    }

    #about-intro-image {
        display: none;
    }

    #executive-staff {
        background-color: #eef2f4;
    }

        #executive-staff h2 {
            padding-left: 0;
        }

    ul#executives {
        padding: 0 0 4rem 0;
    }

        ul#executives li,
        ul#executives li.feature {
            border-bottom: 1px dotted #a8a8a9;
            display: block;
            margin: 0;
            padding: 2rem;
            text-align: left;
            width: initial;
            width: auto; /*For IE and Edge*/
        }

            ul#executives li.feature {
                border-top: 1px dotted #a8a8a9;
            }

            ul#executives li:focus {
                background-color: #3a7ebc;
                color: #fff;
            }

                ul#executives li:focus img {
                    border: 1px solid #fff;
                }

            ul#executives li figure,
            ul#executives li.feature figure {
                display: inline-block;
                margin: 0 2rem 0 0;
                height: 12rem;
                vertical-align: middle;
                width: 12rem;
            }

            ul#executives li dl {
                display: inline-block;
                margin-left: -4px;
                vertical-align: middle;
                width: 18rem;
            }

            ul#executives li figure img,
            ul#executives li.feature figure img {
                height: 12rem;
                width: 12rem;
            }

    #executive-staff #org-chart {
        display: inline-block;
        margin-bottom: 0;
    }

    #about .modal-content {
        padding-left: 2rem;
        padding-right: 2rem;
        width: initial;
        width: auto; /*For IE and Edge*/
    }

    #about .modal-instance figure,
    #about .modal-instance .bio {
        display: block
    }

    #about .modal-instance figure {
        height: 16rem;
        margin: 0 0 2rem 0;
        width: 16rem;
    }

        #about .modal-instance figure img {
            height: 16rem;
            width: 16rem;
        }

    #about .modal-instance .bio {
        width: initial;
        width: auto; /*For IE and Edge*/
    }
    /* Search Results Mobile */
    #site-search-results main {
        padding-top: 4rem;
    }
}
