/*--------------------------*/
/* Public Resources Global */
/*--------------------------*/
.public-resources header #hero-banner {
    background-image: url(/images/public-resources/header/public-resources-header.jpg);
    background-position: center;
    background-size: cover;
}
/*--------------------------*/
/* Offender Locator Page */
/*--------------------------*/
#required-fields {
    background-color: #eef2f4;
    padding: 4rem 0;
}

#offender-locator #clear-form {
    display: none;
}

#offender-locator #form-requirements.form-error {
    margin-top: 0;
}

    #offender-locator #form-requirements.form-error p {
        color: #98002e;
        font-size: 1.8rem;
        line-height: 1.5;
        margin-bottom: 3rem;
    }

#required-fields label:nth-of-type(1),
#optional-fields label:nth-of-type(1),
#optional-fields .offender-input-group,
#optional-fields label[for="middle-name"] {
    margin-left: 0;
}

.offender-input-group input#release-date {
    display: inline-block;
    margin-right: 1rem;
    width: 28.8rem; /*288px*/
}

.vertical-line {
    border-left: 1px solid #464545;
    height: 3rem;
    left: 0.9em;
    position: relative;
}

#offender-locator #or-divider-wrap {
    display: inline-block;
    margin-right: 3.19rem;
    margin-left: 3.18rem;
}

#offender-locator p.or-divider {
    margin: 0;
}

#offender-locator .calendar-icon {
    border: none;
    display: inline-block;
    height: 4rem;
    margin: 0 0 0 -0.4rem;
    vertical-align: bottom;
    width: 4rem;
}

#offender-locator-form button[type='submit'] {
    margin-top: 2rem;
}

#offender-locator-form .conditional-fields button[type='submit'] {
    float: right;
}

label#show-optional-offender-info {
    background-image: url(../images/global/icons/drop-arrows-down.svg);
    background-position: right 75%;
    background-repeat: no-repeat;
    color: #3a7ebc;
    cursor: pointer;
    display: none;
    font-size: 1.8em;
    line-height: 1;
    margin-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.1rem;
    text-decoration: underline;
}

#offender-locator #required-fields .primary-button {
    display: none;
}

#offender-locator input[type=checkbox].conditional-trigger {
    display: none;
}
#offender-locator #results-sort ul,
#offender-locator #results-sort .button-group-title {
    display: none;
}
.result-data {
    border: 1px solid #a8a8a9;
    display: block;
    padding-bottom: 6em;
    padding-top: 4em;
}

ul#result-cards li {
    margin-bottom: 2em;
}

.result-data dd.result-location a {
    line-height: 1.4em;
}

#offender-locator ul#result-cards dt.alias,
ul#result-cards dd.alias {
    display: inline-block;
    font-style: italic;
    margin-bottom: 0;
}

.result-data .h2-style {
    margin-bottom: 0.5rem;
}

#optional-fields {
    margin-bottom: 6em;
    margin-top: 4em;
}

    #optional-fields label {
        margin-bottom: 2rem;
    }

    #optional-fields hr {
        border-bottom: 1px dotted #a8a8a9;
        border-top: none;
        clear: both;
        margin: 0;
    }

#offender-results {
    margin-bottom: 4em;
    width: 100%;
}

#offender-locator ul#result-cards dt {
    margin-bottom: 1rem; /*10px*/
}

    #offender-locator ul#result-cards dt.alias-label {
        display: inline;
    }

    #offender-locator ul#result-cards dt.ib-element {
        margin-bottom: 0;
    }

ul#result-cards li.result-subgroup {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}

.result-subgroup:nth-last-of-type(1) {
    vertical-align: middle;
}

.result-subgroup .multiline-link {
    font-size: 2.2em;
}

.result-offender-page,
.result-jpay {
    top: 2.3em;
    width: 5em;
}

    .result-offender-page img,
    .result-jpay img {
        height: 100%;
        width: 100%;
    }

dd.result-jpay {
    left: 0;
    position: absolute;
}

    dd.result-jpay a span,
    dd.result-offender-page a span {
        display: none;
    }

dd .tooltip {
    background-color: #eef2f4;
    display: none;
    padding: 2em 4em;
    position: absolute;
    right: -24.3rem;
    top: -8.3rem;
    width: 19em;
    z-index: 10;
}

#result-cards dd .tooltip p,
#result-cards dd .tooltip h2 {
    margin-bottom: 0;
}

label.front-card-flip {
    border-bottom: 40px solid #3a7ebc;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    display: none;
    height: 0;
    margin: 0;
    position: absolute;
    right: -2.6rem;
    top: -0.6rem;
    transform: rotateZ(45deg);
    width: 0;
}

    label.front-card-flip div {
        background-image: url(/images/global/icons/ellipsis.svg);
        background-position: center center;
        background-size: cover;
        height: 15px;
        left: -16px;
        position: relative;
        top: 16px;
        transform: rotateZ(-45deg);
        width: 22px;
    }

dd.result-offender-page {
    position: absolute;
    right: 0;
}

#disclaimer {
    margin-bottom: 6em;
    margin-top: 4em;
    width: 72rem;
}

#offender-search .no-offender-results {
    padding: 0 2rem;
}

#offender-search .no-offender-results {
    margin-bottom: 6rem;
    padding-left: 0;
    width: 72rem;
}

    #offender-search .no-offender-results .body-bold img {
        border: none;
        height: 3rem;
        margin-right: 1rem;
        vertical-align: middle;
        width: 3rem;
    }

    #offender-search .no-offender-results .body-bold span {
        display: inline;
        vertical-align: middle;
    }

    #offender-search .no-offender-results p.disclaimer {
        font-style: italic;
    }
/*--------------------*/
/*Most Wanted Page*/
/*--------------------*/
#most-wanted #most-wanted-contact {
    background-color: #003768;
    float: right;
    padding: 4em;
}

    #most-wanted #most-wanted-contact img {
        border: none;
        display: inline-block;
        height: auto;
        margin-left: 0.5em;
        margin-right: 4.5em;
        vertical-align: middle;
        width: 7em;
        height: 12.5em;
    }

    #most-wanted #most-wanted-contact a {
        text-decoration: none;
    }

        #most-wanted #most-wanted-contact a:hover {
            text-decoration: underline;
        }

    #most-wanted #most-wanted-contact .mw-contact-right {
        display: inline-block;
        vertical-align: middle;
    }

#most-wanted ul#most-wanted-list {
    clear: both;
    padding-top: 6em;
}

.most-wanted-card {
    border: 1px solid #a3a3a3;
    margin-bottom: 2em;
    padding: 6em 3.9em;
}

    .most-wanted-card img {
        margin-right: 4em;
        width: 19.8em;
    }

    .most-wanted-card h3.body-bold {
        text-transform: none;
        line-height: 1.4em;
    }

    .most-wanted-card .mw-card-right {
        display: inline-block;
        margin-left: -4px;
        vertical-align: top;
    }

    .most-wanted-card dl {
        width: 24em;
    }

        .most-wanted-card dl.general-attributes {
            column-count: 2;
        }

    .most-wanted-card dt,
    .most-wanted-card dd {
        display: inline;
    }

    .most-wanted-card dd {
        font-size: 1.7em;
    }

    .most-wanted-card:nth-of-type(odd) {
        margin-left: 0;
        margin-right: 4em;
    }

dl.identity-attributes .mw-attribute-wrapper,
dl.general-attributes .mw-attribute-wrapper {
    break-inside: avoid;
    margin-bottom: 2em;
}
/*--------------------*/
/* FOIA Page*/
/*--------------------*/
#foia #inpage-links {
    margin-bottom: 4rem;
}


        #foia #inpage-links li:nth-last-of-type(1) {
            margin-bottom: 0;
        }

#foia #rights-overview {
    padding-bottom: 4rem;
}

    #foia #rights-overview .description {
        margin-bottom: 0;
    }
    #foia #foia-rights ul.unstyled-list {
        margin-bottom: 0;
    }
    #foia #rights-overview p:nth-last-of-type(1),
    #foia #requesting-records p:nth-last-of-type(1),
    #foia #vadoc-responsibilities p:nth-last-of-type(1),
    #foia #request-costs p:nth-last-of-type(1),
    #foia #record-types p:nth-last-of-type(1),
    #foia #exemptions p:nth-last-of-type(1) {
        margin-bottom: 0;
    }

#foia #requesting-records,
#foia #vadoc-responsibilities,
#foia #send-request,
#foia #vadoc-responsibilities,
#foia #request-costs,
#foia #record-types {
    padding-bottom: 6rem;
}

    #foia #send-request .vcard {
        margin-bottom: 4rem;
    }

    #foia #send-request .tel {
        margin: 0;
    }

    #foia #send-request #hcard-genral-records .org {
        font-style: italic;
    }

    #foia #send-request #hcard-legal-services .fn {
        font-style: italic;
    }

    #foia #send-request p:nth-last-of-type(1) {
        margin-bottom:0;
    }

    #foia #vadoc-responsibilities ol {
        margin-left: 4rem;
        margin-bottom: 4rem;
    }

    #foia #vadoc-responsibilities ol li,
    #foia #record-types ul li,
    #foia #exemptions ul li {
        margin-bottom: 2rem;
    }

        #foia #vadoc-responsibilities ol li:nth-last-of-type(1),
        #foia #record-types ul li:nth-last-of-type(1),
        #foia #exemptions ul li:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    #foia #exemptions {
        margin-bottom: 0;
    }

    #foia #exemptions ul,
    #foia #record-types ul {
        margin-bottom: 4rem;
    }
/*--------------------*/
/* Procurement Page*/
/*--------------------*/
#procurement #hcard-eva-registration {
    margin-bottom: 3rem;
    margin-top: -1rem;
}

    #procurement #hcard-eva-registration.vcard .tel {
        margin: 0;
    }

        #procurement #hcard-eva-registration.vcard .tel p {
            margin-bottom: 1rem;
        }

    #procurement #hcard-eva-registration.vcard a.email {
        line-height: 1;
    }

#procurement h3.body-bold span {
    font-size: 1.8rem;
    font-weight: 400;
}

#procurement ul.term-contract-list {
    margin-bottom: 4rem;
}

    #procurement ul.term-contract-list li {
        margin-bottom: 2rem;
    }

#procurement #vce {
    background-color: #eef2f4;
    padding-bottom: 6rem;
    padding-top: 4rem;
}

    #procurement #vce p:nth-last-of-type(1) {
        margin-bottom: 0;
    }

#procurement #hcard-main-contact {
    margin-bottom: 0;
}

    #procurement #hcard-main-contact #questions {
        margin-bottom: 3rem;
    }

    #procurement #hcard-main-contact #closed {
        font-style: italic;
    }
/*------------------------*/
/* Operating Procedures */
/*------------------------*/
#operating-procedures #intro p:nth-last-of-type(1) {
    margin-bottom: 0;
}

#procedure-categories {
    padding-top: 4rem;
}

    #procedure-categories h2 {
        margin-bottom: 4rem;
    }

    #procedure-categories li.drawer {
        padding: 4rem 4rem 4rem 8rem;
        width: inherit;
    }

    #procedure-categories .drawer-icon {
        margin-left: -6rem;
        margin-right: 2rem;
        margin-top: 0.5rem;
        vertical-align: initial;
    }

    #procedure-categories .procedure-tag {
        background-image: url(~/images/home/flag-triangle-gray.svg);
        background-size: 13px 50px;
        line-height: 1;
        margin-left: -4px;
        margin-right: 0;
        margin-top: 0;
        padding: 1.6rem 0 1.6rem 3rem;
        padding-left: 3rem;
        width: 13rem;
    }

    #procedure-categories .procedure-header {
        background-color: #eef2f4;
        display: inline-block;
        margin-bottom: 3rem;
        margin-left: -4px;
        padding: 0.65rem 0 0.65rem 3rem;
        vertical-align: top;
        width: 45rem;
    }

        #procedure-categories .procedure-header p {
            margin: 0;
        }

    #procedure-categories .drawer p.description {
        margin: 0;
    }

    #procedure-categories .procedure-header h3 {
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    #procedure-categories li.drawer .procedure-list {
        border-top: 1px dotted #a3a3a3;
        padding-top: 4rem;
        width: 60rem;
    }

        #procedure-categories li.drawer .procedure-list li {
            margin-bottom: 4rem;
        }

            #procedure-categories li.drawer .procedure-list li p {
                margin: 0;
            }

                #procedure-categories li.drawer .procedure-list li p span {
                    font-weight: 600;
                    margin-right: 0.5rem;
                }

            #procedure-categories li.drawer .procedure-list li .procedure-attachment-list {
                margin-top: 2rem;
            }

                #procedure-categories li.drawer .procedure-list li .procedure-attachment-list li {
                    margin-bottom: 2rem;
                    padding-left: 8rem;
                }

                    #procedure-categories li.drawer .procedure-list li .procedure-attachment-list li p,
                    #procedure-categories li.drawer .procedure-list li .procedure-attachment-list li a {
                        line-height: 1;
                    }
/*------------------------*/
/* Financial Reports */
/*------------------------*/
#financial-reports main {
    min-height: 58rem;
}
/*------------------------*/
/* Media Queries */
/*------------------------*/
@media screen and (max-width: 800px) {
    /* Offender Locator Mobile*/
    #offender-locator main {
        padding-top: 4rem;
    }
    #required-fields {
        /*background-color: #fff;*/
        padding-bottom: 0;
    }

        #required-fields #clear-form {
            display: block;
            float: right;
            margin-top: 0.5rem;
        }

        #required-fields h2 {
            display: inline-block;
        }

    #offender-search-results {
        background-color: #eef2f4;
        padding-bottom: 6rem;
    }

    .conditional-fields {
        display: none;
    }

    label.front-card-flip {
        display: block;
    }

    input.conditional-trigger:checked ~ .conditional-fields {
        display: block;
    }

    #offender-locator #required-fields .primary-button {
        display: inline-block;
    }

    #offender-locator label[for="last-name"],
    #offender-locator #optional-fields label[for="release-date"],
    #offender-locator #optional-fields label[for="sex"],
    #offender-locator #optional-fields label[for="race"] {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #offender-locator label[for="offender-id"] {
        margin-bottom: 0;
    }

    #offender-locator label[for="release-date"] {
        position: relative;
    }

    #offender-locator .offender-input-group input#release-date {
        display: block;
        width: calc(100% - 22px);
    }

    #offender-locator label[for="release-date"] .calendar-icon {
        bottom: 1rem;
        height: 2rem;
        position: absolute;
        right: 1rem;
        width: 2rem;
    }

    #offender-locator #or-divider-wrap {
        display: block;
        margin: 2rem auto;
        width: 12rem;
    }

        #offender-locator #or-divider-wrap .vertical-line {
            border-bottom: 1px solid #464545;
            border-left: none;
            display: inline-block;
            height: 0;
            position: static;
            width: 4rem;
        }

        #offender-locator #or-divider-wrap p.or-divider {
            display: inline-block;
            margin: 0 0.5rem;
            vertical-align: middle;
        }

    label#show-optional-offender-info {
        display: inline;
    }

    #offender-locator #optional-fields {
        margin-bottom: 0;
    }

        #offender-locator #optional-fields label[for="age-from"],
        #offender-locator #optional-fields label[for="age-to"] {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            width: calc(50% - 2rem);
        }

    #offender-locator label[for="age-from"] {
        position: relative;
    }

    #offender-locator label[for="age-to"] {
        float: right;
    }

    #offender-locator #optional-fields label[for="age-from"]:after {
        content: '';
        border-bottom: 1px solid #464545;
        bottom: 2rem;
        display: inline-block;
        position: absolute;
        right: -2.5rem;
        vertical-align: middle;
        width: 1rem;
    }

    #offender-locator #optional-fields label#show-optional-offender-info {
        display: inline-block;
    }

    #offender-locator #optional-fields label[for="release-date"] {
        display: block;
    }

    #offender-locator #optional-fields label[for="race"] {
        margin-bottom: 0;
    }

    #offender-locator #optional-fields hr {
        display: none
    }

    #offender-locator button[type="submit"].primary-button {
        float: none;
        margin: 4rem 0;
    }

    #offender-locator #err-display {
        margin-bottom: 0;
        padding: 0;
        padding-top: 4rem;
        width: auto; /*For IE and Edge*/
        width: initial;
    }

        #offender-locator #err-display p {
            margin-bottom: 0;
        }
            #offender-locator #err-display p.body-bold img,
            #offender-locator #err-display p.body-bold span {
                display: inline-block
            }
                #offender-locator #err-display p.body-bold span {
                    margin-left: -4px;
                    width: calc(100% - 4rem);
                }

                #offender-locator #disclaimer {
                    width: auto; /*For IE and Edge*/
                    width: initial;
                }


        #offender-locator #results-sort h2 {
            padding-top: 4rem;
        }

        #offender-locator #results-sort .button-group-title,
        #offender-locator #results-sort ul {
            display: none;
            width: 100%;
        }

    #offender-locator ul#result-cards dl,
    #offender-locator ul#result-cards dt,
    #offender-locator ul#result-cards dd,
    #offender-locator ul#result-cards li.result-subgroup,
    #offender-locator ul#result-cards li.result-subgroup.mar-l-1.mar-r-1 {
        display: block;
        line-height: 1;
        margin-left: 0;
        margin-right: 0;
        width: auto; /*For IE and Edge*/
        width: initial;
    }

        #offender-locator ul#result-cards dd.result-jpay,
        #offender-locator ul#result-cards dd.result-offender-page {
            display: inline-block;
            margin-right: 4rem;
            position: static;
            text-align: center;
        }

            #offender-locator ul#result-cards dd.result-jpay img,
            #offender-locator ul#result-cards dd.result-offender-page img {
                height: 6rem;
                width: 6rem;
            }

            #offender-locator ul#result-cards dd.result-jpay a,
            #offender-locator ul#result-cards dd.result-offender-page a {
                text-decoration: none;
            }

                #offender-locator ul#result-cards dd.result-jpay a span,
                #offender-locator ul#result-cards dd.result-offender-page a span {
                    color: #464545;
                    display: block;
                }

    #offender-locator ul#result-cards li.result {
        perspective: 1000px;
    }

        #offender-locator ul#result-cards li.result .conditional-trigger:checked ~ ul.result-data {
            transform: rotateY(360deg);
        }

            #offender-locator ul#result-cards li.result .conditional-trigger:checked ~ ul.result-data label.front-card-flip div {
                background-image: url('/images/nav/drop-arrows-down.svg');
                height: 10px;
                left: -7px;
                transform: rotateZ(45deg);
                top: 19px;
                width: 15px;
            }

    #offender-locator ul#result-cards ul.result-data {
        background-color: #fff;
        padding: 4rem 2rem;
        position: relative;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        transform-style: preserve-3d;
    }

    #offender-locator ul#result-cards .card-back,
    #offender-locator ul#result-cards li.result-subgroup.card-back,
    #offender-locator ul#result-cards dt.alias-label {
        display: none;
    }

    #offender-locator ul#result-cards li.result .conditional-trigger:checked ~ ul.result-data .card-back {
        display: block;
    }

    #offender-locator ul#result-cards li.result .conditional-trigger:checked ~ ul.result-data .card-front {
        display: none;
    }

    #offender-locator ul#result-cards dt.personal-info,
    #offender-locator ul#result-cards dd.ars {
        display: none;
    }

    ul#result-cards .result-data li.result-subgroup {
        margin-bottom: 4rem;
    }

    .result-data dt {
        font-weight: 600;
    }

    #offender-locator .result-data dd.h2-style:not(.name) {
        font-size: 1.8rem;
        font-weight: 400;
        font-family: source-sans, arial, sans-serif;
    }
    /*FOIA Mobile*/
    #foia main {
        padding-bottom: 0;
    }
    #foia #vadoc-responsibilities ol {
        margin-left: 0;
    }
    /*Operating Procedures Mobile*/
    #procedure-categories li.drawer {
        padding: 4rem 2rem;
        width: calc(100% - 4.2rem);
    }

    #procedure-categories .drawer-icon {
        float: right;
        margin: 0;
    }

    #procedure-categories .procedure-tag {
        background-image: url(../images/home/flag-triangle-white.svg);
        float: left;
        margin-bottom: 2rem;
        margin-left: 0;
    }

    #procedure-categories .closed-drawer:hover .procedure-tag {
        background-image: url(../images/home/flag-triangle-gray.svg);
    }

    #procedure-categories .procedure-header {
        background-color: transparent;
        clear: both;
        display: block;
        margin: 0 0 4rem 0;
        padding: 0;
        width: auto; /*For IE and Edge*/
        width: initial;
    }

    #procedure-categories li.drawer .procedure-list {
        width: auto; /*For IE and Edge*/
        width: initial;
    }

        #procedure-categories li.drawer .procedure-list li .procedure-attachment-list li {
            padding-left: 7rem;
        }
}
