/*------------------------*/
/* Victim Services*/
/*------------------------*/
.victim-services header #hero-banner {
    background-image: url(../images/victim-services/header/victim-services-header.jpg);
    background-position: center;
    background-size: cover;
}

.victim-services main .col-14,
.victim-services main .col-13 {
    margin-left: 0;
}

.alert-callout .alert-bordered-box {
    border: 1px solid #cfcece;
    padding: 4rem;
}

.alert-callout .alert-text {
    margin-bottom: 0;
}

.alert-callout img.alert-icon {
    border: none;
    height: 5rem;
    margin-right: 1.5rem;
    width: 5rem;
}

nav#in-page-anchors {
    margin-bottom: 6rem;
}

    nav#in-page-anchors p {
        margin-bottom: 0;
    }

    nav#in-page-anchors li a {
        line-height: 1.5em;
    }

        nav#in-page-anchors li a:hover {
            text-decoration: none;
            color: #3a7ebc;
        }
/*Overview*/
#victim-services-overview #vs-overview-intro .description {
    margin-bottom: 1rem;
}

    #victim-services-overview #vs-overview-intro .description p:nth-last-of-type(1) {
        margin-bottom: 0;
    }

#victim-services-overview #register-for-notifications .primary-button {
    clear: both;
    float: right;
    margin-bottom: 0;
}

#victim-services-overview #register-for-notifications .description {
    margin-bottom: 4rem;
}

    #victim-services-overview #register-for-notifications .description p {
        margin-bottom: 0;
    }


#victim-services-overview #victims-list {
    margin-bottom: 6rem;
}
#victim-services-overview #services p:nth-last-of-type(1) {
    margin-bottom: 0;
}
/* Notifications Page */
#victim-services-notifications .content-callout {
    background-color: #eef2f4;
    margin-bottom: 4rem;
    padding: 4rem 4rem 4rem 2rem;
    width: 46rem;
}
    #victim-services-notifications .content-callout .icon-callout-item {
        margin-bottom: 0;
    }

    #victim-services-notifications #complete-form .icon-callout-item {
        margin-right: 4rem;
        width: 16rem;
        vertical-align: bottom;
    }

#victim-services-notifications #complete-form .primary-button {
    margin-bottom: 0.5rem;
    margin-left: -4px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 17.8rem;
}

    ul#notification-signup-steps li:nth-of-type(2) {
        margin-bottom: 2rem;
    }

        ul#notification-signup-steps li:nth-of-type(2) .li-info p.body-bold {
            margin-bottom: 0;
        }

        ul#notification-signup-steps li:nth-of-type(2) .li-info p {
            margin-bottom: 0;
        }

        ul#notification-signup-steps li:nth-of-type(2) .li-info .attn {
            font-style: italic;
        }

        ul#notification-signup-steps li:nth-of-type(2) .li-info p.or {
            margin: 2rem 0;
        }

#discontinue-notifications {
    background-color: #003768;
    margin-bottom: 4rem;
    padding: 4rem 4rem 4rem 2rem;
    width: 46rem
}

    #discontinue-notifications img {
        border: none;
        margin-right: 2rem;
        vertical-align: top;
        width: 6rem;
    }

    #discontinue-notifications .discontinue-info {
        margin-left: -4px;
        margin-top: 1.9rem;
        width: 38rem;
    }

        #discontinue-notifications .discontinue-info p.body-bold,
        #discontinue-notifications .discontinue-info p.addr {
            margin-bottom: 0;
        }

#victim-services-notifications #what-to-expect {
    padding-bottom: 6rem;
    padding-top: 4rem;
}

#victim-services-notifications #notification-types .unstyled-list {
    margin-bottom: 0;
}

#victim-services-notifications #other-notifications ul.icon-bullet-list {
    margin-bottom: 0;
}

#victim-services-notifications #other-notifications .li-info a {
    text-decoration: underline;
}

    #victim-services-notifications #other-notifications .li-info a:hover {
        text-decoration: none;
        color: #3a7ebc;
    }

/* Community Resources */

#state-policies li a:hover,
ul#additional-resource-list li a:hover {
    text-decoration: none;
}

#state-policies {
    margin-bottom: 6rem;
}

    #state-policies li {
        margin-bottom: 4rem;
    }

        #state-policies li:nth-last-of-type(1) {
            margin-bottom: 0;
        }

        #state-policies li p {
            margin-bottom: 0;
        }

ul#additional-resource-list {
    margin-bottom: 6rem;
}

    ul#additional-resource-list li h3,
    ul#additional-resource-list li a {
        display: inline;
        margin-bottom: 0;
    }

#victims-advocate-contact {
    margin-bottom: 0;
}

ul#regional-victim-advocates {
    margin-top: 4rem;
}

    ul#regional-victim-advocates li {
        display: inline-block;
        margin-bottom: 3rem;
        width: 24rem;
    }

        ul#regional-victim-advocates li:nth-of-type(even) {
            margin-left: 7.6rem;
        }

        ul#regional-victim-advocates li:nth-last-of-type(1) {
            margin-bottom: 0;
        }

        ul#regional-victim-advocates li img {
            border: none;
            height: auto;
            margin-bottom: 4rem;
            width: 16rem;
        }

        ul#regional-victim-advocates li h3 {
            line-height: 1.5em;
        }

        ul#regional-victim-advocates li dd {
            color: #464545;
            font-family: source-sans, arial, sans-serif;
            font-size: 1.8em;
            letter-spacing: 0.1px;
            line-height: 1.5em;
        }

            ul#regional-victim-advocates li dd span.title {
                font-style: italic;
            }

            ul#regional-victim-advocates li dd a {
                font-size: 1em;
            }
/* Victim-Centered Programs */
#offender-dialogue-disclaimer {
    border-bottom: 1px solid #cfcece;
    border-top: 1px solid #cfcece;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#offender-dialogue-process {
    margin-bottom: 0;
}

#offender-dialogue-process .li-info h3,
#offender-dialogue-process .li-info p {
    display: inline;
}

#victim-centered-programs .video-wrapper {
    margin-bottom: 4rem;
}
/* Victim Restitution */
#restitution-callout {
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    margin-bottom: 6rem;
    margin-left: 0;
}

p.list-follows {
    margin-bottom: 0;
}

#receiving-restitution p:nth-last-of-type(1) {
    margin-bottom: 0;
}

#not-receiving-restitution p:nth-last-of-type(1) {
    margin-bottom: 0;
}
/* Victim Compensation */
#victim-compensation .intro {
    margin-bottom: 6rem;
}

    #victim-compensation .intro p:nth-last-of-type(1) {
        margin-bottom: 0;
    }

#va-victims-fund {
    margin-bottom: 0;
}
ul#qualifying-claims {
    border-bottom: 1px solid #cfcece;
    margin-bottom: 4rem;
    padding-bottom: 6rem;
}

#va-victims-fund #special-circumstances {
    border-bottom: 1px solid #cfcece;
    margin-bottom: 4rem;
    margin-top: 1rem;
    padding-bottom: 6rem;
}

#va-victims-fund p:nth-last-of-type(1) {
    margin-bottom: 0;
}
/* Safety Planning */

/*------------------------*/
/* Media Queries */
/*------------------------*/
@media screen and (max-width: 800px) {

    /* Victim Services Overview Mobile */
    #victim-services-overview .description:nth-of-type(1),
    #victims-list {
        margin-bottom: 4rem;
    }

    #victim-services-overview #in-page-contact {
        float: none;
    }

    /* Community Resources Mobile */
    #community-resources main {
        padding-bottom: 0;
    }
    #state-policies {
        background-color: #eef2f4;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

        #state-policies .col-12 {
            padding: 4rem 0;
        }

    ul#additional-resource-list {
        margin-bottom: 4rem;
    }

    #victims-advocate-contact {
        padding-bottom: 6rem;
        margin-bottom: 0;
    }

    ul#regional-victim-advocates li {
        background-color: #fff;
        border: 1px solid #cfcece;
        display: block;
        margin-bottom: 2rem;
        width: calc(100% - 4rem);
        padding: 2rem 2rem 4rem 2rem;
    }

        ul#regional-victim-advocates li:nth-of-type(odd),
        ul#regional-victim-advocates li:nth-of-type(even) {
            margin-left: 0;
            margin-right: 0;
        }

        ul#regional-victim-advocates li img {
            margin-bottom: 2rem;
            width: 100%;
        }
    /* Notifications Mobile */
    #discontinue-notifications {
        width: initial; 
        width: auto;
    }
        #discontinue-notifications img {
            display: none;
        }

    #victim-services-notifications .content-callout {
        width: initial;
        width: auto;
    }

    #discontinue-notifications .icon-callout-item {
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
    }

        #notification-types .col-13 {
            padding-right: 0;
        }

        #notification-types .li-info {
            margin-left: 0;
            width: 100%;
        }

        #notification-types .li-icon {
            display: none;
        }

    p#notification-register-help {
        margin-bottom: 4rem;
    }

        #victim-services-notifications #other-notifications .li-info a {
            display: block;
        }

        #victim-services-notifications #other-notifications .li-info .dash {
            display: none;
        }
    /* Victim Restitution Mobile */
    #restitution-callout {
        width: auto;
        width: initial;
    }
    /* Victim Compensation Mobile */
    #victim-compensation main {
        padding-bottom: 0;
    }

    #va-victims-fund {
        padding-bottom: 6rem;
    }
        #va-victims-fund ul.icon-list > li {
            background-color: #fff;
            border: 1px solid #cfcece;
            padding: 2rem 2rem 4rem 2rem;
            text-align: center;
        }

            #va-victims-fund ul.icon-list ul.unstyled-list {
                list-style: inside;
            }

            #va-victims-fund ul.icon-list .li-info {
                width: 100%;
            }

        #va-victims-fund ul.icon-list .li-icon {
            height: 6rem;
            margin-bottom: 1rem;
            margin-right: 0;
            margin-top: 0;
            width: 6rem;
        }

        #va-victims-fund #special-circumstances {
            border-bottom: none;
            margin-bottom: 0;
        }

        #va-victims-fund p:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    /* Victim-Centered Programs Mobile*/
    #offender-dialogue-video video {
        width: 100%;
    }
    /* Safety Planning Mobile */
    #safety-planning main {
        padding-bottom: 6rem;
    }
}
