/*---------------------------*/
/* Fonts */
/*---------------------------*/
@font-face {
  font-family: lato;
  src: url('../fonts/lato-regular.eot');
  src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-regular.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff'),
    url('../fonts/lato-regular.ttf') format('truetype'),
    url('../fonts/lato-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: lato-light;
  src: url('../fonts/lato-light.eot');
  src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-light.woff2') format('woff2'),
    url('../fonts/lato-light-webfont.woff') format('woff'),
    url('../fonts/lato-light.ttf') format('truetype'),
    url('../fonts/lato-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: source-sans;
  src: url('../fonts/sourcesanspro-regular.eot');
  src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
    url('../fonts/sourcesanspro-regular.woff') format('woff'),
    url('../fonts/sourcesanspro-regular.ttf') format('truetype'),
    url('../fonts/sourcesanspro-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*---------------------------*/
/* Global Styles */
/*---------------------------*/
html{
  color: #464545;
  font-family: source-sans, arial, sans-serif;
  font-size: 62.5%;
}
body {
  min-width: 124rem;
}
h2,
h3,
h4 {
  color: #464545;
  line-height: 1;
}
h1 {
  color: #fff;
  font-family: lato-light, arial, sans-serif;
  font-size: 7em;
  line-height: 1;
}
h2 {
  font-family: lato-light, arial, sans-serif;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 1rem;
}
h3 {
  font-family: lato-light, arial, sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 2rem;
}
h3.body-bold {
  font-family: source-sans, arial, sans-serif;
  text-transform: none;
  line-height: 1.5em;
}
h4 {
  font-family: lato, arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  color: #464545;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.1px;
  line-height: 1.5em;
  margin-bottom: 1.6666666666666667em;
}
blockquote {
  border-bottom: 1px dotted #a8a8a9;
  border-top: 1px dotted #a8a8a9;
  color: #464545;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1.5em;
  margin: 0.5555555555555556em 0 2.2222222222222223em 0;/*10px 0 40px 0*/
  padding: 1.1111111111111112em 0;/*20px*/
  width: 20em; /*360px*/
}
cite {
  color: #464545;
  display: block;
  font-family: source-sans, arial, sans-serif;
  font-style: italic;
  letter-spacing: 0.1px;
  line-height: 1.5em;/*27px*/
  margin-top: 2rem;/*20px*/
}
p + p {
  margin-top: -1rem;
}
p.body-bold + p {
  margin-top: 0;
}
h2 + p {
  margin-top: -0.125em;
}
dd p {
  margin: 0;
}
img {
  border: 1px solid #c2c2c2;
}
dt {
  color: #464545;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.1px;
  line-height: 1.4em;
}
/* list styles */
ol, ul {
  list-style: none;
}
ul.unstyled-list {
  list-style: disc;
}
ol.unstyled-list {
  list-style-type: decimal;
}
.unstyled-list li,
li.ui-menu-item {
  color: #464545;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.1px;
  line-height: 1.5em;
  margin-left: 1em;
  vertical-align: middle;
}
.unstyled-list li a {
  font-size: 1em;
}
.unstyled-list li .unstyled-list li {
  margin-left: 4rem;
  font-size: 1em;
}
/* Link Styles */
a {
  color: #3a7ebc;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  text-decoration: underline;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
a:hover,
a:visited:hover {
  color: #98002e;
  text-decoration: none;
}
a:visited {
  color: #003768;
}
p > a {
  font-size: 1em;
}
.unstyled-link {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.unstyled-link:hover,
.unstyled-link:visited:hover {
  color: inherit;
  text-decoration: underline;
}
.unstyled-link:visited {
  color: inherit;
}
.form-error {
  clear: both;
  display: block;
  margin-top: 0.4rem;
}
.form-error p {
  color: #98002e;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;  
}
.image-link {
  background-color: black;
}
.image-link img {
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
}
.image-link:hover img {
  opacity: 0.88;
}
.image-link:hover figcaption.callout {
  background-color: rgba(233, 102, 29, 0.88)
}
figure.image-link {
  line-height: 0;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.image-link a {
  font-size: 1em;
  text-decoration: none;
}
a.read-more {
  display: inline-block;
}
.hyperlink-heading a {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.2em;
  text-decoration: none;
}
.hyperlink-heading a:hover {
  color: inherit;
  text-decoration: underline;
}
/* Form Styles */
label,
button {
  display: block;
}
button {
  line-height: 1;
}
label {
  color: #464545;
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 2rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
.DayPickerInput input {
  border: 1px solid #a8a8a9;
  border-radius: 2px;
  color: #737373;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  height: 3.6rem; 
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% - 22px);
}
input.input-err,
select.input-err,
textarea.input-err,
label.input-err input {
  border-color: #98002e;
  /*box-shadow: inset 0 1px 1px rgba(152,0,46,.075);*/
  box-shadow: inset 0 1px 1px rgba(152,0,46,.075), 0 0 8px rgba(152,0,46,0.6);
  outline: 0;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label input[type="text"],
label input[type="email"],
label input[type="tel"],
label input[type="number"],
label input[type="date"],
label input[type="search"],
label select,
label .DayPickerInput input {
  background-color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0;
}
label span.label {
  display: block;
  margin-bottom: 1rem;
}
label.wrapping-label {
  margin-bottom: 2rem;
}
label.checkbox {
  cursor: pointer;
  padding-left: 4rem;
  position: relative;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label.checkbox input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
label.checkbox .box-checkmark {
  background-color: #fff;
  border: 1px solid #a8a8a9;
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}
label.checkbox input:checked ~ .box-checkmark {
  background-image: url(/images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #3a7ebc;
  box-shadow: 0 0 2px #3a7ebc;
}
select {
  appearance:none;
    -moz-appearance:none; /* Firefox hide default dropdown menu arrow*/
    -webkit-appearance:none; /* Safari and Chrome hide default dropdown menu arrow*/
  background-image: url(../images/icons/drop-arrows-down.svg);
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  background-size: 10px;
  border: 1px solid #a8a8a9;
  border-radius: 2px;
  color: #737373;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.7em;
  height: 4rem;
  margin-bottom: 1.17647em; /*20px*/
  padding-bottom: 1px;
  padding-left: 0.5882352941176471em;
  padding-right: 0.5882352941176471em;
  padding-top: 1px;
  width: 100%;
}
select::-ms-expand {
  display: none; /*Hide default dropdown arrow for i.e. 10-11*/
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  appearance:none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
  display: block;
  position: relative;
}
input[type=number]:hover::-webkit-inner-spin-button {
  background-image: url(../images/global/icons/drop-arrows-both.svg);
  background-position: right center;
  background-repeat: no-repeat;
  height: 22px;
  width: 16px;
}
textarea {
  border: 1px solid #a8a8a9;
  border-radius: 2px;
  color: #737373;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  overflow: auto; /*Hide default scrollbar in IE when unnecessary*/
  padding-left: 1rem;
  padding-right: 1rem;
}
.disabled {
  opacity: 0.25;
}
/*---------------------------*/
/* Font Class Stylings */
/*---------------------------*/
.body-bold {
  color: #464545;
  font-weight: 600;
}
.date-stamp,
.callout {
  color: #a3a3a3;
  font-family: lato, arial, sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.071428em; /*15px*/
  margin-top: 0.571428em; /*8px*/
  text-transform: uppercase;
}
h2.over-image {
  margin-bottom: 1em;
}
.multiline-heading {
  line-height: 1.1em;
}
.text-only {
  color: #464545;
  font-family: source-sans;
  font-size: 1.7em;
  letter-spacing: 0.1px;
  line-height: 1.4em;
}
.description {
  margin-bottom: 2rem;
}
a.multiline-link {
  line-height: 1.2em;
}
.h2-style {
  color: #464545;
  font-family: lato-light, arial, sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1;
  text-transform: none;
}
.h1-style {
  color: #464545;
  font-family: lato-light, arial, sans-serif;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0.5em;
  text-transform: none;
}
/*---------------------------*/
/* Button Class Stylings */
/*---------------------------*/
.primary-button,
.secondary-button,
.punchout-button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-family: lato, arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 3.75em; /*60px*/
  padding: 0.6875em 2.3em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background 0.2s, color 0.2s, border 0.2s; /* Safari */
          transition: background 0.2s, color 0.2s, border 0.2s;
}
.primary-button {
  background-color: #003768;
  border: 1px solid #003768;
  color: #fff;
  display: inline-block;
}
.primary-button:hover {
  background: transparent;
  color: #003768;
}
.secondary-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
}
.secondary-button:hover {
  background-color: #00274a;
  border-color: #fff;
}
.punchout-button {
  background-color: transparent;
  border: 1px solid #003768;
  color: #003768;
  display: inline-block;
}
.punchout-button:hover {
  background-color: #00274a;
  border-color: #00274a;
  color: #fff;
}
a.primary-button:visited,
a.secondary-button:visited {
  color: #fff;
}
a.primary-button:visited:hover {
  color: #003768;
}
.link-style {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  color: #3a7ebc;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
.link-style:hover {
  text-decoration: none;
}
.button-group ul {
  display: inline-block;
  margin-bottom: 2em;
  padding: 0;
}
.button-group li {
  display: inline-block;
  margin: 0 0 0 -4px;
  text-align: center;
  width: 12em;
}
.button-group li:nth-of-type(1) {
  margin-left: 0;
}
.button-group li button {
  background-color: #fff;
  border: 1px solid #a8a8a9;
  color: #464545;
  cursor: pointer;
  display: inline-block;
  font-size: 1.7em;
  height: 100%;
  padding: 0.647058em 0; /*11px*/
  text-decoration: none;
  width: 100%;
}
.button-group li button.active {
  background-color: #eef2f4;
}
.button-group-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 6.896552%;
}
a#in-page-contact {
  display: none;
  background-image: url(./images/global/icons/contact.svg);
  background-repeat: no-repeat;
  background-position: 13rem 50%;
  background-size: 3rem;
  margin-bottom: 3rem; 
  padding-left: 2rem;
  padding-right: 6rem;
  text-align: left; 
}
/*---------------------------*/
/* Icon Stylings */
/*---------------------------*/
.card-icon,
.static-card-icon {
  border: none;
  width: 8em;
  height: 8em;
}
img.inline-pin {
  border: none;
  height: 0.75em;
  margin-right: 0.5em;
}
img.info-bubble {
  border: none;
  height: 1rem;
  margin-left: 3px;
  vertical-align: top;
  width: 1rem;
}
/*---------------------------*/
/* Grid/Container Classes */
/*---------------------------*/
.relative-container {
  position: relative;
}
.fade-appear,
.fade-enter {
  opacity: 0;
}
.fade-appear-active,
.fade-enter-active {
  transition: opacity .8s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .01s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}
.accessibility-hidden {
  font-size: 0;
  left: -9999px;
  position: absolute;
}
.info-block {
  margin-bottom: 4em;
}
.dark-background p,
.dark-background h2,
.dark-background label,
.dark-background a,
.dark-background span,
.dark-background h3,
.dark-background {
  color: #fff;
}
.clear-fix:after {
  clear: both;
  content: '';
  display: table;
}
/*---------------------------*/
/* Header */
/*---------------------------*/
header #hero-banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 33.5rem;
}
#hero-banner #home-hero {
  padding-bottom: 7.5rem;
  padding-top: 10rem;
}
#hero-banner #general-hero-wrapper {
  margin-top: 6.45rem;
}
#hero-banner #home-hero h1 {
  color: #fff;
  font-size: 8.75em;
  font-weight: 600;
  margin-left: 0;
  text-transform: uppercase;
}
.mobile-hero {
  display: none;
}
#hero-offender-locator {
  display: inline-block;
  margin-left: 0;
}
#hero-offender-locator h2 {
  color: #fff;
}
#hero-offender-locator form {
  display: inline-block;
  position: relative;
}
#hero-offender-locator form#offender-by-name fieldset,
#hero-offender-locator form#offender-by-id fieldset {
  display: inline-block;
}
#hero-offender-locator form#offender-by-name input,
#hero-offender-locator form#offender-by-id input {
  border-radius: 6px;
  display: inline-block;
  height: 5.6rem;
  margin: 0;
}
#hero-offender-locator form#offender-by-name button[type=submit],
#hero-offender-locator form#offender-by-id button[type=submit] {
  bottom: 1rem;
  float: none;
  margin: 0;
  position: absolute;
  right: 1rem;
}
#hero-offender-locator form#offender-by-name input#first-name {
  width: 23.5rem; /*235px*/
}
#hero-offender-locator form#offender-by-name input#last-name {
  width: 27.8rem; /*278px*/
}
#hero-offender-locator form#offender-by-id input#offender-id {
  margin-left: -4px;
  width: 33.8rem; /*338px*/
}
#hero-offender-locator .or-divider {
  padding-left: 4em;
  width: 4em;
  margin-left: -4px;
  vertical-align: baseline;
}
#hero-offender-locator .or-divider .vertical-line {
  left: 0;
  height: 1.6em;
  border-left: 1px solid #fff;
}
#hero-offender-locator .or-divider p {
  color: #fff;
  display: inline-block;
  left: -0.5em;
  margin-bottom: 0;
  position: relative;
}
#hero-offender-locator a#advanced-search {
  color: #fff;
  display: block;
  float: right;
  margin-top: 2rem; /*20px*/
}
#hero-offender-locator a#advanced-search:hover {
  text-decoration: none;
}
header img {
  border: none;
}
figure#doc-logo {
  float: left;
  margin-left: 0;
}
figure#doc-logo img {
  border: none;
  width: 100%;
}
/*---------------------------*/
/* Breadcrumbs */
/*---------------------------*/
.breadcrumbs {
  margin-top: 2em;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 0.75em;
}
.breadcrumbs span {
  margin-left: 0.75em;
}
.breadcrumbs span:after {
  content: '>';
}
.breadcrumbs li:nth-last-child(1) span:after {
  content: '';
}
.breadcrumbs a {
  color: #a3a3a3;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.6em;
  line-height: 1;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #a3a3a3;
}
a.section-breadcrumb {
  color: #fff;
  text-decoration: none;
}
a.section-breadcrumb:hover {
  color: #fff;
}
/*---------------------------*/
/* Footer */
/*---------------------------*/
footer {
  background-color: #34475a;
  padding: 8em 0;
}
.vcard p {
  margin-bottom: 0;
}
.vcard .tel {
  margin: 2em 0;
}
#vcard .adr {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.7em;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
footer a:visited {
  color: #fff;
}
footer h2 {
  font-size:  2.2rem;
  margin-bottom: 2rem;
}
footer #vcard,
#footer-social,
#footer-policies,
#footer-additional {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}
footer .link-list li {
  margin-bottom: 3em;
}
footer .link-list li a:hover {
  color: inherit;
}
#footer-social {
  margin-left: 0;
}
#footer-social li {
  display: inline-block;
  width: 4em;
  margin-right: 5px;
}
#footer-social img {
  border: none;
  height: 4rem;
  width: 4rem;
}
#footer-additional figure {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 4rem;
}
#footer-additional img {
  border: 0;
}
#footer-additional a {
  text-decoration: none;
}
#footer-additional a span {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  width: 60%;
}
#footer-additional a span:hover {
  text-decoration: none;
}
#back-to-top {
  bottom: 8rem;
  cursor: pointer;
  position: fixed;
  right: 4rem;
}
.fill-white {
  fill: #fff;
  transition: fill 0.3s;
}
.stroke-white {
  stroke: #fff;
  transition: stroke 0.2s;
}
/*---------------------------*/
/* Modal Displays */
/*---------------------------*/
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.modal-window {
  display: none;
  height: 100vh;
  margin-top: 10em;
  left: 0;
  position: absolute;
  top: -1300px;
  width: 100%;
  z-index: 110;
}
.modal-window .content-wrapper {
  position: relative;
}
.close-modal {
  background-color: transparent;
  background-image: url(/images/icons/close-x.svg);
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 4rem;
}
.modal-ctrls {
  position: fixed;
  left: 0;
  top: 22em;
  width: 100%;
}
.modal-ctrl-prev,
.modal-ctrl-next {
  border: none;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  z-index: 120;
}
.modal-ctrl-prev img,
.modal-ctrl-next img {
  border: none;
  width: 6em;
  height: 6em;
}
.modal-ctrl-prev {
  left: -2.5em;
}
.modal-ctrl-next {
  right: -2.5em;
}
.modal-window nav {
  padding-bottom: 6em;
}
nav ul.modal-nav {
  width: 100%;
}
nav ul.modal-nav li p.h1-style {
  display: none;
  text-align: center;
}
nav ul.modal-nav li:nth-of-type(1) {
  margin-left: -1rem;
}
nav ul.modal-nav li:nth-of-type(1) a:before {
  margin: 0;
}
nav ul.modal-nav li:nth-last-of-type(1) a:after {
  border: 0;
}
nav ul.modal-nav li {
  display: inline-block;
  margin-left: -4px;
}
nav ul.modal-nav li:nth-last-of-type(1) {
  margin-right: -40px;
}
nav ul.modal-nav li a:focus {
  outline: none;
}
nav ul.modal-nav li a:before,
nav ul.modal-nav li a:after {
  border-bottom: 2px solid #A3A2A2;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4.3em;
}
nav ul.modal-nav li a:after {
  margin-left: -4px;
}
nav ul.modal-nav li a:before {
  margin-right: -4px;
}
nav ul.modal-nav li.active a:before,
nav ul.modal-nav li.active a:after {
  width: 2.25em;
}
nav ul.modal-nav li.active p.h1-style {
  display: block;
  color: #1A3967;
}
nav ul.modal-nav li:nth-of-type(1) a:before {
  border-bottom: none;
}
nav ul.modal-nav li.active img {
  width: 10em;
}
nav ul.modal-nav a img {
  display: inline-block;
  border: none;
  vertical-align: middle;
  width: 6em;
}
nav ul.modal-nav a {
  color: #A3A2A2;
  display: inline-block;
  font-size: 1em;
  height: 13.4em;
  position: relative;
  text-decoration: none;
}
nav ul.modal-nav li.active a {
  color: #1A3967;
  height: 15.4em;
}
nav ul.modal-nav a span {
  bottom: 0;
  display: block;
  font-family: lato, arial, sans-serif;
  font-size: 1.7em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}
.modal-content {
  background-color: #fff;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  opacity: 1;
  padding: 4em 6.896552% 6em 6.896552%;
  position: relative;
  width: 72.413793%;
}
li.slide {
  display: none;
}
ul.modal-slides li.slide figure {
  margin: 4em auto;
  width: 100%;
}
ul.modal-slides li.slide img {
  width: 100%;
}
/*------------------------*/
/* Drop-down Drawers*/
/*------------------------*/
.drawer {
  border: 1px solid #a3a3a3;
  margin-bottom: 2rem;
  padding: 2rem 4rem;
  width: 107.8rem;
}
.closed-drawer:hover {
  background-color: #eef2f4;
  cursor: pointer;
}
.drawer-icon {
  background-image: url(./images/global/icons/plus.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  height: 3em;
  margin-right: 0.5em;
  width: 3em;
  vertical-align: middle;
}
.drawer h3 {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.drawer ul {
  margin-top: 4rem;
}
.drawer ul li {
  margin-bottom: 6rem;
}
.drawer ul li h4 {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.7em;
  text-transform: none;
}
.drawer ul li article .article-text {
  padding-left: 4rem;
  width: 84rem;
}
.drawer ul li article figure {
  display: inline-block;
  float: left;
  height: 8rem;
  overflow: hidden;
  width: 12rem;
}
.drawer ul li article figure img {
  width: 100%;
}
.drawer ul li h4 a {
  font-size: 1em;
}
/*------------------------*/
/* Dual Range Slider*/
/*------------------------*/
.rc-slider {
  display: none;
}
.range-title {
  display: none;
  margin-bottom: 2rem;
}
.range-display {
  display: none;
  line-height: 1;
  margin-bottom: 4rem;
  margin-top: 3rem;
  text-align: center;
}
.range-display .range-low,
.range-display .range-high {
  line-height: 1;
}
/*------------------------*/
/* Image Slider*/
/*------------------------*/
.image-slider {
  border-bottom: 1px dotted #a8a8a9;
  border-top: 1px dotted #a8a8a9;
  margin-bottom: 6em;
  margin-top: 1em;
  padding: 2em 0;
  position: relative;
}
.image-slider figure {
  display: none;
  margin-bottom: 0;
  width: 100%;
}
.image-slider .default-slide {
  display: block;
}
.image-slider figure img {
  height: auto;
  width: inherit;
}
.image-slider figcaption p {
  font-style: italic;
  margin-bottom: 0;
}
.image-slider figcaption span.date-stamp {
  line-height: 1.5em;
}
.slider-ctrl {
  position: absolute;
}
.slider-ctrl img {
  border: none;
}
.image-slider-ctrls .next {
  right: 1.5em;
}
.image-slider-ctrls .previous {
  left: 1.5em;
  transform: rotate(180deg);
}
.image-slider-ctrls:after {
  display: none;
  content: url('./images/image-slider/block-expand-50.svg') url('./images/image-slider/image-nav-50.svg');
}
.image-slider-ctrls .next img,
.image-slider-ctrls .previous img {
  height: 3.5294117647058822em; /*60px*/
  width: 3.5294117647058822em; /*60px*/
}
.image-slider-ctrls .expand {
  right: 0;
}
.image-slider-ctrls nav.slider-bubble-nav {
  position: absolute;
}
nav.slider-bubble-nav ul {
  margin-after: 0;
}
nav.slider-bubble-nav li {
  display: inline-block;
}
.slider-bubble-link {
  background-color: #a3a3a3;
  border-radius: 50%;
  display: block;
  height: 0.5882352941176471em; /*10px*/
  margin-right: 0.5882352941176471em; /*10px*/
  width: 0.5882352941176471em; /*10px*/
}
.slider-bubble-nav li:nth-last-of-type(1) a.slider-bubble-link {
  margin-right: 0;
}
.active-bubble-link {
  background-color: #464545;
}
.modal-window nav.slider-bubble-nav {
  padding: 0;
}
#rich-news .modal-window {
  max-height: 90vh;
  position: fixed;
  margin-top: 0;
}
#rich-news .modal-content {
  padding: 4em 3.448276% 2em;
  top: 5vh;
  width: 79.310345%;
}
#rich-news .modal-content figure {
  max-height: calc(90vh - 9.2em);
  overflow: hidden;
}
#rich-news .modal-content figcaption {
  display: none;
}
.modal-content .slider-bubble-nav ul {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}
/*global icon list styling*/
ul.icon-list .li-info,
ul.icon-list img.li-icon,
ul.icon-bullet-list .li-info,
ul.icon-bullet-list img.li-icon {
  display: inline-block;
}
ul.icon-list .li-info,
ul.icon-list img.li-icon {
  vertical-align: top;
}
ul.icon-list li,
ul.icon-bullet-list li {
  margin-bottom: 4em;
}
ul.icon-list li p:nth-last-of-type(1),
ul.icon-bullet-list li p:nth-last-of-type(1) {
  margin-bottom: 0;
}
ul.icon-list .li-info,
ul.icon-bullet-list .li-info {
  margin-left: -3px;
}
ul.icon-list img.li-icon,
ul.icon-bullet-list img.li-icon {
  border: none;
  margin-right: 2em;
}
ul.icon-list ol,
ul.icon-bullet-list ol {
  margin-left: 1.8em;
  list-style: decimal;
}
/*------------------------*/
/* Sidebars */
/*------------------------*/
/* Sidebar Nav */
.sidebar-nav {
  margin-left: 0;
  position: absolute;
  top: 6.4rem;
}
.sidebar-nav li {
  background-color: #eef2f4;
  border-bottom: 1px solid #cfcece;
}
.sidebar-nav li:nth-last-of-type(1) {
  border-bottom: none;
}
.sidebar-nav li.active {
  background-color: #003768;
}
.sidebar-nav li.active a {
  color: #fff;
}
.sidebar-nav a {
  color: inherit;
  display: block;
  height: 10rem;
  position: relative;
  text-decoration: none;
}
.sidebar-nav a:hover,
.sidebar-nav a:visited {
  color: inherit;
}
.sidebar-nav a span {
  padding: 0 2.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-nav li.active a:after {
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #003768;
  border-top: 15px solid transparent;
}
/* Right Sidebar */
aside.right-sidebar {
  position: absolute;
  right: calc((100% - 116rem) / 2);
  top: -7.556rem;
}
aside #hcard-main-contact {
  background-color: #003768;
  padding: 7.6rem 4rem 6rem;
  margin-bottom: 4rem;
}
aside #hcard-main-contact p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
}
aside #hcard-main-contact p.body-bold,
aside #hcard-main-contact p.body-bold + p {
  line-height: 1;
}
aside #hcard-main-contact a {
  line-height: 1;
}
aside #hcard-main-contact p + p {
    margin-top: 0;
}
aside #hcard-main-contact p.body-bold {
  margin-bottom: 1rem;
}
aside #hcard-main-contact .fn {
  font-style: italic;
}
aside .alert-callout {
  border-top: 2rem solid #ff5c00;
}
/*------------------------*/
/* Procedure Tags */
/*------------------------*/
.procedure-tag {
  background-color: #e9661d;
  border: none;
  background-image: url(./images/home/flag-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  display: inline-block;
  font-family: lato, arial, sans-serif;
  font-size: 1.8em;
  margin-right: 3rem;
  margin-top: 0.3rem;
  padding-left: 1.5rem;
  position: relative;
  text-decoration: none;
  width: 7rem;
  vertical-align: top;
  line-height: 2.3em;
  transition: background-color 0.2s;
}
a.procedure-tag {
  color: #fff;
}
a.procedure-tag:hover {
  background-color: #d83402;
  color: #fff;
}
/*---------------------------------*/
/* Families and Friends Global */
/*--------------------------------*/
.families-and-friends header #hero-banner {
  background-image: url(/images/header/conference-room.jpg);
  background-position:  center;
  background-size: cover;
}
.families-and-friends #hcard-main-contact h3.h2-style {
  margin-bottom: 2rem;
} 
/*------------------------*/
/* Visitation Form */
/*------------------------*/
.visitation-form-section header #hero-banner {
    background-image: url(/images/family-and-friends/header/families-and-friends-header.jpg);
    background-position: center;
    background-size: cover;
}
.visitation-form-section h2 {
  margin-bottom: 2rem;
}
#hcard-main-contact h3.h1-style {
  color: #fff;
  font-family: lato-light, arial, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.col-19,
.col-15 {
  margin-left: 0; 
}
p.visitation-step {
  color: #3a7ebc;
  font-family: lato-light, arial, sans-serif;
  font-size: 2.6em;
  line-height: 1;
  margin-bottom: 1rem;
}
p.visitation-step + p {
  margin-top: 0;
}
#form-progress-bar-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 116em;
}
#form-progress-bar-wrapper + main {
  padding-top: 2rem;
}
#form-progress {
  background-color: #eef2f4;
  padding: 2rem 2rem;
  width: 72rem;
}
#form-progress figcaption {
  bottom: -1.1em;
  font-family: lato, arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  left: 0;
  position: absolute;
  text-transform: uppercase;
}
#form-progress #progress-bar {
  background-color: #dddee0;
  border-radius: 5px;
  height: 1em;
  position: relative;
  width: 100%;
}
#form-progress #progress-bar #progress-meter {
  background-color: #5aeed0;
  border-radius: 5px 0 0 5px;
  display: inline-block;
  height: 1em;
  position: relative;
}
#form-progress #progress-badge {
  background-color: #fff;
  border: 3px solid #5aeed0;
  border-radius: 50%;
  color: #5aeed0;
  display: inline-block;
  height: 5.4em;
  margin-left: -0.5rem;
  margin-top: -2.5rem;
  position: absolute;
  width: 5.4em;
}
#form-progress #progress-badge #badge-text {
  font-family: lato, arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}
#form-progress #progress-badge #number {
  font-size: 2.5rem;
  line-height: 0.8;
}
#form-progress #progress-badge #symbol {
  font-size: 1rem;
  vertical-align: top;
}
#form-progress #progress-badge #done {
  display: block;
  margin-left: 1.1rem;
  text-align: left;
}
.tooltip-container {
  position: relative;
}
.tooltip-info {
  background-color: #eef2f4;
  bottom: 2rem;
  left: 0.8rem;
  padding: 4rem 4rem 6rem 4rem;
  position: absolute;
  width: 36rem;
  z-index: 100;
}
button.tooltip-trigger {
  background-color: transparent;
  background-image: url(/images/icons/information.svg);
  border: none;
  cursor: pointer;
  display: inline;
  height: 1rem;
  margin: 0 0 0 0.5rem;
  padding: 0;
  vertical-align: top;
  width: 1rem;
}
.tooltip-info p {
  font-size: 1.8rem;
  margin-bottom: 0;
}
.tooltip-info .h2-style {
  font-family: lato-light, arial, sans-serif;
  font-size: 4rem;
  font-weight: 400;
}
.loading-indicator {
  display: block;
  left: 40%;
  position: fixed;
  top: 45%;
  z-index: 100;
}
.loading-indicator img {
  border: none;
  height: auto;
  width: 10rem;
}
.visitation-form-section #hcard-main-contact .tel {
  margin-bottom: 0;
} 
.conditional-fields {
  padding-left: 14rem;
  width: 44rem;
}
.radio-binaries-header {
  padding: 0 2rem;
  width: 8rem;
}
.radio-binaries-header .binary-column-heading {
  display: inline-block;
  line-height: 1;
  margin-bottom: 2rem;
  width: 50%;
}
.radio-binaries-header .binary-column-heading:nth-of-type(2) {
  margin-left: -4px;
  text-align: right;
}
form.visitation-form fieldset {
  padding: 2rem;
}
form.visitation-form fieldset:nth-of-type(odd) {
  background-color: #eef2f4;
}
form.visitation-form fieldset fieldset:nth-of-type(odd),
form.visitation-form fieldset fieldset:nth-of-type(even) {
  background-color: inherit;
  padding: 0;
}
form.visitation-form fieldset input[type=radio] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
form.visitation-form fieldset .binary-positive,
form.visitation-form fieldset .binary-negative {
  float: left;
  position: relative;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  width: 2.5em; /*40px*/
}
fieldset span.custom-radio {
  background-color: #FFF;
  border: 2px solid #003768;
  border-radius: 50%;
  cursor: pointer;
  height: 1em; /*20px*/
  position: absolute;
  top: 0.3rem;
  width: 1em; /*20px*/
}
fieldset .binary-positive span.custom-radio {
  left: 0;
}
fieldset .binary-negative span.custom-radio {
  right: 0;
}
fieldset .binary-positive span.custom-radio:after,
fieldset .binary-negative span.custom-radio:after {
  content: "";
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
  width: 1.2rem; /*12px*/
  height: 1.2rem; /*12px*/
  border-radius: 50%;
  background: #003768;
}
fieldset input.positive:checked + label.binary-positive span.custom-radio:after,
fieldset input.negative:checked + label.binary-negative span.custom-radio:after {
  display: block;
}
fieldset .binary-negative {
  margin-left: -4px;
}
.visitation-form .radio-binary legend {
  float: left;
  margin-left: 4rem;
  width: 58rem;
}
.form-navigation-2 {
  float: right;
}
.legend-container {
  display: inline-block;
}
.autocomplete-menu {
  background-color: #fff;
  position: absolute;
  width:100%;
  z-index: 50;
}
.autocomplete-option {
  color: #737373;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding:0 1.1rem;
}
.autocomplete-option.autocomplete-highlighted {
  color: white;
  background-color: #3a7ebc;
}
/*Visitation form specific icon-list stylings*/
ul.icon-list .li-info {
  width: 66rem;
}
ul.icon-list img.li-icon {
  height: 8rem;
  width: 8rem;
}
.visitation-form legend,
ul.icon-list ol li {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}
/*-----------------------*/
#visitation-form-navigation {
  margin: 4rem auto 6rem auto;
  width: 16rem;
}
#visitation-form-navigation button.previous-step,
#visitation-form-navigation button[type=submit] {
  color: #464545;
  display: inline-block;
  font-family: lato, arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1;
  vertical-align: top;
}
#visitation-form-navigation button.previous-step {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#visitation-form-navigation button.previous-step span,
#visitation-form-navigation button[type=submit] span {
  display: block;
  margin-top: 2rem;
}
#visitation-form-navigation button[type=submit],
#visitation-form-navigation a.next-step {
  border: none;
  background-color: #fff;
  cursor: pointer;
  float: right;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
#visitation-form-navigation img {
  border: none;
  height: 60px;
  width: 60px;
}
.radio-multi-button {
  margin-bottom: 1.8rem; /*Accounts for bottom margin of buttons*/
}
.visitation-form button[type=submit] {
  margin-bottom: 0;
}
.radio-multi-button label {
  background-color: #fff;
  border: 1px solid #a8a8a9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px 2px 0;
  padding: 1.1rem 0; 
  text-align: center;
}
.radio-multi-button label:nth-last-of-type(1) {
  margin-right: 0;
}
.radio-multi-button label:nth-of-type(1) {
  margin-left: 0;
}
.radio-multi-button legend {
  margin: 0;
}
.radio-multi-button label span.checkmark {
  display: none;
}
.radio-multi-button label.checked{
  background-color: #003768;
  border-color: #003768;
  color: #fff;
}
.radio-multi-button label.checked span.checkmark {
  display: inline;
}
ul.visitation-result-cards li {
  border: none;
  margin: 0;
  padding: 2rem 2rem 4rem 2rem;
}
ul.visitation-result-cards li:nth-of-type(odd) {
  background-color: #eef2f4;
}
ul.visitation-result-cards li.result-data:nth-last-of-type(1) {
  margin-bottom: 4rem;
}
dl.secondary-info {
  display: inline-block;
}
dl.general-info dt {
  display: none;
}
ul.visitation-result-cards dd,
ul.visitation-result-cards dt {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.5em;
}
dl.general-info dd {
  display: inline;
}
dl.secondary-info dd,
dl.secondary-info dt {
  display: inline-block;
}
ul.visitation-result-cards form {
  display: inline-block;
  margin-left: -4px;
  vertical-align: bottom; 
}
.visitation-result-cards button {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 12rem;
}
.visitation-result-cards button.link-style {
  width: auto; /*For IE and Edge*/
  width: initial;
}
/* Visitation Form Landing */
.visitation-form-section .dropdown-menu.col-17 {
    display: none;
}
#visitation-intro h2 {
  margin-bottom: 4rem;
}
#visitor-questionnaire .conditional-fields input:nth-last-of-type(1) {
  margin-bottom: 0;
}
/* Visitor Work History*/
#visitor-work-history .radio-multi-button label {
  width: 24rem;
}
#visitor-work-history label.date-picker {
  display: inline-block;
  margin-right: 3rem;
  vertical-align: top;
}
#visitor-work-history label.date-picker input,
#visitor-work-history label.date-picker img.calendar-icon {
  display: inline-block;
}
label.date-picker input {
  width: 13.8rem;
}
label.date-picker img.calendar-icon {
  border: none;
  height: 4rem;
  margin-left: 1em;
  vertical-align: bottom;
  width: 4rem;
}
#visitor-work-history label[for="employmentTitle"] {
  display: inline-block;
  margin-bottom: 2rem;
  vertical-align: top;
  width: 34rem;
}
#visitor-work-history label[for="employmentAlias"] {
  display: inline-block;
  margin-bottom: 2rem;
  margin-left: 1.6rem;
  vertical-align: top;
  width: 36rem;
}
/* Visitor Who to Visit */
#visitor-who-to-visit .search-options {
  clear: both;
  float: right;
  min-width: 36rem;
}
#visitor-who-to-visit .primary-button {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 12rem;
}
#visitor-who-to-visit form.visitation-form fieldset {
  padding-bottom: 4rem;
  padding-right: 4rem;
}
#visitor-who-to-visit form#offender-to-visit h2 + p {
  margin-bottom: 2rem;
} 
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchFirstName"],
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchLastName"],
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchId"] {
  display: inline-block;
  margin-bottom: 4rem;
  vertical-align: top;
  width: 20rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchFirstName"] {
  margin-right: 3.6rem;
}
#visitor-who-to-visit .or-divider {
  padding-left: 3rem;
  width: 2.6rem;
  margin-left: -4px;
  margin-top: 1.7rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchId"] {
  float: right;
}
#visitor-who-to-visit .or-divider .vertical-line {
  left: 0;
  height: 1.6em;
  border-left: 1px solid #464545;
}
#visitor-who-to-visit .or-divider p {
  display: inline-block;
  left: -0.5em;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
}
#show-optional-offender-info {
  background-image: url(../images/icons/drop-arrows-down.svg);
  background-position: right 75%;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline;
  margin-right: 2rem;
  padding-right: 2rem;
  padding-top: 1.1rem;
}
label#show-optional-offender-info:hover {
  text-decoration: none;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchMiddleName"],
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchAlias"],
#visitor-who-to-visit form#offender-to-visit label.date-picker,
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchRace"],
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchSex"],
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchAgeFrom"],
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchAgeTo"] {
  display: inline-block;
  margin-bottom: 2rem;
}
#visitor-who-to-visit #optional-offender-info {
  margin-top: 0;
  padding: 4rem 0 0 0;
}
#visitor-who-to-visit #optional-offender-info .primary-button {
  float: right;
}
#visitor-who-to-visit #optional-offender-info .offenderSearchAgeRange {
  display: inline-block;
  margin-right: 4rem;
}
#visitor-who-to-visit #optional-offender-info .offenderSearchAgeRange span.label {
  color: #464545;
  display: block;
  font-family: source-sans, arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 1rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchMiddleName"] {
  margin-right: 4rem;
  width: 22rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchAlias"] {
  margin-right: 4rem;
  width: 20rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchAlias"],
#visitor-who-to-visit form#offender-to-visit label.date-picker {
  margin-left: -4px;  
}
#visitor-who-to-visit form#offender-to-visit label.date-picker {
  float: right;
  width: 26rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchSex"] {
  float: right;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchRace"],
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchSex"] {
  width: 16rem;
}
#visitor-who-to-visit form#offender-to-visit label[for="offenderSearchRace"] {
  margin-right: 3.6rem;
}
#visitor-who-to-visit form#offender-to-visit .dash-divider {
  content: '';
  display: inline-block;
  border-bottom: 1px solid #a8a8a9;
  margin: 0 1rem 4rem 1rem;
  vertical-align: bottom; 
  width: 2rem;
}
#optional-offender-info label.date-picker input {
  width: 17.8rem;
}
#optional-offender-info label.date-picker img.calendar-icon {
  width: 4rem;
  height: 4rem;
  float: right;
  margin-top: 0;
}
#visitor-who-to-visit form#offender-to-visit input#offenderSearchAgeFrom,
#visitor-who-to-visit form#offender-to-visit input#offenderSearchAgeTo {
  width: 13.8rem;
}
#optional-offender-info #age-range {
  line-height: 1;
  margin-bottom: 1rem;
}
#optional-offender-info .primary-button {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
#optional-offender-info hr {
  border: 1px solid #eef2f4;
  clear: both;
}
#visitation-search-results {
  padding-top: 4rem;
  border-bottom: 1px solid #eef2f4;
  border-top: 1px solid #eef2f4;
}
#visitor-who-to-visit ul.visitation-result-cards  dl.secondary-info {
  width: 58rem;
}
#visitation-search-results .no-offender-results {
  margin-bottom: 6rem;
}
#visitation-search-results .no-offender-results .body-bold img {
  border: none;
  height: 3rem;
  margin-right: 1rem; 
  vertical-align: middle;
  width: 3rem;
}
#visitation-search-results .no-offender-results .body-bold span {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 4rem);
}
#visitation-search-results .no-offender-results p.disclaimer {
  font-style: italic;
}
/*Relationship to Offender*/
#relationship-to-offender h2 {
  margin-bottom: 4rem;
}
#relationship-to-offender form#relationship ul {
  margin-bottom: 4rem;
}
#relationship-to-offender form#relationship li:nth-of-type(odd) {
  background-color: #eef2f4;
}
#relationship-to-offender fieldset {
  background-color: transparent;
  margin-bottom: 0
}
#relationship-to-offender fieldset label {
  margin-bottom: 0;
}
ul#offenders-to-visit li p.body-bold {
  margin-bottom: 2rem;
}
form#delete-offender-to-visit fieldset {
  padding-bottom: 0;
}
form#delete-offender-to-visit label {
  display: inline-block;
  font-size: 1.8em;
  margin-bottom: 0;
  margin-right: 1rem;
}
form#relationship,
form#delete-offender-to-visit {
  width: 42rem;
}
form#relationship .primary-button {
  float: right;
  margin-bottom: 6rem;
  margin-right: 0;
}
form#relationship  fieldset .legend-container {
  margin-bottom: 2rem;
  margin-right: 1rem;
}
.form-navigation-2 .primary-button {
  margin-right: 2rem;
}
.form-navigation-2 a:hover {
  color: #3a7ebc;
  text-decoration: none;
}
#relationship-to-offender .disclaimer-container {
  border-bottom: 1px solid #eef2f4;
  border-top: 1px solid #eef2f4;
  margin-bottom: 4rem;
  padding: 4rem 0;
}
#relationship-to-offender .disclaimer {
  margin-bottom: 0;
}
#relationship-to-offender .disclaimer img {
  border: none;
  display: inline-block;
  margin-right: 2rem; 
  vertical-align: middle;
}
#relationship-to-offender .disclaimer span {
  display: inline-block;
  margin-left: -4px;
  vertical-align: middle;
  width: 36rem;
}
/* Review Selected Offender/s*/
#selection-review ul.visitation-result-cards dl.secondary-info {
  width: 44rem;
}
ul.visitation-result-cards form.selection-review-delete button {
  margin-bottom: 0;
}
#add-offender {
  background-image: url('/images/icons/blue-plus.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 4rem;
  padding: 1.1rem 0 1.1rem 5rem;
}
/* Applicant Info */
#applicant-info .visitation-form legend {
  margin-bottom: 2rem;
}
#applicant-info .visitation-form .radio-multi-button legend {
  margin-bottom: 1rem;
}
#applicant-info #name-fields {
  padding: 2rem 0;
}
#applicant-info #name-fields label {
  margin-right: 2rem;
}
#applicant-info #name-fields label:nth-of-type(1),
#applicant-info #name-fields label:nth-of-type(4) {
  margin-left: 0; 
}
#applicant-info #name-fields label:nth-of-type(3) {
  margin-right: 0; 
}
#applicant-info #name-fields label:nth-of-type(4),
#applicant-info #name-fields label:nth-of-type(5) {
  margin-bottom: 0;
}
#applicant-info label.date-picker {
  margin-bottom: 0;
  width: 30rem;
}
#applicant-info label.date-picker input {
  width: 21.8rem;
}
#applicant-info label[for="applicantSsn"] {
  margin-left: 0;
  margin-top: 2rem;
}
#applicant-info p.id-type-label {
  margin-bottom: 1rem;
}
#applicant-info label[for="applicantIdNumber"] {
  background-color: inherit;
  border: none;
  cursor: initial;
  display: block;
  margin: 2rem 0 1rem 0;
  padding: 0;
  text-align: left;
  width: 22rem;
}
.visitation-form .radio-multi-button legend {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 1rem;
}
#applicant-info .radio-multi-button label[for="applicantIdType0"] {
  width: 21.5rem;
}
#applicant-info .radio-multi-button label[for="applicantIdType1"] {
  width: 17.5rem;
}
#applicant-info .radio-multi-button label[for="applicantIdType3"],
#applicant-info .radio-multi-button label[for="applicantIdType2"] {
  width: 15.8rem;
}
/*Applicant Physical Description*/
#applicant-physical form.visitation-form fieldset:nth-of-type(odd), 
#applicant-physical form.visitation-form fieldset:nth-of-type(even) {
  background-color: inherit;
  padding: 0;
}
#applicant-physical fieldset.radio-multi-button label,
#minor-information fieldset.radio-multi-button label {
  float: left;
  margin-left: 0;
  width: 23.6rem;
}
#applicant-physical form.visitation-form label[for="applicantRace0"] {
  width: 15.6rem;
  padding: 0.3rem 4rem;
}
#applicant-physical #height-fields,
#applicant-physical #weight-field {
  display: inline-block;
  vertical-align: top;
  width: 22rem;
}
#applicant-physical #height-fields legend,
#applicant-physical #weight-field legend {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 0.625em;
}
#applicant-physical #height-fields {
  margin-right: 3.8rem; 
}
#applicant-physical #height-fields label,
#applicant-physical #weight-field label {
  position: relative;
}
#applicant-physical #height-fields label:nth-last-of-type(1) {
  margin-bottom: 1.25em;
}
#applicant-physical #height-fields label span.label,
#applicant-physical #weight-field label span.label {
  top: 0;
  margin-top: 1.5rem;
  position: absolute;
  right: 1em;
}
/*Applicant Contact Info*/
#applicant-contact fieldset.radio-multi-button {
  background-color: inherit;
  padding: 0;
}
#applicant-contact .radio-multi-button label {
  margin-bottom: 0;
  width: 9.8rem;
}
#applicant-contact label[for="applicantStreet"],
#applicant-contact label[for="applicantCountry"],
#applicant-contact label[for="applicantEmail"],
#applicant-contact label[for="applicantPhone"] {
  width: 32rem;
}
#applicant-contact label[for="applicantZip"],
#applicant-contact label[for="applicantCity"] {
  width: 14rem;
}
#applicant-contact label[for="applicantCity"] {
  display: inline-block; 
  vertical-align: top;
  margin-right: 2rem; 
}
#applicant-contact label[for="applicantState"] {
  display: inline-block;
  vertical-align: top;
  width: 16rem;
}
/*Add a Minor*/
#add-minor h2 {
  margin-bottom: 2rem;
}
#add-minor ul.icon-list li {
  margin-bottom: 2rem;
}
#add-minor ul.icon-list li img,
#add-minor ul.icon-list li .li-info {
  vertical-align: middle;
}
#add-minor .minor-cert {
  background-color: #eef2f4;
  padding: 2rem;
}
#add-minor label.checkbox {
  margin-bottom: 0;
}
#add-minor .form-navigation-2 {
  padding: 4rem 0 6rem 0;
}
/*Minor Information*/
#minor-information .visitation-form legend.required {
  margin-bottom: 2rem;
}
#minor-information fieldset.dob {
  margin-bottom: 2rem;
}
#minor-information fieldset.dob label.wrapping-label {
  margin-bottom: 0;
  width: 30rem;
}
#minor-information input#DOB {
  width: 21.8rem;
}
#minor-information label[for="firstName"],
#minor-information label[for="middleName"],
#minor-information label[for="lastName"] {
  display: inline-block;
  vertical-align: top;
  width: 24rem;
}
#minor-information label[for="firstName"],
#minor-information label[for="middleName"] {
  margin-right: 2rem;
}
#minor-information label[for="middle-name"],
#minor-information label[for="lastName"] {
  margin-left: -4px;
}
#minor-information label[for="placeOfBirth"] {
  width: 34rem;
}
#minor-information input#ssn {
  width: 13.8rem;
}
#minor-information fieldset#race-select {
  padding: 0;
  width: 48rem;
}
#minor-information fieldset#race-select label[for="race0"] {
  width: 15.6rem;
  padding: 0.3rem 4rem;
}
#minor-information fieldset#sex-select {
  padding: 0;
  width: 24.2rem;
  background-color: inherit;
}
#minor-information fieldset#sex-select label {
  width: 11.8rem;
}
/*Minor Visitation Select*/
form#minor-visit-select dl.general-info {
  display: inline-block;
}
form#minor-visit-select dl.secondary-info {
  display: block;
  margin-bottom: 2rem;
  margin-left: 6.3em;
}
form#minor-visit-select dl.general-info {
  margin-left: 1.3em;
}
form#minor-visit-select dl.general-info dd {
  line-height: 1;
}
form#minor-visit-select label.checkbox {
  display: inline-block;
  margin-left: 0.5em; /*8px*/
  vertical-align: top;
}
form#minor-visit-select label.relation-to-minor {
  margin-left: 3.9375em; /*63px*/
}
/*Review Added Minors*/
.visitation-result-cards dl.minor-info {
  margin-bottom: 2em;
}
.visitation-result-cards dl.minor-info dt,
.visitation-result-cards dl.minor-info dd,
.visitation-result-cards dl.minor-visit-info dt,
.visitation-result-cards dl.minor-visit-info dd {
  display: inline-block;
}
.visitation-result-cards dl button.link-style {
  margin-left: 1rem;
}
.visitation-result-cards dl dd.edit-info a:hover,
form#minor-review-confirmation a:hover,
a.edit-info:hover {
  color: #3a7ebc;
  text-decoration: none;
}
#review-added-minor ul.visitation-result-cards li.result-data:nth-last-of-type(1) {
  margin-bottom: 0;
}
form#minor-review-confirmation {
  margin-bottom: 6rem;
  padding: 2rem 0 0 0;
}
form#minor-review-confirmation legend {
  font-style: italic;
  margin-bottom: 4rem;
}
/*Final Application Review*/
#application-review h2 {
  margin-bottom: 4rem;
}
#application-review .minor-offender-list-header h3,
#application-review .review-list-header h3 {
  display: inline-block;
  margin-right: 1rem;
}
#application-review ul.visitation-result-cards li {
  padding-bottom: 2rem;
}
#application-review ul.visitation-result-cards li p {
  margin-bottom: 0;
}
#application-review ul.visitation-result-cards li.result-data:nth-last-of-type(1) {
  margin-bottom: 0;
}
#application-review .review-list-header,
#application-review #minor-info,
#application-review .minor-offender-list-header {
  border-top: 2px solid #eef2f4;
  margin: 2rem 0 0 0;
  padding: 4rem 0 0 0;
}
#application-review .review-list-header:nth-of-type(1) {
  border: none;
  margin: 0;
  padding: 0;
}
#application-review .review-list-header .link-style,
#application-review .minor-offender-list-header .link-style {
  float: right;
}
#application-review .review-list-header p.description {
  margin-bottom: 2rem;
}
#application-review #visitor-info h2,
#application-review #minor-info h2 {
  margin-bottom: 0;
}
#visitor-data {
  background-color: #eef2f4;
  padding: 2rem; 
}
#visitor-data dd,
#visitor-data dt {
  font-family: source-sans, arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.5em;
}
#application-review #application-review-confirm {
  padding: 2rem 0 0 2rem;
}
#application-review #application-review-confirm .body-bold {
  font-size: 1.8rem;
  line-height: 1.5;
}
#application-review #application-review-confirm label {
  margin-bottom: 4rem;
  padding-right: 2rem;
}
#application-review #application-review-confirm label .box-checkmark {
  margin-top: 0.6rem;
}
#application-review #application-review-confirm  span.label {
  display: block;
  margin-bottom: 2rem;
}
#application-review form.visitation-form .form-navigation-2 button[type=submit] {
  margin-right: 0;
}
/*Application Submitted*/
#application-submitted p.description {
  margin-bottom: 4rem; /*40px*/
}
#application-submitted ul.icon-list li {
  margin-bottom: 2rem;
}
#application-submitted .icon-list img.li-icon,
#application-submitted .icon-list .li-info {
  vertical-align: middle;
}
/*Application Declined*/
main#application-declined {
  padding-bottom: 17.2rem;
}
#application-declined p.description {
  margin-bottom: 4rem;
}
#application-declined p a {
  text-decoration: underline;
}
#application-declined p a:hover {
  color: #3a7ebc;
  text-decoration: none;
}
#application-declined h2 {
  margin-bottom: 2rem;
}
#application-declined h2 img,
#application-submitted h2 img {
  border: none;
  vertical-align: bottom;
}
#application-declined .primary-button {
  float: right;
  margin-bottom: 0;
  margin-right: 2rem;
}
#application-declined .form-navigation-2 .primary-button {
  float: none;
}
/*------------------------*/
/* Media Queries */
/*------------------------*/
@media screen and (max-width: 800px) {
  body {
    min-width: 100%;
  }
  #secondary-nav,
  #main-nav,
  .breadcrumbs {
    display: none;
  }
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col-13,
  .col-14,
  .col-15,
  .col-16,
  .col-17,
  .col-18,
  .col-19,
  .col-20,
  .col-21,
  .col-22,
  .col-23,
  .col-24,
  .col-25,
  .col-26,
  .col-27,
  .col-28 {
    display: block;
    margin-left: 0;
    width: 100%;
  }
  /*Mobile Header*/
  #general-hero-wrapper {
    display: none;
  }
  /*Mobile Nav*/
  .mobile-nav-open {
    overflow: hidden;
  }
  #mobile-nav {
    display: block;
  }
  #locate-offender-mobile {
    display: block;
  }
  .mobile-nav-window {
    display: none;
    left: -1300px;
    position: absolute;
    top: 2rem;
    width: 100%;
    z-index: 110;
  }
  .mobile-nav-content {
    background-color: #fff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    display: block;
    height: 80vh;
    opacity: 1;
    overflow: scroll;
    padding: 4rem 0;
  }
  .close-mobile-nav {
    background-color: transparent;
    background-image: url(./images/modals/close-x.svg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 4rem;
    position: absolute;
    right: 0;
    top: -2rem;
    width: 4rem;
  }
  /* Footer Mobile */
  footer #footer-social,
  footer #footer-policies,
  footer #footer-additional,
  footer .vcard {
    disply: block;
    margin: 0;
    width: 100%;
  }
  footer #footer-social,
  footer #footer-policies,
  footer .vcard {
    margin-bottom: 6rem;
  }
  footer #footer-social li {
    margin-right: 2rem;
  }
  #footer-additional a span {
    margin-left: 4rem;
    text-align: left;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  .content-wrapper {
    margin-right: 0;
    margin-left: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  /* Sidebars Mobile */
  #sidebars {
    padding: 0;
  }
  /* sidebar nav mobile */
  .sidebar-nav {
    display: none;
  }
  aside.right-sidebar {
    bottom: 0;
  }
  .with-sidebar-nav .content-wrapper {
    padding: 0 2rem;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  /* right sidebar mobile */
  aside.right-sidebar {
    position: static;
    width: 100%;
    margin-left: 0;
  }
  aside.right-sidebar #hcard-main-contact {
    background-color: #202d3a;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 4rem 2rem 4rem 2rem;
  }
  aside.right-sidebar .alert-callout {
    margin: 0 2rem 4rem;
  }
  /* Drawer UI Mobile */
  .drawer {
    padding: 2rem 2rem;
    width: calc(100% - 4.2rem);
  }
  .drawer ul li {
    margin-bottom: 4rem;
  }
  /* Display on Mobile Only */
  a#in-page-contact {
    display: inline-block;
  }
  /* Visitation Form Mobile */
  #form-progress-bar-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  #form-progress {
    margin-top: 0;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  .visitation-form-section ul.icon-list .li-info {
    width: calc(100% - 10em);
  }
  form.visitation-form fieldset {
    padding: 2em 2em;
  }
  #visitation-intro .primary-button,
  #visitation-intro .es-link {
    float: none;
  }
  .visitation-form .radio-binary legend {
    width: calc(100% - 6.666666666666667em);
  }
  #offender-to-visit #optional-offender-info label.ib-element {
    width:10em;
  }
  #offender-to-visit #optional-offender-info label.race,
  #offender-to-visit #optional-offender-info label.slider-from {
    margin-right: 2.5em;
    margin-left: 0;
  }
  a.add-offender {
    margin-left: 1.1764705882352942em;
  }
  .form-navigation-2 {
    float: none;
  }
  .visitation-form-section aside #hcard-main-contact {
    margin-bottom: 0;
  }
  /* Visitor Questionnaire Mobile */
  main#visitor-questionnaire,
  main#visitor-work-history,
  main#visitor-who-to-visit,
  main#relationship-to-offender,
  main#selection-review,
  main#applicant-info,
  main#add-minor,
  main#minor-questionnaire,
  main#minor-information,
  main#review-added-minor,
  main#application-review,
  main#minor-visitation-select {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  #visitor-questionnaire h2,
  #visitor-questionnaire p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  /* Application Declined Mobile */
  #application-declined .primary-button {
    float: none;
  }
  /* Work History Mobile */
  #visitor-work-history h2,
  #visitor-work-history p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #visitor-work-history label[for="employmentTitle"],
  #visitor-work-history label[for="employmentAlias"] {
    margin-left: 0;
    display: block;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  /* Who to Visit Mobile */
  #visitor-who-to-visit h2,
  #visitor-who-to-visit p.description,
  #visitor-who-to-visit .visitation-step,
  #visitor-who-to-visit #visitation-search-results h3  {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #visitation-search-results h2 {
    margin-left: 2rem;
  }
  #visitor-who-to-visit #optional-offender-info {
    padding: 4rem 2rem 0 2rem;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchFirstName"], 
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchLastName"],
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchMiddleName"],
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchAlias"] {
    margin-bottom: 2rem;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchFirstName"], 
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchLastName"], 
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchId"],
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchMiddleName"],
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchAlias"] {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchSex"] {
    float: none;
  }
  #visitor-who-to-visit .or-divider {
    display: block;
    padding: 0;
    margin-bottom: 2rem;
    margin-left: 0; 
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  #visitor-who-to-visit .or-divider .vertical-line {
    display: none;
  }
  #visitor-who-to-visit .or-divider p {
    display: block;
    left: 0;
    position: initial;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchRace"],
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchSex"] {
    margin-bottom: 4rem;
  }
  #visitor-who-to-visit form#offender-to-visit label[for="offenderSearchReleaseDate"] {
    display: block;
    float: none;
    margin-left: 0;
    width: 36rem;
  }
  #optional-offender-info label.date-picker input {
    width: 27.8rem;
  }
  #optional-offender-info input#offenderSearchAgeFrom,
  #optional-offender-info input#offenderSearchAgeTo,
  #visitor-who-to-visit form#offender-to-visit .dash-divider,
  #visitor-who-to-visit  #optional-offender-info .offenderSearchAgeRange {
    display: none;
  }
  #optional-offender-info .rc-slider {
    display: block;
    margin-left: 2rem;
    width: calc(100% - 4rem);
  }
  #optional-offender-info .offenderSearchAgeRange {
    margin-bottom: 2rem;
  }
  ul.visitation-result-cards form {
    margin-left: 0;
    margin-bottom: 
  }
  #visitor-who-to-visit ul.visitation-result-cards dl.secondary-info,
  #selection-review ul.visitation-result-cards dl.secondary-info {
    width: 100%;
    margin-bottom: 2rem;
  }
  #visitation-search-results .no-offender-results {
    padding: 0 2rem;
  }
  #visitor-who-to-visit .search-options,
  #visitor-who-to-visit #optional-offender-info .primary-button {
    float: none;
  }
  #visitor-who-to-visit #optional-offender-info .primary-button {
    margin-top: 0;
  }
  #visitor-who-to-visit .search-options button.primary-button {
    float: left;
    margin-right: 2rem;
  }
  /*Range Slider Mobile*/
  .range-display,
  .range-title {
    display: block;
  }
  /* Selected Offender(s) to Visit Mobile*/
  #selection-review h2,
  #selection-review p.description,
  #selection-review p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  /* Relationship to Offender Mobile */
  #relationship-to-offender h2,
  #relationship-to-offender p.description,
  #relationship-to-offender p.visitation-step {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  form#relationship .primary-button {
    float: none;
    margin-left: 2rem;
  }
  form#relationship {
    width: 100%;
  }
  #relationship-to-offender .disclaimer-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #relationship-to-offender .disclaimer span {
    width: calc(100% - 6rem);
  }
  /* Review Selected Offenders Mobile */
  #add-offender {
    margin-left: 2rem
  }
  /* Applicant Information Mobile */
  #applicant-info h2,
  #applicant-info .visitation-step,
  #applicant-info #form-legend {
    margin-left: 2rem;
  }
  #applicant-info #name-fields {
    padding: 2rem;
  }
  #applicant-info #name-fields label {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
  }
  #applicant-info #name-fields label:nth-of-type(4){
    margin-bottom: 2rem;
  }
  #applicant-info .radio-multi-button label[for="applicantIdType0"],
  #applicant-info .radio-multi-button label[for="applicantIdType3"] {
    width: 15.8rem;
  }
  #applicant-info .radio-multi-button label[for="applicantIdType1"],
  #applicant-info .radio-multi-button label[for="applicantIdType2"] {
    width: 11.8rem;
  }
  #applicant-info label[for="applicantIdNumber"] {
    width: 100%;
  }
  #applicant-info label[for="applicantSsn"] {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
  }
  /* Applicant Physical Description Mobile */
  #applicant-physical fieldset#race-select,
  #minor-information fieldset#race-select,
  #applicant-physical #height-fields {
    width: 28.6rem;
  }
  #applicant-physical fieldset#hair {
    width: 32.8rem;
  }
  #applicant-physical fieldset#eye {
    width: 24.6rem;
  }
  #applicant-physical fieldset#hair label[for="green"],
  #applicant-physical fieldset#hair label[for="orange"],
  #applicant-physical fieldset#hair label[for="pink"],
  #applicant-physical fieldset#hair label[for="purple"] {
    margin-top: 2em;
  }
  #applicant-physical #height-fields,
  #applicant-physical #weight-field {
    display: block;
  }
  #applicant-physical #weight-field {
    width: 100%;
  }
  #applicant-physical #height-fields legend,
  #applicant-physical #weight-field legend {
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 0.625em;
  }
  #applicant-physical #height-fields label,
  #applicant-physical #weight-field label {
    position: relative;
  }
  #applicant-physical #height-fields label:nth-last-of-type(1) {
    margin-bottom: 1.25em;
  }
  #applicant-physical #height-fields label span.label,
  #applicant-physical #weight-field label span.label {
    top: 0;
    margin-top: 1.2rem;
    position: absolute;
    right: 1em;
  }
  #applicant-physical fieldset#race-select label[for="applicantRace0"],
  #minor-information fieldset#race-select label[for="race0"] {
    padding: 1.1rem 0;
    width: 28.2rem;
  }
  #applicant-physical .radio-multi-button label[for="applicantHair2"],
  #applicant-physical .radio-multi-button label[for="applicantHair5"] {
    width: 16rem;
  }
  #applicant-physical fieldset#race-select label[for="applicantRace1"],
  #minor-information fieldset#race-select label[for="race1"] {
    width: 20rem;
  }
  #applicant-physical fieldset#race-select label[for="applicantRace2"],
  #minor-information fieldset#race-select label[for="race2"],
  #applicant-physical fieldset#race-select label[for="applicantRace5"],
  #minor-information fieldset#race-select label[for="race5"],
  #applicant-physical fieldset#race-select label[for="applicantRace3"],
  #minor-information fieldset#race-select label[for="race3"],
  #applicant-physical fieldset#sex-select label[for="applicantSex1"],
  #minor-information fieldset#sex-select label[for="sex1"],
  #applicant-physical fieldset#hair label[for="applicantHair0"],
  #applicant-physical fieldset#hair label[for="applicantHair1"],
  #applicant-physical fieldset#hair label[for="applicantHair10"],
  #applicant-physical fieldset#hair label[for="applicantHair4"],
  #applicant-physical fieldset#hair label[for="applicantHair6"],
  #applicant-physical fieldset#hair label[for="applicantHair7"],
  #applicant-physical fieldset#hair label[for="applicantHair8"],
  #applicant-physical fieldset#hair label[for="applicantHair9"],
  #applicant-physical fieldset#hair label[for="applicantHair11"],
  #applicant-physical fieldset#hair label[for="applicantHair12"],
  #applicant-physical fieldset#hair label[for="applicantHair3"],
  #applicant-physical fieldset#eye label[for="applicantEyes0"],
  #applicant-physical fieldset#eye label[for="applicantEyes1"],
  #applicant-physical fieldset#eye label[for="applicantEyes2"],
  #applicant-physical fieldset#eye label[for="applicantEyes3"],
  #applicant-physical fieldset#eye label[for="applicantEyes4"],
  #applicant-physical fieldset#eye label[for="applicantEyes5"],
  #applicant-physical fieldset#eye label[for="applicantEyes7"] {
    width: 7.8rem;
  }
  #applicant-physical fieldset#eye label[for="applicantEyes6"] {
    width: 16rem;
  }
  #applicant-physical fieldset#hair label[for="applicantHair3"],
  #applicant-physical fieldset#hair label[for="applicantHair4"],
  #applicant-physical fieldset#hair label[for="applicantHair5"] {
    margin-bottom: 2rem;
  }
  #applicant-physical fieldset#race-select label[for="applicantRace4"],
  #minor-information fieldset#race-select label[for="race4"],
  #applicant-physical fieldset#sex-select label[for="applicantSex0"],
  #minor-information fieldset#sex-select label[for="sex0"] {
    width: 11.8rem;
  }
  /* Applicant Contact Info Mobile*/
  #applicant-contact label[for="applicantStreet"],
  #applicant-contact label[for="applicantCountry"],
  #applicant-contact label[for="applicantEmail"],
  #applicant-contact label[for="applicantPhone"],
  #applicant-contact label[for="applicantZip"],
  #applicant-contact label[for="applicantCity"],
  #applicant-contact label[for="applicantState"] {
    display: block;
    width: 100%;
  }
  /* Add a Minor Mobile */
  #add-minor h2,
  #add-minor p.description,
  #add-minor ul.icon-list {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #add-minor .form-navigation-2 {
    padding-left: 2rem;
  }
  /* Minor Questionnaire Mobile */
  #minor-questionnaire h2,
  #minor-questionnaire .visitation-step {
    margin-left: 2rem; 
  }
  /* Minor Information Mobile */ 
  #minor-information h2,
  #minor-information .visitation-step,
  #minor-information legend.required {
    margin-left: 2rem;
  }
  #minor-information label[for="firstName"],
  #minor-information label[for="lastName"],
  #minor-information label[for="middleName"],
  #minor-information label[for="ssn"],
  #minor-information label[for="placeOfBirth"] {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto; /*For IE and Edge*/
    width: initial;
  }
  #minor-information input#ssn {
    width: calc(100% - 22px);
  }
  #minor-information fieldset#race-select,
  #minor-information fieldset#sex-select {
    padding: 0 2rem;
  }
  /* Minor Visit Select Mobile */
  #minor-visitation-select h2,
  #minor-visitation-select .visitation-step,
  #minor-visitation-select .description {
    margin-left: 2rem;
  }
  /* Review Added Minor Mobile */ 
  #review-added-minor h2,
  #review-added-minor #minor-review-confirmation {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* Application Review Mobile */
  #application-review h2 {
    margin-left: 2rem;
  }
  #application-review .review-list-header,
  #application-review #minor-info,
  #application-review .minor-offender-list-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #application-review .review-list-header:nth-of-type(1) {
    margin: 0 2rem;
  }
}