﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
}

@section HighPriorityStyles
    {
    <link href="~/styles/primary-page.css" rel="stylesheet" />
}
@Html.Partial("SiteLayout/BreadCrumbs")

<main>
    <section id="about-intro" class="content-wrapper">
        <div class="col-19">
            @CurrentPage.pageIntro
            <ul class="icon-list">
                <li>
                    <img class="li-icon" src="/images/modals/step-2.svg" aria-hidden="true" />
                    <div class="li-info col-17">
                        <h3>Mission</h3>

                        @CurrentPage.mission
                    </div>
                </li>
                <li>
                    <img class="li-icon" src="/images/modals/step-2.svg" aria-hidden="true" />
                    <div class="li-info col-17">
                        <h3>Values</h3>
                        @if (Model.Content.GetPropertyValue<string[]>("values").Length > 0)
                        {
                            <ul class="unstyled-list">
                                @foreach (var value in Model.Content.GetPropertyValue<string[]>("values"))
                                {
                                    <li>@value</li>
                                }
                            </ul>

                        }
                    </div>
                </li>
                <li>
                    <img class="li-icon" src="/images/modals/step-2.svg" aria-hidden="true" />
                    <div class="li-info col-17">
                        <h3>Vision</h3>
                        @CurrentPage.vision
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="executive-staff">
        <div class="content-wrapper">
            <div class="col-19">
                <h2>Executive Staff</h2>
                @if (CurrentPage.Children.Count() > 0)
                {
                    <ul id="executives">
                        @foreach (var executive in CurrentPage.Children)
                        {
                            <li class="feature">
                                <figure class="modal-trigger" data-id="111">
                                    <img src="@executive.headshot" alt="@executive.displayName">
                                </figure>
                                <div class="bio col-14">
                                    <h3>@executive.displayName,&nbsp;<span>@executive.title</span></h3>
                                    @executive.bio       
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </section>
</main>