﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "MasterLayout.cshtml";
}

@section HighPriorityStyles
    {
    <link href="~/styles/primary-page.css" rel="stylesheet" />
}
@Html.Partial("SiteLayout/BreadCrumbs")
<!-- Begin Main Content -->
<main>
    <div class="left">
        <div id="contact-intro" class="description">
            <p id="mobile-page-heading" class="h1-style">@CurrentPage.pageTitle</p>
        </div>

        <div id="form-results">
            @if (TempData["JsDisabled"] != null && TempData["FormSuccess"] != null)
            {
                if ((bool)TempData["JsDisabled"] && (bool)TempData["FormSuccess"])
                {
                    @Html.Partial("ContactUs/ContactUsSuccess")
                }

                if ((bool)TempData["JsDisabled"] && !(bool)TempData["FormSuccess"])
                {
                    @Html.Partial("ContactUs/ContactUsError")
                }
            }
        </div>

        @{ Html.RenderAction("RenderContactForm", "ContactUsSurface");}
        @if (TempData["Message"] != null)
        {
            <h3>@TempData["Message"]</h3>
        }
    </div>
    <div class="right col-8">
        @Html.Partial("SiteLayout/SidebarContactCard")

        <ul id="contact-list">
            <li class="vcard">
                <h2 class="org">ADA</h2>
                <p>For questions and information regarding ADA requirements for offenders.</p>
                <div class="tel">
                    <p class="value">(804) 763-9960</p>
                </div>
                <a href="mailto:Barry.Marano@vadoc.virginia.gov" class="email">Barry.Marano@vadoc.virginia.gov</a>
            </li>
            <li class="vcard">
                <h2 class="org">Classification</h2>
                <div class="tel">
                    <p class="value">(804) 674-3131</p>
                </div>
            </li>
            <li class="vcard">
                <h2 class="org">Health &amp; Medical</h2>
                <p>For questions regarding health and medical concerns at VADOC facilities (not local jails. We will review the concern with the facility staff and send a written response to the named offender.</p>
                <div class="tel">
                    <p class="value">123-456-7890</p>
                </div>
                <a href="mailto:dochealthservicescomplaints@vadoc.virginia.gov" class="email">dochealthservicescomplaints@vadoc.virginia.gov</a>
            </li>
            <li class="vcard">
                <h2 class="org">Human Resources</h2>
                <p>For inquiries and assistance on job applications and other HR-related matters.</p>
                <div class="tel">
                    <p class="value">804-674-3507</p>
                </div>
                <h3>Job Openings</h3>
                <a href="mailto:Recruitment@vadoc.virginia.gov" class="email">Recruitment@vadoc.virginia.gov</a>

                <h3>Employment Verifications</h3>
                <a href="mailto:DOCVerifications@vadoc.virginia.gov" class="email">DOCVerifications@vadoc.virginia.gov</a>
            </li>
            <li class="vcard">
                <h2 class="org">PREA</h2>
                <p>If you were, or someone you know was, sexually abused or sexually harassed while in custody or under the supervision of the VADOC, please call the confidential reporting hotline. We will ensure that all staff, contractors, volunteers, offenders, and probationers are free from retaliation for reporting occurrences of sexual abuse or sexual harassment.</p>
                <div class="tel">
                    <p class="body-bold">Confidential Reporting Hotline</p>
                    <p class="value">1 (855) 602-7001</p>
                    <p class="body-bold">General Phone</p>
                    <p class="value">(804) 887-7921</p>
                </div>
                <a href="mailto:PREAGrievance@vadoc.virginia.gov" class="email">PREAGrievance@vadoc.virginia.gov</a>
            </li>
            <li class="vcard">
                <h2 class="org">Visitation</h2>
                <p>For inquiries regarding visitation policies and procedures.</p>
                <div class="tel">
                    <p class="value">(804) 887-8341</p>
                </div>
                <a href="mailto:visitationinquiries@vadoc.virginia.gov" class="email"> visitationinquiries@vadoc.virginia.gov</a>
            </li>
            <li class="vcard">
                <h2 class="org">Website Technology</h2>
                <p>For inquiries or feedback on the VADOC website and its technology, contact the webmaster.</p>
                <div class="tel">
                    <p class="value">123-456-7890</p>
                </div>
                <a href="mailto:webmaster@vadoc.virginia.gov" class="email">webmaster@vadoc.virginia.gov</a>
            </li>
        </ul>
    </div>
</main>
<!-- End Main Content -->
<!-- Loading Indicator -->
@Html.Partial("SiteLayout/LoadingIndicator")
@section ScriptsBottom
{
    <script src="~/scripts/contact-form.js"></script>
}

