﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
}

@section HighPriorityStyles
{
    <link href="~/styles/facilities-and-offices-phase1.css" rel="stylesheet" />
}

@Html.Partial("SiteLayout/BreadCrumbs")

<main>
    <div id="region-filter" class="button-group content-wrapper" aria-hidden="true">
        <p class="button-group-title">Region: </p>
        <ul>
            <li>
                <button id="western"><span class="accessibility-hidden">Sort results by</span>Western</button>
            </li>
            <li>
                <button id="central"><span class="accessibility-hidden">Sort results by</span>Central</button>
            </li>
            <li>
                <button id="eastern"><span class="accessibility-hidden">Sort results by</span>Eastern</button>
            </li>
        </ul>
    </div>

    <div id="type-filter" class="button-group content-wrapper" aria-hidden="true">
        <p class="button-group-title">Type: </p>
        <ul>
            <li>
                <button id="facilities"><span class="accessibility-hidden">Sort results by</span>Facility</button>
            </li>
            <li>
                <button id="p-and-p"><span class="accessibility-hidden">Sort results by</span>Probation &amp; Parole</button>
            </li>
            <li>
                <button id="administrative"><span class="accessibility-hidden">Sort results by</span>Administration</button>
            </li>
        </ul>
    </div>
    @if (CurrentPage.Children.Any())
    {
        foreach (var region in CurrentPage.Children)
        {
            <div id="@region.Name.ToLower()-region" class="state-region">
                <header>
                    <div class="content-wrapper">
                        <img src="/images/facilities-and-offices/@region.Name.ToLower()-region.svg" alt="">
                        <h2>@region.Name&nbsp;Region&nbsp;-&nbsp;@region.regionalOperationsChief, Regional Operations Chief</h2>
                    </div>
                </header>
                <div class="content-wrapper">
                    <h3 class="facilities h2-style">Facilities</h3>
                    <ul class="clear-fix facilities">
                        @foreach (var facility in region.Children.OrderBy("Name"))
                        {
                            var type = Umbraco.GetPreValueAsString(facility.facilityType);
                            if (type == "Facility")
                            {
                                <li>
                                    <p class="body-bold">@facility.Name</p>
                                    <p class="facility-subheading">@facility.subheading</p>
                                    <p class="tel">
                                        <span class="type">Phone:&nbsp;</span>
                                        <span class="value">@facility.mainPhone</span>
                                    </p>
                                    @if (!string.IsNullOrEmpty(@facility.fax))
                                    {
                                        <p class="tel">
                                            <span class="type">Fax:&nbsp;</span>
                                            <span class="value">@facility.fax</span>
                                        </p>
                                    }
                                    <a href="http://maps.google.com/?q=1200 @facility.streetAddress, @facility.city, @facility.zipCode" class="adr" target="_blank">
                                        <span class="street-address">@facility.streetAddress</span><br />
                                        <span class="locality">@facility.city, VA</span>
                                        <span class="postal-code">@facility.zipCode</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>

                    <h3 class="p-and-p h2-style">Probation and Parole Offices</h3>
                    <ul class="clear-fix p-and-p">
                        @foreach (var facility in region.Children.OrderBy("Name"))
                        {
                            var type = Umbraco.GetPreValueAsString(facility.facilityType);
                            if (type == "Probation and Parole")
                            {
                                <li class="vcard">
                                    <p class="body-bold">@facility.Name</p>
                                    <p class="facility-subheading">@facility.subheading</p>
                                    <p class="tel">
                                        <span class="type">Phone:&nbsp;</span>
                                        <span class="value">@facility.mainPhone</span>
                                    </p>
                                    @if (!string.IsNullOrEmpty(@facility.fax))
                                    {
                                        <p class="tel">
                                            <span class="type">Fax:&nbsp;</span>
                                            <span class="value">@facility.fax</span>
                                        </p>
                                    }

                                    <a href="#" class="adr">
                                        <span class="street-address">@facility.streetAddress</span><br />
                                        <span class="locality">@facility.city, VA</span>
                                        <span class="postal-code">@facility.zipCode</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>

                    <h3 class="administrative h2-style">Administrative Offices</h3>
                    <ul class="clear-fix administrative">
                        @foreach (var facility in region.Children.OrderBy("Name"))
                        {
                            var type = Umbraco.GetPreValueAsString(facility.facilityType);
                            if (type == "Administrative")
                            {
                                <li>
                                    <p class="body-bold">@facility.Name</p>
                                    <p class="facility-subheading">@facility.subheading</p>
                                    <p class="tel">
                                        <span class="type">Phone:&nbsp;</span>
                                        <span class="value">@facility.mainPhone</span>
                                    </p>
                                    @if (!string.IsNullOrEmpty(@facility.fax))
                                    {
                                        <p class="tel">
                                            <span class="type">Fax:&nbsp;</span>
                                            <span class="value">@facility.fax</span>
                                        </p>
                                    }
                                    <a href="#" class="adr">
                                        <span class="street-address">@facility.streetAddress</span><br />
                                        <span class="locality">@facility.city, VA</span>
                                        <span class="postal-code">@facility.zipCode</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
    }
    <div id="ui-prompt" class="content-wrapper">
        <p class="h1-style">Choose at Least One Option Above</p>
    </div>
</main>

@section ScriptsBottom
{
    <script src="~/scripts/facilities-and-offices-phase1.js"></script>
}

