﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayout.cshtml";
}

@section HighPriorityStyles
{
    <link href="~/styles/primary-page.css" rel="stylesheet" />
}
<!-- Begin Main Content -->
<main>
    <!-- Begin News and Press Section -->
    <section class="clear-fix content-wrapper" id="news-press-section">
        <h2 class="h1-style">News &amp; Press Releases</h2>
        <ul id="top-news-list">
            <li>
                <article class="main-news-feature">
                    <figure class="image-link mar-r-1">
                        <a href="#">
                            <img src="images/global/stock-images/trophies.jpg" alt="description of main news feature photo">
                        </a>
                        <figcaption class="callout">Top News</figcaption>
                    </figure>
                    <div class="col-9">
                        <h3 class="hyperlink-heading h2-style"><a href="#">Governor's Tech Award</a></h3>

                        <p class="date-stamp">October 15, 2017</p>

                        <p>lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper a lacus.</p>

                        <p>lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper a lacus.</p>

                        <p>lacus sed turpis tincidunt id aliquet risus feugiat in ante metus...</p>

                        <a class="read-more" href="#">Read More</a>
                    </div>
                </article>
            </li>
            <li class="col-9 mar-r-1">
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="">
                            <img src="images/global/stock-images/conference-room.jpg" alt="" />
                        </a>
                        <figcaption class="callout">Media Alert</figcaption>
                    </figure>
                    <h3 class="hyperlink-heading h2-style">
                        <a href="">U.S. Department of State and Virginia Department of Corrections to sign Memorandum</a>
                    </h3>
                    <p class="date-stamp">October 15, 2017</p>
                    <p class="article-body">Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc...&nbsp;<a class="read-more" href="#">Read More</a></p>
                </article>
            </li>
            <li class="col-9 mar-r-1">
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="">
                            <img src="images/global/stock-images/microphone-3.jpg" alt="" />
                        </a>
                        <figcaption class="callout">Press release</figcaption>
                    </figure>
                    <h3 class="hyperlink-heading h2-style">
                        <a href="">Virginia DOC Moves Detention Center Offenders from Southampton to Cold Springs</a>
                    </h3>
                    <p class="date-stamp">October 15, 2017</p>
                    <p class="article-body">Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc...&nbsp;<a class="read-more" href="#">Read More</a></p>
                </article>
            </li>
            <li class="col-9">
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="">
                            <img src="images/global/stock-images/conference-room.jpg" alt="" />
                        </a>
                        <figcaption class="callout">Media Alert</figcaption>
                    </figure>
                    <h3 class="hyperlink-heading h2-style">
                        <a href="">U.S. Department of State and Virginia Department of Corrections to sign Memorandum</a>
                    </h3>
                    <p class="date-stamp">October 15, 2017</p>
                    <p class="article-body">Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc...&nbsp;<a class="read-more" href="#">Read More</a></p>
                </article>
            </li>
        </ul>
        <a href="/news" class="primary-button">See all news</a>
    </section>
    <!-- End News and Press Release Section -->
    <!-- Begin Visitation Section -->
    <section id="visitation-section" class="dark-background clear-fix">
        <div class="content-wrapper">
            <h2 class="h1-style">Visitation</h2>

            <div class="description col-14">
                <p>
                    We recognize the important role visitors play in an offender’s successful re-entry into the community.
                </p>
            </div>

            <ul class="visitation-options col-19">
                <li>
                    <a href="/families-and-friends/visitation/visitation-form/">
                        <img src="images/global/icons/white-check-box.svg" alt="check box icon">
                        <span>Apply</span>
                    </a>
                </li>
                <li>
                    <a href="/families-and-friends/visitation/video-visitation">
                        <img src="images/global/icons/white-check-box.svg" alt="check box icon">
                        <span>Video Visitation</span>
                    </a>
                </li>
                <li>
                    <a href="/families-and-friends/visitation/">
                        <img src="images/global/icons/white-check-box.svg" alt="check box icon">
                        <span>Procedures</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- End Visitation Section -->
    <!-- Begin Job Openings -->
    <section class="content-wrapper clear-fix" id="job-openings-section">
        <h2 class="h1-style">Job Openings</h2>
        <ul>
            <li class="job-card-small col-12 mar-r-1">
                <dl>
                    <dt class="accessibility-hidden">Job Title</dt>
                    <dd class="hyperlink-heading h2-style col-9">
                        <a href="#">Electronic Technician Senior</a>
                    </dd>
                    <dt class="accessibility-hidden">Job Description</dt>
                    <dd class="job-description col-9">Assists in the up-keep of the physical plant by testing, maintaining, inventory, installing and repairing...</dd>
                    <dt class="accessibility-hidden">Job Salary Range</dt>
                    <dd class="salary-range col-9">$36,730 &ndash; $71,467</dd>
                    <dt class="accessibility-hidden">Job Location</dt>
                    <dd class="job-location col-9">
                        <a class="unstyled-link" href="#">
                            <img class="inline-pin" src="images/global/icons/location.svg" aria-hidden="true" /><span class="job-location-name">Greensville</span><span class="job-city">Greensville</span>, Virginia
                        </a>
                    </dd>
                    <dt class="accessibility-hidden">Link to job opportunity</dt>
                    <dd class="page-link col-9"><a href="https://virginiajobs.peopleadmin.com/postings/82215">More Information</a></dd>
                </dl>

                <img class="card-icon" src="images/job-opportunities/job-category-icons/it.svg" aria-hidden="true" />
            </li>
            <li class="job-card-small col-12">
                <dl>
                    <dt class="accessibility-hidden">Job Title</dt>
                    <dd class="hyperlink-heading h2-style col-9">
                        <a href="#">Food Operations Director</a>
                    </dd>
                    <dt class="accessibility-hidden">Job Description</dt>
                    <dd class="job-description col-9">Directs a comprehensive food service program for the Department of Corrections Headquarters Café. Supervises staff and offenders in...</dd>
                    <dt class="accessibility-hidden">Job Salary Range</dt>
                    <dd class="salary-range col-9">$43,892 &ndash; $83,201</dd>
                    <dt class="accessibility-hidden">Job Location</dt>
                    <dd class="job-location col-9">
                        <a class="unstyled-link" href="#">
                            <img class="inline-pin" src="images/global/icons/location.svg" aria-hidden="true" /><span class="job-location-name">VADOC Headquarters' Café</span><span class="job-city">Richmond</span>, Virginia
                        </a>
                    </dd>
                    <dt class="accessibility-hidden">Link to job opportunity</dt>
                    <dd class="page-link col-9"><a href="https://virginiajobs.peopleadmin.com/postings/82576">More Information</a></dd>
                </dl>

                <img class="card-icon" src="images/job-opportunities/job-category-icons/food-services.svg" aria-hidden="true" />
            </li>
        </ul>
        <a href="/job-opportunities" class="primary-button">See all job openings</a>
    </section>
    <!-- End Job Openings -->
    <div id="op-mw-wrapper" class="content-wrapper clear-fix">
        <!--Begin Operating Procedures-->
        <section class="col-14" id="operating-procedures-section">
            <h2 class="h1-style">Operating Procedures</h2>
            <div class="description">
                <p>Every month, updates to operating procedures will be processed and made available here. All documents are in PDF format. </p>
            </div>

            <ul>
                <li class="procedure-change">
                    <a href="#" class="procedure-tag">
                        150.5
                    </a>

                    <div class="procedure-change-details">
                        <a href="#" class="multiline-link">Structured Living Program</a><span> - Document change only: </span><a href="#">Attachment 2 Understanding Structured Living Unit Housing - Sample</a>
                        <p class="date-stamp">Date Changed</p>
                    </div>
                </li>
                <li class="procedure-change">
                    <a href="#" class="procedure-tag">
                        180.3
                    </a>
                    <div class="procedure-change-details">
                        <a href="#" class="multiline-link">Reporting and investigaton of alleged abuse or assault against incapacitated offenders</a>
                        <p class="date-stamp">Date Changed</p>
                    </div>
                </li>
                <li class="procedure-change">
                    <a href="#" class="procedure-tag">
                        172.8
                    </a>
                    <div class="procedure-change-details">
                        <a href="#" class="multiline-link">Reporting and investigaton of alleged abuse or assault against incapacitated offenders</a>
                        <p class="date-stamp">Date Changed</p>
                    </div>
                </li>
                <li class="procedure-change">
                    <a href="#" class="procedure-tag">
                        193.5
                    </a>
                    <div class="procedure-change-details">
                        <a href="#" class="multiline-link">Reporting and investigaton of alleged abuse or assault against incapacitated offenders</a>
                        <p class="date-stamp">Date Changed</p>
                    </div>
                </li>
                <li class="procedure-change">
                    <a href="#" class="procedure-tag">
                        160.2
                    </a>
                    <div class="procedure-change-details">
                        <a href="#" class="multiline-link">Reporting and investigaton of alleged abuse or assault against incapacitated offenders</a>
                        <p class="date-stamp">Date Changed</p>
                    </div>
                </li>
            </ul>

            <a href="/public-resources/operating-procedures" class="primary-button">See all procedures</a>
        </section>
        <!-- End Operating Procedures -->
        <!-- Begin Mail Procedures -->
        <section class="col-12" id="mail-procedures-section">
            <h2 class="h1-style">Mail Procedures</h2>
            <p>Offenders are allowed to correspond with family, friends, attorneys, courts, and other public officials and organizations. All correspondence must comply with the VADOC procedures and not pose a threat to the facility’s security, violate any state or federal law, or violate any U.S. Postal Service regulation. View more details in Operating Procedure 803.1.</p>
            <a href="/families-and-friends/mail-procedures-and-restrictions" class="primary-button">
                Learn More
                <span class="accessibility-hidden">&nbsp;About Mail Procedures</span>
            </a>
        </section>
        <!--End Mail Procedures-->
        <!--  Begin Prea Section -->
        <section class="col-12" id="prea-section">
            <h2 class="h1-style">Prison Rape Elimination Act Compliance</h2>
            <p>We have a zero-tolerance policy for sexual abuse and sexual harassment in our facilities and offices, as part of the Prison Rape Elimination Act (PREA).</p>
            <a href="/offender-resources/prea" class="primary-button">
                Learn More
                <span class="accessibility-hidden">&nbsp;About PREA</span>
            </a>
        </section>
        <!-- -- End Prea Section -->
    </div>
</main>
<!-- End Main Content -->
