﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
}
@section HighPriorityStyles
    {
    <link href="~/styles/primary-page.css" rel="stylesheet" />
    <link href="~/styles/public-resources.css" rel="stylesheet" />
}
@Html.Partial("SiteLayout/BreadCrumbs")
<!-- Begin Main Content -->
<main>
    <!-- Begin Current Job Openings -->
    <section id="current-job-openings" class="content-wrapper clear-fix">
        <div id="job-openings-intro" class="col-14">
            <p id="mobile-page-heading" class="h1-style">@CurrentPage.pageTitle</p>
            <div class="description">
                <p>The Virginia Department of Corrections (VADOC) is composed of more than 12,000 employees across the state. Every day, they provide exemplary services and programs for the rehabilitation and supervision of offenders in our care. Each member of the agency contributes to our mission of ensuring the safety and security of the Commonwealth.</p>
            </div>
        </div>
        <div id="call-to-apply" class="dark-background col-9">
            <div class="col-6">
                <h2 class="h1-style">How to Apply</h2>
                <p>Visit the <a href="http://jobs.virginia.gov/" target="_blank"> Department of Human Resources <img src="~/images/global/icons/external-link.svg" /></a> to learn more.</p>

            </div>
            <img src="/images/job-opportunities/how-to-apply.svg" aria-hidden="true">
        </div>
        <!-- Begin Featured Job Opennings -->
        <ul id="featured-jobs-list">
            <li class="jc-with-image col-14 mar-r-1">
                <figure class="image-link">
                    <a href="#">
                        <img src="/images/global/stock-images/typing.jpg" alt="A nerd typing">
                    </a>
                </figure>
                <div class="job-card-small">
                    <dl class="col-9">
                        <dt class="accessibility-hidden">Job Title</dt>
                        <dd class="hyperlink-heading h2-style">
                            <a href="#">Electronic Technician Senior</a>
                        </dd>
                        <dt class="accessibility-hidden">Job Description</dt>
                        <dd class="job-description"> Assists in the up-keep of the physical plant by testing, maintaining, inventory, installing and repairing...</dd>
                        <dt class="accessibility-hidden">Job Salary Range</dt>
                        <dd class="salary-range">$36,730 &ndash; $71,467</dd>
                        <dt class="accessibility-hidden">Job Location</dt>
                        <dd class="job-location">
                            <a class="unstyled-link" href="#">
                                <img class="inline-pin" src="/images/global/icons/location.svg" aria-hidden="true" /><span class="job-location-name">Greensville </span><span>Greensville, Virginia</span>
                            </a>
                        </dd>
                    </dl>

                    <img class="card-icon" src="/images/job-opportunities/job-category-icons/trades.svg" aria-hidden="true" />
                </div>
            </li>
            <li class="jc-with-image col-14">
                <figure class="image-link">
                    <a href="#">
                        <img src="/images/facilities-and-offices/atmore.jpg" alt="back yard">
                    </a>
                </figure>
                <div class="job-card-small">
                    <dl class="col-9">
                        <dt class="accessibility-hidden">Job Title</dt>
                        <dd class="hyperlink-heading h2-style">
                            <a href="#">Food Operations Director</a>
                        </dd>
                        <dt class="accessibility-hidden">Job Description</dt>
                        <dd class="job-description">Directs a comprehensive food service program for the Department of Corrections Headquarters Café. Supervises staff and offenders in...</dd>
                        <dt class="accessibility-hidden">Job Salary Range</dt>
                        <dd class="salary-range">$43,892 &ndash; $83,201</dd>
                        <dt class="accessibility-hidden">Job Location</dt>
                        <dd class="job-location">
                            <a class="unstyled-link" href="#">
                                <img class="inline-pin" src="/images/global/icons/location.svg" aria-hidden="true" /><span class="job-location-name">VADOC Headquarters</span><span>Richmond, Virginia</span>
                            </a>
                        </dd>
                    </dl>

                    <img class="card-icon" src="/images/job-opportunities/job-category-icons/food-services.svg" aria-hidden="true" />
                </div>
            </li>
        </ul>
        <!-- End Featured Job Opennings -->
        <!-- Begin Job Sort UI Buttons -->
        <div id="results-sort" class="button-group" aria-hidden="true">
            <p class="button-group-title">Sort by: </p>
            <ul>
                <li>
                    <button id="name-sort"><span class="accessibility-hidden">Sort results by</span>Name</button>
                </li>
                <li>
                    <button id="location-sort"><span class="accessibility-hidden">Sort results by</span>Location</button>
                </li>
                <li>
                    <button id="salary-sort"><span class="accessibility-hidden">Sort results by</span>Salary Range</button>
                </li>
                <li>
                    <button id="date-sort"><span class="accessibility-hidden">Sort results by</span>Close Date</button>
                </li>
            </ul>
        </div>
        <!-- End Job Sort UI Buttons -->
        <!-- Begin Sortable Job Openings List -->
        @{Html.RenderAction("RenderJobsList", "JobsDataSurface"); }

    </section>
    <!-- End Current Job Openings -->
    <!-- Begin Employee Benefits -->
    <section id="employee-benefits">
        <div class="content-wrapper clear-fix">
            <h2>Employee Benefits</h2>
            <div class="description col-14">
                <p>VADOC employees enjoy a number of generous benefits, including:</p>
            </div>
            <ul class="clear-fix">
                <li>
                    <figure class="benefit">
                        <img src="/images/job-opportunities/benefit-icons/calendar.svg" aria-hidden="true">
                        <figcaption>12 Paid Holidays</figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="benefit">
                        <img src="/images/job-opportunities/benefit-icons/retirement.svg" aria-hidden="true">
                        <figcaption>Retirement Savings Program</figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="benefit">
                        <img src="/images/job-opportunities/benefit-icons/disability.svg" aria-hidden="true">
                        <figcaption>Long &amp; Short-term Disability</figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="benefit">
                        <img src="/images/job-opportunities/benefit-icons/education.svg" aria-hidden="true">
                        <figcaption>Education Assistance</figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="benefit">
                        <img src="/images/job-opportunities/benefit-icons/employee-assistance.svg" aria-hidden="true">
                        <figcaption>Employee Assistance Program</figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="benefit">
                        <img src="/images/job-opportunities/benefit-icons/flex.svg" aria-hidden="true">
                        <figcaption>Flexible Spending Program</figcaption>
                    </figure>
                </li>
            </ul>
            <a href="#" class="primary-button">See All Employee Benefits</a>
        </div>
    </section>
    <!-- End Employee Benefits -->
</main>
<!-- End Main Content -->
@section ScriptsBottom
    {
    <script src="~/scripts/job-cards.js"></script>
}
