﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;

@{
    Layout = null;
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@CurrentPage.pageTitle</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Microformats -->
    <link rel="profile" href="http://microformats.org/profile/hcard">
    @RenderSection("LowPriorityStyles", false)
    <!-- Global Stylesheets -->
    @{
        Html.RequiresCss("~/styles/reset.css");
        Html.RequiresCss("~/styles/main.css");
    }
    @Html.RenderCssHere()
    @RenderSection("HighPriorityStyles", false)
    
    <!-- Global Scripts in Head -->
    <script src="~/scripts/modernizr-custom.js"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("HeadScripts", false)
</head>
<body id="@CurrentPage.pageId" class="@CurrentPage.pageClass">
    @RenderSection("ScriptsTop", false)

    <header>
        @Html.Partial("SiteLayout/MobileNav")
        <div id="hero-banner">
            @Html.Partial("SiteLayout/SecondaryNav")
            @Html.Partial("SiteLayout/PrimaryNav")

            @{
        if (CurrentPage.id == homePage.id)
        {
            Html.RenderAction("RenderHomeHero", "SiteLayout");
        }
        else
        {
            Html.RenderAction("RenderBasicHero", "SiteLayout");
        }
            }
        </div>
    </header>

    @RenderBody()

    @{ Html.RenderAction("RenderFooter", "SiteLayout");}

    @{ Html.RenderAction("RenderReturnTop", "SiteLayout");}
    <!--  Scripts -->
    <script src="~/scripts/jquery-ui-datepicker.min.js"></script>
    <script src="~/scripts/client-side-validation.js"></script>
    <script src="~/scripts/mobile-nav.js"></script>
    <script src="~/scripts/app.js"></script>
    @RenderSection("ScriptsBottom", false)
</body>
</html>


