﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
}

@section HighPriorityStyles
{
    <link href="~/styles/primary-page.css" rel="stylesheet" />
}
@Html.Partial("SiteLayout/BreadCrumbs")
<!-- Begin Main Content -->
<main>
    <section class="content-wrapper" id="news-and-press">
        <p id="mobile-page-heading" class="h1-style">@CurrentPage.pageTitle</p>
        <ul class="featured-stories-feed">
            <li class="clickable-card col-14 mar-r-1">
                <article class="news-preview feature">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/trophies.jpg" />
                        </a>
                        <figcaption class="callout">Top News</figcaption>
                    </figure>
                    <div class="article-text">
                        <h2 class="hyperlink-heading">
                            <a href="#">Department of Corrections Receives Governor’s Tech Award...</a>
                        </h2>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at</p>
                    </div>
                </article>
            </li>
            <li class="clickable-card col-14">
                <article class="news-preview feature">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/pie-chart.jpg" />
                        </a>
                        <figcaption class="callout">Top News</figcaption>
                    </figure>
                    <div class="article-text">
                        <h2 class="hyperlink-heading">
                            <a href="#">Virginia Selected to Study Opioid Addiction Treatment Options...</a>
                        </h2>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at.</p>
                    </div>
                </article>
            </li>
            <li class="clickable-card col-14 mar-r-1">
                <article class="news-preview feature">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/conference-room.jpg" />
                        </a>
                        <figcaption class="callout">Media Alert</figcaption>
                    </figure>
                    <div class="article-text">
                        <h2 class="hyperlink-heading">
                            <a href="#">U.S. Department of State and Virginia Department of Corrections to sign Memorandum...</a>
                        </h2>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at.</p>
                    </div>
                </article>
            </li>
            <li class="clickable-card col-14">
                <article class="news-preview feature">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/microphone-3.jpg" />
                        </a>
                        <figcaption class="callout">Press Release</figcaption>
                    </figure>
                    <div class="article-text">
                        <h2 class="hyperlink-heading">
                            <a href="#">Virginia DOC Moves Detention Center Offenders from Southampton to Cold Springs...</a>
                        </h2>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at.</p>
                    </div>
                </article>
            </li>
        </ul>
    </section>
    <section class="content-wrapper" id="recent-news">
        <h2 class="col-18">Recent News</h2>
        <ul class="recent-stories-feed col-18 mar-r-1">
            <li>
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/gov-mansion.jpg" alt="" />
                        </a>
                    </figure>
                    <div class="article-text">
                        <h3 class="hyperlink-heading"><a href="#">Letter Gets Offender Busted for Drug Request</a></h3>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at</p>
                    </div>
                </article>
            </li>
            <li>
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/conference-room-2.jpg" alt="" />
                        </a>
                    </figure>
                    <div class="article-text">
                        <h3 class="hyperlink-heading"><a href="#">Virginia death row conditions lawsuit to be argued in appeals court</a></h3>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at</p>
                    </div>
                </article>
            </li>
            <li>
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/pie-chart.jpg" alt="" />
                        </a>
                    </figure>
                    <div class="article-text">
                        <h3 class="hyperlink-heading"><a href="#">Nine Indicted for Bringing Drugs to Jails</a></h3>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at</p>
                    </div>
                </article>
            </li>
            <li>
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/microphone.jpg" alt="" />
                        </a>
                    </figure>
                    <div class="article-text">
                        <h3 class="hyperlink-heading"><a href="#">Coeburn Welcomes Town Guests with Giant Rocking Chair</a></h3>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at</p>
                    </div>
                </article>
            </li>
            <li>
                <article class="news-preview">
                    <figure class="image-link">
                        <a href="#">
                            <img src="/images/global/stock-images/gov-mansion.jpg" alt="" />
                        </a>
                    </figure>
                    <div class="article-text">
                        <h3 class="hyperlink-heading"><a href="#">Pathologist says Ricky Gray's autopsy suggests problems with Virginia's execution procedure</a></h3>
                        <p class="date-stamp">July 10, 2017</p>
                        <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at</p>
                    </div>
                </article>
            </li>
        </ul>
        <!-- Begin right side bar -->
        <aside class="col-9 right-sidebar">
            <div class="vcard agent media-contact-info dark-background">
                <h2 class="h1-style">Contact</h2>
                <p class="fn h3-style">Nancy Drew,</p>
                <p class="title h3-style">Media Title Here</p>
                <div class="tel">
                    <p class="value">(123) 456-7890</p>
                </div>
                <p class="email">email@vadoc.virginia.gov</p>
                <img src="/images/global/icons/contact.svg" alt="Speech bubble icon" />
            </div>
            <div class="media-social-info dark-background">
                <h2 class="h1-style">Connect</h2>
                <p> Vinyl humblebrag umami franzen chillwave retro cornhole 90's etsy irony. Gochujang fingerstache pickled, hella tilde truffaut.</p>
                <ul>
                    <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/facebook.svg" alt="Facebook icon"></a></li>
                    <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/twitter.svg" alt="Twitter icon"></a></li>
                    <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/youtube.svg" alt="YouTube icon"></a></li>
                    <li><a href="#" target="_blank"><img class="social-button" src="/images/footer/linkedin.svg" alt="LinkedIn icon"></a></li>
                </ul>
            </div>
        </aside>
        <!-- End right side bar -->
        <hr />
    </section>
    <section class="content-wrapper" id="archived-news">
        <h2>Archived News</h2>
        <ul id="archived-years">
            <li class="drawer">
                <button class="drawer-icon"><span class="accessibility-hidden">Show archived articles for 2017</span></button>
                <h3>2017</h3>

                <ul>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Virginia Department of Corrections Wins Inagural Virginia Energy Efficiency Award</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Fighting From the Inside</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Former NFL player now tackling childhood hunger</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Victims Services Unit Announces Expanded Services</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Probation Office Finds New Home on Florida Avenue</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">VADOC Pilot Program Grows Tilapia (Wise Correctional Unit)</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                </ul>
            </li>
            <li class="drawer">
                <button class="drawer-icon"><span class="accessibility-hidden">Show archived articles for 2016</span></button>
                <h3>2016</h3>

                <ul>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Virginia Department of Corrections Wins Inagural Virginia Energy Efficiency Award</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Fighting From the Inside</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Former NFL player now tackling childhood hunger</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Victims Services Unit Announces Expanded Services</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Probation Office Finds New Home on Florida Avenue</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">VADOC Pilot Program Grows Tilapia (Wise Correctional Unit)</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                </ul>
            </li>
            <li class="drawer">
                <button class="drawer-icon"><span class="accessibility-hidden">Show archived articles for 2015</span></button>
                <h3>2015</h3>

                <ul>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Virginia Department of Corrections Wins Inagural Virginia Energy Efficiency Award</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Fighting From the Inside</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Former NFL player now tackling childhood hunger</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Victims Services Unit Announces Expanded Services</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Probation Office Finds New Home on Florida Avenue</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">VADOC Pilot Program Grows Tilapia (Wise Correctional Unit)</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                </ul>
            </li>
            <li class="drawer">
                <button class="drawer-icon"><span class="accessibility-hidden">Show archived articles for 2014</span></button>
                <h3>2014</h3>

                <ul>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Virginia Department of Corrections Wins Inagural Virginia Energy Efficiency Award</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Fighting From the Inside</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Former NFL player now tackling childhood hunger</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Victims Services Unit Announces Expanded Services</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Probation Office Finds New Home on Florida Avenue</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">VADOC Pilot Program Grows Tilapia (Wise Correctional Unit)</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                </ul>
            </li>
            <li class="drawer">
                <button class="drawer-icon"><span class="accessibility-hidden">Show archived articles for 2013</span></button>
                <h3>2013</h3>

                <ul>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Virginia Department of Corrections Wins Inagural Virginia Energy Efficiency Award</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Fighting From the Inside</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Former NFL player now tackling childhood hunger</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Victims Services Unit Announces Expanded Services</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">Probation Office Finds New Home on Florida Avenue</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="article-text">
                                <h4>
                                    <a class="multiline-link" href="#">VADOC Pilot Program Grows Tilapia (Wise Correctional Unit)</a>
                                </h4>
                                <p class="date-stamp">December 01, 2017</p>
                                <p>feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at...</p>
                            </div>
                            <figure class="image-link">
                                <a href="#">
                                    <img src="/images/global/stock-images/gov-mansion.jpg" alt="-">
                                </a>
                            </figure>
                        </article>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</main>
<!-- End Main Content -->
@section ScriptsBottom
{
    <script src="~/scripts/news-landing.js"></script>
    <script src="~/scripts/drawer-ui.js"></script>
}