﻿@inherits UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "MasterLayout.cshtml";
}

@section LowPriorityStyles
    {
    <link rel="stylesheet" href="~/styles/jquery-ui-datepicker.min.css" />
}

@section HighPriorityStyles
    {
    <link rel="stylesheet" href="~/styles/public-resources.css" />
}

@Html.Partial("SiteLayout/BreadCrumbs")
<!-- Begin Main Content -->
<main id="main-content">
    <p id="mobile-page-heading" class="h1-style">@CurrentPage.pageTitle"</p>

    <div id="form-requirements" class="content-wrapper">
        <p>A first or last name OR Offender I.D. # are required for all searches.</p>
    </div>

    <section id="offender-search">
        <!-- Begin Offender Locator Form -->
        @{ Html.RenderAction("RenderOffenderLocatorForm", "PublicResourcesSurface");}
        <!-- End Offender Locator Form -->


    </section>
</main>
<!-- End Main Content -->
@section ScriptsBottom
    {
    <script src="~/scripts/offender-locator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
}
