﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayout.cshtml";
    var root = CurrentPage.AncestorOrSelf(2);
    var currentContent = Model.Content;
    var pageContentType = CurrentPage.pageContentType != null ? CurrentPage.pageContentType : null;
}

@section LowPriorityStyles {
    <!-- Conditional logic for loading page specific lower priority style sheets -->
}

@section HighPriorityStyles {
    <!-- Conditional logic for loading page specific higher priority style sheets -->
    @if (pageContentType == "Victim Services")
    {
        <link href="~/styles/victim-services.css" rel="stylesheet" />
    }
    else if (pageContentType == "Family and Friends")
    {
        <link href="~/styles/families-and-friends.css" rel="stylesheet" />
    }
    else if (pageContentType == "Offenders")
    {
        <link href="~/styles/offender-resources.css" rel="stylesheet" />
    }
    else if (pageContentType == "General Public")
    {
        <link href="~/styles/public-resources.css" rel="stylesheet" />
    }
}

@section HeadScripts {
    <!-- Conditional logic for loading page specific JavaScripts in head -->
}

@Html.Partial("SiteLayout/BreadCrumbs")
<!-- Helps anchor sidebars below header -->
<div class="relative-container content-wrapper clear-fix">

    <!-- Begin Main Content -->
    <main class="with-sidebar-nav">
        <p id="mobile-page-heading" class="h1-style">@CurrentPage.pageTitle</p>
        <div class="col-19">
            <h2>@CurrentPage.pageContentType</h2>
            @Html.Raw(CurrentPage.mainContent)
        </div>
    </main>
    <!-- End Main Content -->
    <!-- Begin Left Sidebar -->
    <aside class="col-8 left-sidebar">
        <nav class="sidebar-nav col-8">
            <ul>
                @if (root != null)
                {
                    if (CurrentPage.Level <= root.Level + 1)
                    {
                        <li class="@root.IsEqual(currentContent, "active", "parent")">
                            <a class="multiline-link" href="@root.Url">
                                <span>@root.Name</span>
                            </a>
                        </li>
                    }

                    if (root.Children != null && root.Children.Any())
                    {
                        foreach (var child in root.Children)
                        {
                            if (CurrentPage.IsEqual(root) || child.Level == CurrentPage.Level || child.IsEqual(CurrentPage.Parent))
                            {
                                <li class="@child.IsEqual(currentContent, "active", "") @child.IsEqual(CurrentPage.Parent, "parent", "")">
                                    <a class="multiline-link" href="@child.Url">
                                        <span>@child.Name</span>
                                    </a>
                                </li>
                            }

                            if ((child.Id == CurrentPage.Id && currentContent.Children != null && currentContent.Children.Any()))
                            {
                                <li class="tier-3-wrapper">
                                    <ul class="tier-3">
                                        @foreach (var grandchild in child.Children)
                                        {
                                            <li class="@grandchild.IsEqual(currentContent, "active", "")">
                                                <a class="multiline-link" href="@grandchild.Url">
                                                    <span>@grandchild.Name</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else if (CurrentPage.Level > child.level && child.Id == CurrentPage.Parent.Id)
                            {
                                foreach (var grandchild in child.Children)
                                {
                                    <li class="@grandchild.IsEqual(currentContent, "active", "")">
                                        <a class="multiline-link" href="@grandchild.Url">
                                            <span>@grandchild.Name</span>
                                        </a>
                                    </li>
                                }
                            }
                        }
                    }
                }
            </ul>
        </nav>

        @Html.Partial("SiteLayout/SidebarContactCard")

        @Html.Partial("SiteLayout/SidebarAlertCallout")
    </aside>
    <!-- End Left Sidebar -->
</div>
<!-- End relative sidebar anchor -->

@section ScriptsBottom {
    <!-- Conditional logic for loading page specific JavaScripts -->
    @if (pageContentType == "General Public")
    {
        <script src="~/scripts/drawer-ui.js"></script>
    }
}

