﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
}


@section HighPriorityStyles
    {
    <link href="~/styles/primary-page.css" rel="stylesheet" />
}

@Html.Partial("SiteLayout/BreadCrumbs")
<!-- Begin Main Content -->
<main class="content-wrapper">
    <section id="site-search" class="col-19">
        @CurrentPage.bodyText
    </section>
</main>
<!-- End Main Content -->
